body,html {
	margin: 0;
}

li,ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#wenkmPlayer,.ts5 {
	-webkit-transition: .5s;
	transition: .5s;
}

#wenkmPlayer {
	position: fixed;
	bottom: 40px;
	left: -540px;
	z-index: 5000;
	width: 540px;
	box-shadow: 0 0 5px 5px rgba(0,0,0,.2);
	color: #38343e;
	text-align: left;
	font-family: 'Open Sans',sans-serif;
}

#wenkmPlayer .player {
	position: relative;
	overflow: hidden;
	height: 100px;
	border-radius: 5px 5px 0 0;
	background-color: rgba(0,0,0,.1);
	text-shadow: none;
}

#wenkmPlayer .player .cover {
	position: absolute;
	top: 10px;
	left: 10px;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#wenkmPlayer .player .cover:after {
	position: absolute;
	top: 45px;
	left: 0;
	width: 100%;
	text-align: center;
	opacity: .5;
}

#wenkmPlayer .player .cover.changing img {
	opacity: 0;
	-webkit-transform: scale(.3);
	transform: scale(.3);
	-ms-transform: scale(.3);
}

#wenkmPlayer .player .cover img {
	position: relative;
	z-index: 10;
	width: 80px;
	height: 80px;
	border: 2px #fff solid;
	border-radius: 50%;
	-webkit-transition: .5s;
	transition: .5s;
	//top: -5px;
	//left: -2px;
}

#wenkmPlayer .player .infos {
	position: absolute;
	top: 20px;
	left: 100px;
	color: #fff;
}

#wenkmPlayer .player .infos .artiststyle {
	margin-top: 15px;
}

#wenkmPlayer .player .infos .geci,#wenkmPlayer .player .infos .moshi {
	float: right;
}

#wenkmPlayer .player .infos .timestyle {
	margin-top: -20px;
	margin-left: 10px;
	font-size: 9pt;
}

#wenkmPlayer .player .control {
	position: relative;
	bottom: -58px;
	left: 100px;
	float: left;
	z-index: 99999;
	color: #fff;
	text-shadow: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#wenkmPlayer .player .control .loop,#wenkmPlayer .player .control .next,#wenkmPlayer .player .control .prev,#wenkmPlayer .player .control .random,#wenkmPlayer .player .control .play,#wenkmPlayer .player .control .pause {
	margin-right: 10px;
	cursor: url(../fonts/82e271a48bb84420a1bd24f21d4aece0.svg);
	-webkit-filter: blur(20px);
	-moz-filter: blur(20px);
	-ms-filter: blur(20px);
	filter: blur(20px);
	filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=20, MakeShadow=false);
}
