<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8"> 
   <!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
   <title>login form</title>
   <link rel="stylesheet" href="static/home/bootstrap-3.3.7/css/bootstrap.css">
   <link rel="stylesheet" href="static/home/main.css">     
   <script src="jquery.js"></script>
   <script src="static/home/bootstrap-3.3.7/js/bootstrap.js"></script>
</head>
<body>

<div class="container">
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <div class="col-xs-6 col-xs-offset-3 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3">
                <input class="form-control" type="text" placeholder="Username" name="username"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-6 col-xs-offset-3 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3">
                <input class="form-control" type="password" placeholder="Password" name="password"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-6 col-xs-offset-3 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3">
            <input class="form-control btn btn-success" type="submit" value="Sign Up"/>
            <div>
        </div>
    </form>
</div>

</body>
</html>