<div class="modal fade" id="askModal" tabindex="-1" role="dialog" aria-labelledby="askModalLabel" aria-hidden="true">
	<div class="modal-dialog askmodal">
        <div class="Modal-inner">
            <h3 class="Modal-title" id="askModalLabel">写下你的问题</h3>
            <div class="Modal-subtitle">描述精确的问题更易得到解答</div>
                <div class="Modal-content">
                    <div class="QuestionAsk">
                        <form method="post" action="/question/" id="form_ask">
                        {% csrf_token %}            
                            <div class="QuestionAsk-section">
                                <div class="QuestionAsk-title">
                                        <div class="Input-wrapper Input-wrapper--spread Input-wrapper--multiline Input-wrapper--large">
                                        <textarea required="" name="title" rows="2" autocomplete="off" role="combobox" aria-expanded="false" aria-autocomplete="list" aria-activedescendant="AutoComplet-64372-3800-0" id="Popover-64372-42711-toggle" aria-haspopup="true" aria-owns="Popover-64372-42711-content" class="Input" placeholder="问题标题"></textarea>
                                        </div>
                                </div>
                            </div>
            
                            <div class="QuestionAsk-section">
                                <div class="TagInput TagInput--empty">
                                            <select id="topics_select" name="topics_selected" class="selectpicker show-menu-arrow form-control" multiple data-live-search="true" data-max-options="5" data-style="Input-wrapper Input-wrapper--spread Input-wrapper--large" title="添加话题">
                                            </select>
                                </div>
                            </div>

                            <input id="hide_for_submit" type="hidden" name="topics" value="null123">
                
                            <div class="QuestionAsk-section QuestionAsk-DetailSection">问题描述（可选）:<textarea id="summernote_question" name="detail" 1rows="5" 1cols="70" 1maxlength="160"></textarea>              
                            </div>
                           
                            <div class="ModalButtonGroup QuestionAsk-buttonGroup ModalButtonGroup--vertical">
                                <button class="1Button 1Button--primary 1Button--green btn btn-success" type="submit" form="form_ask">提交问题</button>
                            </div>
                        </form>
                    </div>
                </div>
		</div>        
        <button data-dismiss="modal" aria-hidden="true" class="Button Modal-closeButton Button--plain close" aria-label="关闭" type="button">
        <svg class="Zi Zi--Close Modal-closeIcon" fill="currentColor" viewBox="0 0 24 24" width="24" height="24"><path d="M13.486 12l5.208-5.207a1.048 1.048 0 0 0-.006-1.483 1.046 1.046 0 0 0-1.482-.005L12 10.514 6.793 5.305a1.048 1.048 0 0 0-1.483.005 1.046 1.046 0 0 0-.005 1.483L10.514 12l-5.208 5.207a1.048 1.048 0 0 0 .006 1.483 1.046 1.046 0 0 0 1.482.005L12 13.486l5.207 5.208a1.048 1.048 0 0 0 1.483-.006 1.046 1.046 0 0 0 .005-1.482L13.486 12z" fill-rule="evenodd"></path></svg></button>        
	</div>
</div>