<!DOCTYPE html>
<html lang="zh" data-hairline="true" data-theme="light" data-focus-method="pointer" style="">
{% include 'question/head.html' %}
<body class="Entry-body" style="background-color:#fff">
{% include 'question/header.html' %}

<div class="Sticky--holder" style="position: relative; top: 0px; right: 0px; bottom: 0px; left: 0px; display: block; float: none; margin: 0px; height: 3px;"></div>

<!--------------------main---------------------->
<main role="main" class="App-main" data-module="alltopics" data-dfs-main='{"logged":"{{logged}}","user_id":"{{user.id}}"}'>
<div class="ContentLayout">
<div class="ContentLayout-mainColumn">
<div class="1Card">
<div id="appendArea" class="List">
</div>
</div>
</div>
</div>

</main>
<!--------------------main end-------------------->

<!-- ask（Modal） -->
{% include 'question/ask_modal.html' %}
<!-- ask（Modal） -->

<!-- letter（Modal） -->
<!-- append by js -->
<!-- letter（Modal） -->

</body>

</html>