<!DOCTYPE html>
<html lang="zh" data-hairline="true" data-theme="light" data-focus-method="pointer" style="">
{% include 'question/head.html' %}
<body class="Entry-body">
{% include 'question/header.html' %}

<div class="Sticky--holder" style="position: relative; top: 0px; right: 0px; bottom: 0px; left: 0px; display: block; float: none; margin: 0px; height: 3px;"></div>

<!--------------------main---------------------->
<main role="main" class="App-main" data-module="answer_page" data-dfs-main='{"logged":"{{logged}}","user_id":"{{user.id}}","user_name":"{{user.first_name}}","type":"{{type}}"}'>
<div class="ContentLayout">

<div class="ContentLayout-mainColumn">
<div class="Card">

<ul role="tablist" class="Tabs 1ProfileMain-tabs">
<li role="tab" class="Tabs-item" data-type="recommend"><a class="Tabs-link" href="/answer_page/?type=recommend">为你推荐<span class="Tabs-meta">0</span></a></li>
<li role="tab" class="Tabs-item" data-type="all"><a class="Tabs-link " href="/answer_page/?type=all">全站<span class="Tabs-meta">0</span></a></li>
<li role="tab" class="Tabs-item" data-type="invited"><a class="Tabs-link " href="/answer_page/?type=invited">邀请回答<span class="Tabs-meta">0</span></a></li>
</ul>

<div>
<div class="List">
<div class="List-header"><h4 class="List-headerText"><span></span></h4></div>
<div id="appendArea">
</div>
</div>
</div>

</div>
</div>

<div class="ContentLayout-sideColumn">
</div>

</div>
</main>
<!--------------------main end-------------------->

<!-- ask（Modal） -->
{% include 'question/ask_modal.html' %}
<!-- ask（Modal） -->

<!-- letter（Modal） -->
<!-- append by js -->
<!-- letter（Modal） -->
</body>

</html>