<!DOCTYPE html>
<html lang="zh" data-hairline="true" data-theme="light" data-focus-method="pointer" style="">
{% include 'question/head.html' %}
<body class="Entry-body">
{% include 'question/header.html' %}

<div class="Sticky--holder" style="position: relative; top: 0px; right: 0px; bottom: 0px; left: 0px; display: block; float: none; margin: 0px; height: 3px;"></div>

<!--------------------main---------------------->
<main role="main">

<div class="AppHeader">
<div class="container">
<div class="row">
<div class="1col-md-offset-1 col-md-8">

<div class="zu-main-content">
<div class="zu-main-content-inner">
        <ul class="nav nav-tabs nav-justified">
        <li class="settings-link"><a href="/answer_page/?type=recommend">为你推荐</a></li>
        <li class="settings-link"><a href="/answer_page/?type=all">全站</a></li>
        <li class="settings-link"><a href="/answer_page/?type=invited">邀请回答</a></li>
        </ul>
        {% ifequal type 'recommend' %}
        <div class="List-header"><h5 class="List-headerText"><span>为你推荐的问题</span></h5></div>
        {% else %}
            {% ifequal type 'all' %}
            <div class="List-header"><h5 class="List-headerText"><span>全站的问题</span></h5></div>
            {% else %}
            <div class="List-header"><h5 class="List-headerText"><span>邀请我回答的问题</span></h5></div>
            {% endifequal %}
        {% endifequal %}
        <div id="answer-items"  data-type="{{type}}" data-user-name="{{user.first_name}}">
        </div>
</div>
</div>

</div>
</div>
</div>
</div>

</main>
<!--------------------main end-------------------->

<!-- ask（Modal） -->
{% include 'question/ask_modal.html' %}
<!-- ask（Modal） -->

<!-- letter（Modal） -->
<!-- append by js -->
<!-- letter（Modal） -->
<script>

function appendAnswerTheRecommendElement(ret)
{
    for ( var i in ret)
    {
        var question_id=ret[i][0];
        var question_title=ret[i][1];
        var question_pubdate=ret[i][2].split('.')[0];
        var question_answer_nums=ret[i][3];
        var question_follower_nums=ret[i][4];
        
        var topic_id=1;
        var topic_name="话题";
        
        var data='<div class="List-item">\
                        <div class="Feed-title">\
                            <div class="Feed-meta">\
                            <span class="Feed-meta-item">来自话题:<span>\
                            <a href="/topic/'+topic_id+'/" class="TopicPopover" data-topic-id="'+topic_id+'" data-toggle="popover" data-placement="bottom" data-trigger="manual" data-content="null" data-html="true">'+topic_name+'</a>\
                            </div>\
                        </div>\
                        <div class="ContentItem"><h3 class="ContentItem-title"><div class="QuestionItem-title"><a href="/question/'+question_id+'" target="_blank">'+question_title+'</a></div></h3><div class="ContentItem-status"><span class="ContentItem-statusItem">'+question_answer_nums+' 个回答</span><span class="ContentItem-statusItem">'+question_follower_nums+' 个关注</span></div></div>\
                    </div>';
        $("#answer-items").append(data);
    }
}

function appendAnswerTheAllElement(ret)
{
    for ( var i in ret)
    {
        var question_id=ret[i][0];
        var question_title=ret[i][1];
        var question_pubdate=ret[i][2].split('.')[0];
        var question_answer_nums=ret[i][3];
        var question_follower_nums=ret[i][4];        
        var topic_id=ret[i][5];
        var topic_name=ret[i][6];
        
        var data='<div class="List-item">\
                        <div class="Feed-title">\
                            <div class="Feed-meta">\
                            <span class="Feed-meta-item">来自话题:<span>\
                            <a href="/topic/'+topic_id+'/" class="TopicPopover" data-topic-id="'+topic_id+'" data-toggle="popover" data-placement="bottom" data-trigger="manual" data-content="null" data-html="true">'+topic_name+'</a>\
                            </div>\
                        </div>\
                        <div class="ContentItem"><h3 class="ContentItem-title"><div class="QuestionItem-title"><a href="/question/'+question_id+'" target="_blank">'+question_title+'</a></div></h3><div class="ContentItem-status"><span class="ContentItem-statusItem">'+question_answer_nums+' 个回答</span><span class="ContentItem-statusItem">'+question_follower_nums+' 个关注</span></div></div>\
                    </div>';
        $("#answer-items").append(data);
    }
}

function appendAnswerInvitedElement(ret)
{
    for ( var i in ret)
    {
        var notification_id=ret[i][0];
        var notification_type=ret[i][1];
        var notification_active_id=ret[i][2];
        var notification_status=ret[i][3];
        var notification_pub_date=ret[i][4].split('.')[0];
        var notification_sender_id=ret[i][5];
        var notification_sender_first_name=ret[i][6];
        var question_title=ret[i][7];
        var question_answer_nums=ret[i][8];
        var question_follower_nums=ret[i][9]; 
        
        var data='<div class="List-item">\
                        <div class="ContentItem"><h3 class="ContentItem-title"><div class="QuestionItem-title"><a href="/question/'+notification_active_id+'" target="_blank">'+question_title+'</a></div></h3><div class="ContentItem-status"><span class="ContentItem-statusItem"><a href="/er/'+notification_sender_id+'">'+notification_sender_first_name+'</a></span><span class="ContentItem-statusItem">邀请你回答</span><span class="ContentItem-statusItem">'+notification_pub_date+' </span><span class="ContentItem-statusItem">'+question_answer_nums+' 个回答</span><span class="ContentItem-statusItem">'+question_follower_nums+' 个关注</span></div></div>\
                    </div>';
        $("#answer-items").append(data);
    }
}

//获取文档完整的高度 
function getMoreData(step) { 
    var type=$("#answer-items").attr("data-type");
    var nums=$('.List-item').length;
    var order=1;//pub_date
    var start=nums;
    var end=start+step;
    $.get('/ajax/answer_page/'+type+'/'+order+'/'+start+'/'+end+'/',function(ret){
        if("fail"!=ret)
        {
            if("recommend"==type)
                appendAnswerTheRecommendElement(ret);
            else if("all"==type)
                appendAnswerTheAllElement(ret);
            else if("invited"==type)
                appendAnswerInvitedElement(ret);
            checkSets();
            //alert(ret);
        }
    });
} 


window.onscroll = function () { 
console.log(getScrollTop());
console.log(getClientHeight());
console.log(getScrollHeight());
if (getScrollTop() + getClientHeight() +1 >= getScrollHeight()) { 
        getMoreData(5); 
    } 
} 

/*
$(function() {
    getMoreData();
});
*/
function init()
{
    var type=$("#answer-items").attr("data-type");
    console.log(type);
    $(".settings-link").removeClass("active");
    $(".settings-link").each(function(){
        if($(this).children("a").attr("href"))
        {
            if($(this).children("a").attr("href").indexOf(type)>-1)
                $(this).addClass("active");
        }
    });    
    getMoreData(10);
    appendLetterModal();
    checkSets();    
}
</script>
</body>

</html>