<!DOCTYPE html>
<html lang="zh" data-hairline="true" data-android="true" data-theme="light">
{% include 'question/head_mobile.html' %}
<script src="/static/common/prod/citys.min.20181030134831.js"></script>
<script src="/static/common/prod/business_mobile.min.20181030134831.js"></script>
<body class="Entry-body" style="background-color:#fff">
<body class="Mobile-body">
<div id="root">
<div class="App">
<div class="LoadingBar"></div>
<div class="Mobile-header is-hide">
{% include 'question/header_mobile.html' %}
</div>

<main role="main" class="App-main" data-module="businesses" data-dfs-main='{"logged":"{{logged}}","user_id":"{{user.id}}","user_name":"{{user.first_name}}"}'>

<div id="1businesses">

<div class="Card BusinessHead">

<div class="Card-header">
<div class="Card-headerText">
<span>请选择区域><span id='local'></span></span>
</div>
<a type="button" class="Button PostBusinessButton Button--primary Button--green" href="/business/post/">免费发布信息</a>
</div>

<section id="selection">
<div>
   
<dl class="secitem">
<dt>省份：</dt>
<dd id="provinces">
<a class="select select-province" href="javascript:;" data-addr-value="000000">全国</a>
</dd>
</dl>

<dl class="secitem">
<dt>城市：</dt>
<dd id="citys">   
<a class="select select-city" href="javascript:;" data-addr-value="000000">全部</a>
</dd>
</dl>

<dl class="secitem">
<dt>地区：</dt>
<dd id="districts">   
<a class="select select-district" href="javascript:;" data-addr-value="000000">全部</a>
</dd>
</dl>


<div id="SearchForm" class="sale_search clearfix_z" style="border-bottom: 0px;">
<div class="SearchBar">
<div class="SearchBar-toolWrapper" style="float:left;">
<div class="SearchBar-input Input-wrapper Input-wrapper--grey">
<input id="businessSearchInput" type="text" maxlength="100" autocomplete="off" role="combobox" aria-expanded="false" aria-autocomplete="list" aria-haspopup="true" class="SearchPopover Input" placeholder="搜索物品的关键字..." value="" data-toggle="popover" data-placement="bottom" data-trigger="manual" data-content="null" data-html="true" data-container="body">
</div>
</div>
<button id="businessSearchButton" type="button" class="Button Button--primary Button--green 1is-hide">搜索</button>
</div>
</div>

<div class="selectResult clearfix" id="selected" style="display: none;"><div class="barct clearfix"></div></div>
</div>
</section>

</div>

<div class="Card">
<div>
<div>
<div class="Sticky" style=""></div>
</div>
</div>
<div class="1Topic-bar">
<ul role="tablist" class="Tabs Businesses-tabs">
<!--append-->   
    <li role="tab" class="Tabs-item Tabs-item--noMeta"><a class="Tabs-link is-active" data-business-type="all" href="javascript:;">全部</a ></li>
    <li role="tab" class="Tabs-item Tabs-item--noMeta"><a class="Tabs-link" data-business-type="sell" href="javascript:;">出售</a></li>
    <li role="tab" class="Tabs-item Tabs-item--noMeta"><a class="Tabs-link" data-business-type="buy" href="javascript:;">求购</a></li>
</ul>
</div>
</div>

<div class="Card">
<div class="List">
<div id="appendArea" class="">
<!--<div class="List-item SearchItem">-->
</div>
</div>
</div>

<!--<button class="OpenInAppButton OpenInApp is-shown">App 内打开</button>-->

</div>
</main>

</div>
</div>

<!-- ask（Modal） -->
{% include 'question/ask_modal_mobile.html' %}
</body>
</html>