<!DOCTYPE html>
<html lang="zh" data-hairline="true" data-theme="light" data-focus-method="pointer" style="">
{%load static %}
<link rel="stylesheet" type="text/css" href="{% static 'common/business.css' %}">
<script src="{% static 'common/citys.js' %}"></script>
<script src="{% static 'common/business.js' %}"></script>
{% include 'question/head.html' %}
<body class="Entry-body" style="background-color:#fff">
{% include 'question/header.html' %}

<div class="Sticky--holder" style="position: relative; top: 0px; right: 0px; bottom: 0px; left: 0px; display: block; float: none; margin: 0px; height: 3px;"></div>

<!--------------------main---------------------->
<main role="main" class="App-main" data-module="businesses" data-dfs-main='{"logged":"{{logged}}","user_id":"{{user.id}}","user_name":"{{user.first_name}}"}'>
<div class="ContentLayout">
<div class="ContentLayout-mainColumn">

<!--
<div class="Card">

<div class="SearchBar">
<div class="SearchBar-toolWrapper">
<div class="SearchBar-input Input-wrapper Input-wrapper--grey">
<input id="businessSearchInput" type="text" maxlength="100" autocomplete="off" role="combobox" aria-expanded="false" aria-autocomplete="list" aria-haspopup="true" class="SearchPopover Input" placeholder="搜索关键字..." value="" data-toggle="popover" data-placement="bottom" data-trigger="manual" data-content="null" data-html="true" data-container="body">
<div class="Input-after"><button id="1search_button" aria-label="搜索" type="button" class="Button SearchBar-searchIcon Button--primary"><svg viewBox="0 0 16 16" class="Icon Icon--search" width="16" height="16" aria-hidden="true" style="height: 16px; width: 16px;"><title></title><g><path d="M12.054 10.864c.887-1.14 1.42-2.57 1.42-4.127C13.474 3.017 10.457 0 6.737 0S0 3.016 0 6.737c0 3.72 3.016 6.737 6.737 6.737 1.556 0 2.985-.533 4.127-1.42l3.103 3.104c.765.46 1.705-.37 1.19-1.19l-3.103-3.104zm-5.317.925c-2.786 0-5.053-2.267-5.053-5.053S3.95 1.684 6.737 1.684 11.79 3.95 11.79 6.737 9.522 11.79 6.736 11.79z"></path></g></svg></button></div>
</div>
</div>
<button id="businessSearchButton" type="button" class="Button Button--primary Button--green is-hide">搜索</button>
<button type="button" class="Button PostBusinessButton Button--primary Button--green" data-toggle="modal" data-target="#postBusiness">发布信息</button>
</div>

</div>

<div class="Card">
<div class="Card-header">
<div class="Card-headerText">
<a target="_blank" href="/er/2/following/topics/">选择地区</a> 
</div>
</div>

<div class="Card-section">
<div class="Tag current">
<span class="Tag-content">
<a class="1TopicLink" href="#1">数学</a>
</span>
</div>
<div class="Tag">
<span class="Tag-content">
<a class="1TopicLink" href="#3">英语</a>
</span>
</div>
</div>

<div class="Card-section">
<div class="Tag current">
<span class="Tag-content">
<a class="1TopicLink" href="#1">数学</a>
</span>
</div>
<div class="Tag">
<span class="Tag-content">
<a class="1TopicLink" href="#3">英语</a>
</span>
</div>
</div>

<div class="Card-section">
<div class="Tag current">
<span class="Tag-content">
<a class="1TopicLink" href="#1">数学</a>
</span>
</div>
<div class="Tag">
<span class="Tag-content">
<a class="1TopicLink" href="#3">英语</a>
</span>
</div>
</div>

</div>
-->

<div class="Card BusinessHead">

<div class="Card-header">
<div class="Card-headerText">
<span>请选择区域><span id='local'></span></span>
</div>
<a type="button" class="Button PostBusinessButton Button--primary Button--green" href="/business/post/">免费发布信息</a>
</div>

<section id="selection">
<div>
   
<dl class="secitem">
<dt>省份：</dt>
<dd id="provinces">
<a class="select select-province" href="javascript:;" data-addr-value="0">全国</a>
</dd>
</dl>

<dl class="secitem">
<dt>城市：</dt>
<dd id="citys">   
<a class="select select-city" href="javascript:;" data-addr-value="0">全部</a>
</dd>
</dl>

<dl class="secitem">
<dt>地区：</dt>
<dd id="districts">   
<a class="select select-district" href="javascript:;" data-addr-value="0">全部</a>
</dd>
</dl>


<div id="SearchForm" class="sale_search clearfix_z" style="border-bottom: 0px;">
<div class="SearchBar">
<div class="SearchBar-toolWrapper">
<div class="SearchBar-input Input-wrapper Input-wrapper--grey">
<input id="businessSearchInput" type="text" maxlength="100" autocomplete="off" role="combobox" aria-expanded="false" aria-autocomplete="list" aria-haspopup="true" class="SearchPopover Input" placeholder="搜索关键字..." value="" data-toggle="popover" data-placement="bottom" data-trigger="manual" data-content="null" data-html="true" data-container="body">
<div class="Input-after"><button id="1search_button" aria-label="搜索" type="button" class="Button SearchBar-searchIcon Button--primary"><svg viewBox="0 0 16 16" class="Icon Icon--search" width="16" height="16" aria-hidden="true" style="height: 16px; width: 16px;"><title></title><g><path d="M12.054 10.864c.887-1.14 1.42-2.57 1.42-4.127C13.474 3.017 10.457 0 6.737 0S0 3.016 0 6.737c0 3.72 3.016 6.737 6.737 6.737 1.556 0 2.985-.533 4.127-1.42l3.103 3.104c.765.46 1.705-.37 1.19-1.19l-3.103-3.104zm-5.317.925c-2.786 0-5.053-2.267-5.053-5.053S3.95 1.684 6.737 1.684 11.79 3.95 11.79 6.737 9.522 11.79 6.736 11.79z"></path></g></svg></button></div>
</div>
</div>
<button id="businessSearchButton" type="button" class="Button Button--primary Button--green 1is-hide">搜索</button>
</div>
<!--
<form id="search_loc" action="" method="get">
<span class="search_input">
<input class="but-wd" value="请输入关键字" maxlength="40" fdv="" id="keyword1" name="b_q" para="key" autocomplete="off">
</span>
<span class="selfcata"><input type="submit" id="searchbtn1" class="search_on" value="搜本类"></span>
<span class="selfcata" id="search_all"><input type="button" value="搜全站"></span>
</form>
-->
</div>


<!--
<div class="SearchBar" style="clear:both;">
<div class="SearchBar-toolWrapper">
<div class="SearchBar-input Input-wrapper Input-wrapper--grey">
<input id="businessSearchInput" type="text" maxlength="100" autocomplete="off" role="combobox" aria-expanded="false" aria-autocomplete="list" aria-haspopup="true" class="SearchPopover Input" placeholder="搜索关键字..." value="" data-toggle="popover" data-placement="bottom" data-trigger="manual" data-content="null" data-html="true" data-container="body">
<div class="Input-after"><button id="1search_button" aria-label="搜索" type="button" class="Button SearchBar-searchIcon Button--primary"><svg viewBox="0 0 16 16" class="Icon Icon--search" width="16" height="16" aria-hidden="true" style="height: 16px; width: 16px;"><title></title><g><path d="M12.054 10.864c.887-1.14 1.42-2.57 1.42-4.127C13.474 3.017 10.457 0 6.737 0S0 3.016 0 6.737c0 3.72 3.016 6.737 6.737 6.737 1.556 0 2.985-.533 4.127-1.42l3.103 3.104c.765.46 1.705-.37 1.19-1.19l-3.103-3.104zm-5.317.925c-2.786 0-5.053-2.267-5.053-5.053S3.95 1.684 6.737 1.684 11.79 3.95 11.79 6.737 9.522 11.79 6.736 11.79z"></path></g></svg></button></div>
</div>
</div>
<button id="businessSearchButton" type="button" class="Button Button--primary Button--green is-hide">搜索</button>
<button type="button" class="Button PostBusinessButton Button--primary Button--green" data-toggle="modal" data-target="#postBusiness">发布信息</button>
</div>
-->

<div class="selectResult clearfix" id="selected" style="display: none;"><div class="barct clearfix"></div></div>
</div>
</section>

</div>

</div>
</div>
</main>
<!--------------------main end-------------------->
<!-- ask（Modal） -->
{% include 'question/ask_modal.html' %}
<!-- ask（Modal） -->

<!-- letter（Modal） -->
<!-- append by js -->
<!-- letter（Modal） -->


</body>

</html>