<!DOCTYPE html>
<html lang="zh" data-hairline="true" data-android="true" data-theme="light">
<head>
<meta charset="utf-8">
<title>{{businessInfo.title}} - {{SITE}}</title>
{% include 'question/head_mobile.html' %}
<script src="/static/common/prod/business_mobile.min.20181126160322.js"></script>
</head>
<body class="Mobile-body">
<div id="root">
<div class="App">
<div class="LoadingBar"></div>
<div class="Mobile-header is-hide">
{% include 'question/header_mobile.html' %}
</div>

<!--------------------main---------------------->
<main role="main" class="App-main" data-module="business" data-dfs-main='{"logged":"{{logged}}","user_id":"{{user.id}}","user_name":"{{user.first_name}}"}'>

<div class="Post-content">
<!--<img class="TitleImage" src="" alt="">-->
<article class="Post-Main 1Post-NormalMain">

<header class="Post-Header">
<h1 class="Post-Title">{{businessInfo.title}}</h1>
<div class="ContentItem-time">
<span>发布时间  </span><span id="pub_time">{{businessInfo.pub_date|date:"Y-m-d H:i:s"}}</span><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span>更新时间  </span><span id="update_time">{{businessInfo.update_date|date:"Y-m-d H:i:s"}}</span>
</div>
<div class="Post-Author">
<div class="AuthorInfo">
<span class="UserLink AuthorInfo-avatarWrapper">
<a class="UserLink-link" target="_blank" href="/er/{{businessInfo.poster__id}}/">
<img class="Avatar Avatar--round AuthorInfo-avatar" width="38" height="38" src="{{businessInfo.poster__userprofile__avatar}}" alt="{{businessInfo.poster__first_name}}">
</a>
</span>
<div class="AuthorInfo-content">
<div class="AuthorInfo-head">
<span class="UserLink AuthorInfo-name">
<a class="UserLink-link" target="_blank" href="/er/{{businessInfo.poster__id}}/">{{businessInfo.poster__first_name}}</a>
</span>
</div>
<div class="AuthorInfo-detail"><div class="AuthorInfo-badge"><div class="RichText ztext AuthorInfo-badgeText">{{businessInfo.poster__userprofile__mood}}</div></div></div>
</div>
</div>
</div>
{% ifequal user.id businessInfo.poster__id %}
<div class="ContentItem-actions">
<div id="revise_update" data-business-id="{{businessInfo.id}}" class="MobileQuestionButtonGroup">
<button id="update_button" type="button" class="Button Button--green">更新时间</button>
<button id="revise_button" type="button" class="Button Button--primary Button--green">修改信息</button>
</div>
</div>
{% endifequal %}
<div class="is-hide"><span class="Voters"><span class="Article--likenums--nouse">10</span> 次浏览</span></div>

<div style="font-size:16px;margin-top:20px;padding:10px 10px 10px 10px;border: 1px solid #f4f4f4;">
<div style="padding:5px;"><span style="color:#aaa;">地&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;点&nbsp;&nbsp;&nbsp;&nbsp;</span><span>{{businessInfo.addr}}</span></div>
<div style="padding:5px;"><span style="color:#aaa;">联系方式&nbsp;&nbsp;&nbsp;&nbsp;</span><span>{{businessInfo.contact}}</span></div>
</div>

</header>

<div>
<div class="RichText ztext Post-RichText" style="1white-space: pre;">
<div id="business-detail">{{businessInfo.detail}}</div>
<div id="business-pictures" data-pictures="{{businessInfo.pictures}}"></div>
</div>
</div>

<div style="color:red;font-size:16px;margin-top:10px;">
<div>联系我时，请说是在<a href="http://www.danongling.com/"><b>大农令</b></a>上看到的，谢谢！</div>
</div>

</article>
</div>

</main>

</div>
</div>

<!-- ask（Modal） -->
{% include 'question/ask_modal_mobile.html' %}
</body>
</html>