<!DOCTYPE html>
<html lang="zh" data-hairline="true" data-theme="light" data-focus-method="pointer" style="">
{% include 'question/head.html' %}
<script src="/static/common/prod/business.min.20181108171716.js"></script>
<body class="Entry-body" style="background-color:#fff">
{% include 'question/header.html' %}

<div class="Sticky--holder" style="position: relative; top: 0px; right: 0px; bottom: 0px; left: 0px; display: block; float: none; margin: 0px; height: 3px;"></div>

<!--------------------main---------------------->
<main role="main" class="App-main" data-module="business" data-dfs-main='{"logged":"{{logged}}","user_id":"{{user.id}}","user_name":"{{user.first_name}}"}'>
<div class="ContentLayout">
<div class="ContentLayout-mainColumn">

<div class="Post-content">
<!--<img class="TitleImage" src="" alt="">-->
<article class="Post-Main Post-NormalMain">

<header class="Post-Header">
<h1 class="Post-Title">{{businessInfo.title}}</h1>
<div class="ContentItem-time">
<span>发布日期  </span><span id="pub_time">{{businessInfo.pub_date|date:"Y-m-d H:i:s"}}</span><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span>更新日期  </span><span id="update_time">{{businessInfo.update_date|date:"Y-m-d H:i:s"}}</span>
</div>
<div class="Post-Author">
<div class="AuthorInfo">
<span class="UserLink AuthorInfo-avatarWrapper">
<a class="UserLink-link" target="_blank" href="/er/{{businessInfo.poster__id}}/">
<img class="Avatar Avatar--round AuthorInfo-avatar" width="38" height="38" src="{{businessInfo.poster__userprofile__avatar}}" alt="{{businessInfo.poster__first_name}}">
</a>
</span>
<div class="AuthorInfo-content">
<div class="AuthorInfo-head">
<span class="UserLink AuthorInfo-name">
<a class="UserLink-link" target="_blank" href="/er/{{businessInfo.poster__id}}/">{{businessInfo.poster__first_name}}</a>
</span>
</div>
<div class="AuthorInfo-detail"><div class="AuthorInfo-badge"><div class="RichText ztext 1AuthorInfo-badgeText">{{businessInfo.poster__userprofile__mood}}</div></div></div>
</div>
</div>
{% ifequal user.id businessInfo.poster__id %}
<div id="revise_update" data-business-id="{{businessInfo.id}}">
<button id="update_button" type="button" class="Button Button--green">更新时间</button>
&nbsp;&nbsp;&nbsp;
<button id="revise_button" type="button" class="Button Button--primary Button--green">修改信息</button>
</div>
{% endifequal %}
</div>
<div class="is-hide"><span class="Voters"><span class="Article--likenums--nouse">10</span> 次浏览</span>
</div>
</header>

<div>
<div class="RichText ztext Post-RichText" style="1white-space: pre;">
<div id="business-detail">{{businessInfo.detail}}</div>
<div id="business-pictures" data-pictures="{{businessInfo.pictures}}"></div>
</div>
</div>


<div style="color:red;font-size:16px;margin-top:10px;">
<div>区域：{{businessInfo.addr}}</div>
<div>联系方式：{{businessInfo.contact}}</div>
<div>联系我时，请说是在大农令上看到的，谢谢！</div>
</div>

</article>
</div>


</div>
</div>
</main>
<!--------------------main end-------------------->
<!-- ask（Modal） -->
{% include 'question/ask_modal.html' %}
<!-- ask（Modal） -->

<!-- letter（Modal） -->
<!-- append by js -->
<!-- letter（Modal） -->


</body>

</html>