<!DOCTYPE html>
<html lang="zh" data-hairline="true" data-android="true" data-theme="light">
{% include 'question/head_mobile.html' %}
<script src="/static/common/prod/citys.min.20181126160322.js"></script>
<script src="/static/common/prod/business_mobile.min.20181126160322.js"></script>
<body class="Mobile-body">
<div id="root">
<div class="1App">
<div class="LoadingBar"></div>
<div class="Mobile-header is-hide">
{% include 'question/header_mobile.html' %}
</div>

<!--------------------main---------------------->
<main role="main" class="App-main" data-module="business-post" data-dfs-main='{"logged":"{{logged}}","user_id":"{{user.id}}","user_name":"{{user.first_name}}"}'>
<div class="Layout av-cardBackground">
<div class="Layout-main av-card">
<form method="post" action="">
{% csrf_token %}
<div class="BusinessPostHeader">
<h3 class="BusinessPostHeader-title">填写信息</h3>
</div>

<div class="BusinessPost-content" data-revise="{{revise}}" data-business='{"id":"{{businessInfo.id}}","title":"{{businessInfo.title}}","detail":"{{businessInfo.detail}}","type":"{{businessInfo.type}}","addr":"{{businessInfo.addr}}","addr_value":"{{businessInfo.addr_value}}","contact":"{{businessInfo.contact}}","pictures":"{{businessInfo.pictures}}"}'>
    <div class="1QuestionAsk">
        <div class="BusinessPost-section BusinessPost-DetailSection">类别：
            <div class="BusinessPost-title" style="padding:0 0 0 10px;">
                <select id="type" style="width:100%;padding:3px 0 3px 0;">
                <option value="sell">我要出售</option>
                <option value="buy">我要求购</option>
                <option value="lease">租赁</option>
                </select>
                <input type="hidden" name="type" value="">
            </div>
        </div>
        
        <div class="BusinessPost-section BusinessPost-DetailSection">地点：
            <div class="BusinessPost-addr" style="padding:0 0 10px 10px;">

                <div id="province">
                <select id="province_select" style="width:100%;padding:3px 0 3px 0;margin-bottom:10px;">
                <option value="000000">请选择省份（必选）</option>
                </select>
                </div>

                <div id="city">
                <select id="city_select" style="width:100%;padding:3px 0 3px 0;margin-bottom:10px;">
                <option value="000000">请选择城市（全部）</option>
                </select>
                </div>

                <div id="district">
                <select id="district_select" style="width:100%;padding:3px 0 3px 0;margin-bottom:10px;">
                <option value="000000">请选择地区（全部）</option>
                </select>
                </div>

                <div id="town" class="1is-hide">
                    <input name="town" type="text" style="width:100%;" disabled placeholder="乡镇或街道（可选填）" maxlength=50>
                </div>
                
                <input type="hidden" name="addr" value="">
                <input type="hidden" name="addr_value" value="">
            </div>
        </div>
        
        <div class="BusinessPost-section">
            <div class="BusinessPost-title">
                <div class="Input-wrapper Input-wrapper--spread Input-wrapper--multiline Input-wrapper--large">
                    <textarea required="" name="title" rows="1" autocomplete="off" role="combobox" class="Input" placeholder="信息标题" maxlength=100></textarea>
                </div>
            </div>
        </div>
        

        <div class="BusinessPost-section BusinessPost-DetailSection">
            <div class="BusinessPost-detail">
                <div class="Input-wrapper Input-wrapper--spread Input-wrapper--multiline Input-wrapper--large">
                    <textarea name="detail" rows="5" autocomplete="off" role="combobox" class="Input" placeholder="信息详细描述（必填）" maxlength=1000></textarea>
                </div>
                <!--<textarea id="1summernote_question" name="tmpDetail" rows="5" cols="70" 1maxlength="160"></textarea>-->
                <!--<input type="hidden" name="detail" value="">-->
            </div>
        </div>
        
        <div class="BusinessPost-section BusinessPost-DetailSection">
            <div style="float:left;">添加图片(最多8张)：</div>
            <div style="padding:0 0 0 10px;">
                <button id="business-picture-select" type="button"><svg  viewBox="0 0 32 32" width="24" height="24"><path d="M29.996 4c0.001 0.001 0.003 0.002 0.004 0.004v23.993c-0.001 0.001-0.002 0.003-0.004 0.004h-27.993c-0.001-0.001-0.003-0.002-0.004-0.004v-23.993c0.001-0.001 0.002-0.003 0.004-0.004h27.993zM30 2h-28c-1.1 0-2 0.9-2 2v24c0 1.1 0.9 2 2 2h28c1.1 0 2-0.9 2-2v-24c0-1.1-0.9-2-2-2v0z"></path><path d="M26 9c0 1.657-1.343 3-3 3s-3-1.343-3-3 1.343-3 3-3 3 1.343 3 3z"></path><path d="M28 26h-24v-4l7-12 8 10h2l7-6z"></path></svg><span style="font-size:12px;color:#666;">选择图片</span></button>
                <input id="business-picture-input" type="file" accept="image/png,image/jpeg" style="display:none;">
            </div>
            <input type="hidden" name="pictures" value="">
            <div id="business-pictures">
            </div>
        </div>
        
        <div class="BusinessPost-section">
            <div class="BusinessPost-contact">
                <div class="Input-wrapper Input-wrapper--spread Input-wrapper--multiline Input-wrapper--large">
                    <textarea required="" name="contact" rows="1" autocomplete="off" role="combobox" class="Input" placeholder="联系方式（名字，电话等；必填）" maxlength=100></textarea>
                </div>
            </div>
        </div>
           
        <div style="display:flex;justify-content:center;">
            <button class="BusinessPostRevise Button Button--primary Button--green" disabled type="button">发布信息</button>
        </div>
    </div>
</div>

</form>
</div>
</div> 
</main>

</div>
</div>

<!-- ask（Modal） -->
{% include 'question/ask_modal_mobile.html' %}
</body>
</html>