<!DOCTYPE html>
<html lang="zh" data-hairline="true" data-theme="light" data-focus-method="pointer" style="">
{% include 'question/head.html' %}
<body class="Entry-body">
{% include 'question/header.html' %}

<main role="main" class="App-main" data-module="home" data-dfs-main='{"logged":"{{logged}}","user_id":"{{user.id}}","user_name":"{{user.first_name}}","er_id":"{{er.id}}","er_name":"{{er.first_name}}"
,"er_avatar":"{{er.userprofile__avatar}}","er_mood":"{{er.userprofile__mood}}","er_intro":"{{er.userprofile__intro}}","er_sexual":"{{er.userprofile__sexual}}","er_residence":"{{er.userprofile__residence}}"
,"er_job":"{{er.userprofile__job}}","command":"{{command}}","subcmd":"{{subcmd}}"}'   data-dfs-ext='{"question_nums":"{{er.userprofile__question_nums}}","article_nums":"{{er.userprofile__article_nums}}","answer_nums":"{{er.userprofile__answer_nums}}"
,"followto_nums":"{{er.userprofile__followto_nums}}","follower_nums":"{{er.userprofile__follower_nums}}","followtopic_nums":"{{er.userprofile__followtopic_nums}}","followquestion_nums":"{{er.userprofile__followquestion_nums}}"}'>
<div>
<div>
<div id="ProfileHeader" class="ProfileHeader">
<div class="Card">

<div class="ProfileHeader-userCover">
<div class="UserCoverEditor">
<div>
<div class="UserCover UserCover--colorBlock">
</div>
</div>
<input type="file" accept="image/png,image/jpeg" style="display: none;">
</div>
</div>

<div class="ProfileHeader-wrapper">
<div class="ProfileHeader-main">

<div class="UserAvatarEditor ProfileHeader-avatar Avatar-editor" style="top: -25px;">
<div class="UserAvatar">
<img id="id_avatar" class="Avatar Avatar--large UserAvatar-inner" width="160" height="160" src="" srcset="" alt="">
</div>
<div class="Mask UserAvatarEditor-mask Mask-hidden">
<div class="Mask-mask Mask-mask--black UserAvatarEditor-maskInner">
</div>
<div class="Mask-content">
<svg class="Zi Zi--Camera UserAvatarEditor-cameraIcon" fill="currentColor" viewBox="0 0 24 24" width="36" height="36"><path d="M20.094 6S22 6 22 8v10.017S22 20 19 20H4.036S2 20 2 18V7.967S2 6 4 6h3s1-2 2-2h6c1 0 2 2 2 2h3.094zM12 16a3.5 3.5 0 1 1 0-7 3.5 3.5 0 0 1 0 7zm0 1.5a5 5 0 1 0-.001-10.001A5 5 0 0 0 12 17.5zm7.5-8a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" fill-rule="evenodd"></path></svg>
<div class="UserAvatarEditor-maskInnerText">修改我的头像</div>
</div>
</div>
<input id="id_avatar_input" name="file" type="file" accept="image/png,image/jpeg" style="display: none;"/>
</div>

<div class="ProfileHeader-content">
<div class="ProfileHeader-contentHead">
<h1 class="ProfileHeader-title">
<span class="ProfileHeader-name"></span>
<span class="RichText ProfileHeader-headline"></span>
</h1>
</div>
<div class="ProfileHeader-contentBody" style="overflow: hidden; transition: height 300ms ease-out; height: 50px;">
</div>
<div class="ProfileHeader-contentFooter">
</div>
</div>
</div>
</div>
</div>
</div>
<div class="Profile-main">
<div class="Profile-mainColumn">
<div class="Card ProfileMain" id="ProfileMain">
<div class="ProfileMain-header">
<ul role="tablist" class="Tabs ProfileMain-tabs">
</ul>
</div>


<div class="Sticky"></div>
<div id="profileMainContent"></div>


</div>
</div>

<div class="Profile-sideColumn">
<div class="Card FollowshipCard">
</div>
<div class="Profile-lightList">
</div>
<div class="Profile-footerOperations">个人主页被浏览 2 次</div>
<footer class="Footer">
</span><a class="Footer-item" target="_blank" href="http://www.12377.cn">网上有害信息举报专区</a><br><span class="Footer-item">违法和不良信息举报：010-82716601</span><br><!--<a class="Footer-item" target="_blank" href="/jubao">儿童色情信息举报专区</a><br>--><a class="Footer-item" target="_blank" href="/">联系我们</a><span> © 2018 大大大</span>
</footer>
</div>
</div>
</div>
</div>
</main>


<div class="CornerButtons">
<div class="CornerAnimayedFlex">
<button class="Button CornerButton Button--plain" data-tooltip="建议反馈" data-tooltip-position="left" aria-label="建议反馈" type="button"><svg class="Zi Zi--Feedback" title="建议反馈" fill="currentColor" viewBox="0 0 24 24" width="24" height="24"><path d="M19.99 6.99L18 5s-1-1-2-1H8C7 4 6 5 6 5L4 7S3 8 3 9v9s0 2 2.002 2H19c2 0 2-2 2-2V9c0-1-1.01-2.01-1.01-2.01zM16.5 5.5L19 8H5l2.5-2.5h9zm-2 5.5s.5 0 .5.5-.5.5-.5.5h-5s-.5 0-.5-.5.5-.5.5-.5h5z"></path></svg></button>
</div>
<div class="CornerAnimayedFlex CornerAnimayedFlex--hidden">
<button class="Button CornerButton Button--plain" data-tooltip="回到顶部" data-tooltip-position="left" aria-label="回到顶部" type="button"><svg class="Zi Zi--BackToTop" title="回到顶部" fill="currentColor" viewBox="0 0 24 24" width="24" height="24"><path d="M16.036 19.59a1 1 0 0 1-.997.995H9.032a.996.996 0 0 1-.997-.996v-7.005H5.03c-1.1 0-1.36-.633-.578-1.416L11.33 4.29a1.003 1.003 0 0 1 1.412 0l6.878 6.88c.782.78.523 1.415-.58 1.415h-3.004v7.005z"></path></svg></button>
</div>
</div>
</div>
</div>
<span><div></div></span>


<div id="upAvatarModal" class="modal fade 1Modal 1Modal--default 1UploadImageModal-modal" tabindex="-1" role="dialog" 1aria-labelledby="upAvatarModalLabel" 1aria-hidden="true">
<div class="modal-dialog" style="#width:200px;">

<div class="Modal-inner">
<h3 class="Modal-title">编辑头像</h3>
<div class="Modal-subtitle">调整头像尺寸和位置</div>
<div class="Modal-content">
<div>
<div class="UploadImageModal-container">
<div style="text-align:center">
<img id="preview_avatar" width="300px" height="300px" alt="" >
</div>
<div  id="chooseBox" style="width: 200px;height: 200px;border: 1px solid #4fb8e3;position: absolute;left: 200px;top: 163px;z-index: 1000"></div>
<canvas id="avatar_canvas" width="200" height="200" style="width: 200px; height: 200px;display:none"></canvas>
</div>
<div style="text-align:center">
<svg class="Zi Zi--Size" fill="currentColor" viewBox="0 0 24 24" width="18" height="18"><path d="M16.296 7h.697A1.01 1.01 0 0 1 18 8.003v10.995c0 .554-.45 1.003-1.007 1.003H4.007A1.01 1.01 0 0 1 3 18.998V8.003C3 7.449 3.45 7 4.007 7h12.289zm-.892 11a.6.6 0 0 0 .597-.601V9.601A.597.597 0 0 0 15.405 9H5.596A.599.599 0 0 0 5 9.602v7.797c0 .335.267.601.596.601h9.808zM7 4h13a1 1 0 0 1 1 1v11a1 1 0 0 1-2 0V6.5c0-.5-.5-.5-.5-.5H7a1 1 0 0 1 0-2z" fill-rule="evenodd"></path></svg>
<input id="adjust_choosebox"type="range" step="1" min="0" max="100" class="RangeInput" value="50" style="display:inline" oninput="adjustChooseBox()">
<svg class="Zi Zi--Size" fill="currentColor" viewBox="0 0 24 24" width="22" height="22"><path d="M16.296 7h.697A1.01 1.01 0 0 1 18 8.003v10.995c0 .554-.45 1.003-1.007 1.003H4.007A1.01 1.01 0 0 1 3 18.998V8.003C3 7.449 3.45 7 4.007 7h12.289zm-.892 11a.6.6 0 0 0 .597-.601V9.601A.597.597 0 0 0 15.405 9H5.596A.599.599 0 0 0 5 9.602v7.797c0 .335.267.601.596.601h9.808zM7 4h13a1 1 0 0 1 1 1v11a1 1 0 0 1-2 0V6.5c0-.5-.5-.5-.5-.5H7a1 1 0 0 1 0-2z" fill-rule="evenodd"></path></svg>
</div>
<div class="ModalButtonGroup ModalButtonGroup--vertical">
<button class="Button Button--primary Button--green AvatarSave" type="button" data-avatar-type="forAvatar">保存</button>
</div>
</div>
</div>
</div>
<button data-dismiss="modal" class="Button Modal-closeButton Button--plain" aria-label="关闭" type="button">
<svg class="Zi Zi--Close Modal-closeIcon" fill="currentColor" viewBox="0 0 24 24" width="24" height="24"><path d="M13.486 12l5.208-5.207a1.048 1.048 0 0 0-.006-1.483 1.046 1.046 0 0 0-1.482-.005L12 10.514 6.793 5.305a1.048 1.048 0 0 0-1.483.005 1.046 1.046 0 0 0-.005 1.483L10.514 12l-5.208 5.207a1.048 1.048 0 0 0 .006 1.483 1.046 1.046 0 0 0 1.482.005L12 13.486l5.207 5.208a1.048 1.048 0 0 0 1.483-.006 1.046 1.046 0 0 0 .005-1.482L13.486 12z" fill-rule="evenodd"></path></svg>
</button>
</div>
</div>
<!-- ask（Modal） -->
{% include 'question/ask_modal.html' %}
<!-- ask（Modal） -->

<!-- letter（Modal） -->
<!-- append by js -->
<!-- letter（Modal） -->

</body>
</html>