<!DOCTYPE html>
<html lang="zh" data-hairline="true" data-android="true" data-theme="light">
{% include 'question/head_mobile.html' %}
<body class="Mobile-body">
<div id="root">
<div class="App">
<div class="LoadingBar"></div>
<div>
{% include 'question/header_mobile.html' %}
</div>
<div class="PageHeader">
<div class="Profile-tabs">
<ul role="tablist" class="Tabs ProfileBar">
<!-------------ul_list---------------->
</ul>
</div>
</div>

<main role="main" class="App-main" data-module="home" data-dfs-main='{ "user_id":"{{user.id}}","user_name":"{{user.first_name}}","user_avatar":"{{user.userprofile.avatar}}","er_id":"{{er.id}}","er_name":"{{er.first_name}}"
,"er_avatar":"{{er.userprofile.avatar}}","er_mood":"{{er.userprofile.mood}}","er_intro":"{{er.userprofile.intro}}","er_sexual":"{{er.userprofile.sexual}}","er_residence":"{{er.userprofile.residence}}"
,"er_job":"{{er.userprofile.job}}","followed":"{{followed}}","command":"{{command}}","subcmd":"{{subcmd}}"}'   data-dfs-ext='{"questions_num":"{{ext_info.questions_num}}","answers_num":"{{ext_info.answers_num}}"
,"followtos_num":"{{ext_info.followtos_num}}","followers_num":"{{ext_info.followers_num}}","followtopics_num":"{{ext_info.followtopics_num}}","followquestions_num":"{{ext_info.followquestions_num}}"}'>
<div class="Profile">
<div class="Card">
<div class="Profile-intro">
<img class="Profile-avatar" src="" alt="">
<div class="Profile-name"></div>
<div class="RichText Profile-headline"></div>
<div class="MobileQuestionButtonGroup" style="margin:12px auto;">
<button class="Button ProfileEditButton Button--primary Button--blue">编辑个人资料</button>
<button class="Button FollowButton ProfileFollowButton Button--primary Button--blue" type="button" data-follow-type="people"></button>
<button class="Button ProfileLetterButton Button--grey Button--withIcon Button--withLabel" type="button" data-toggle="modal" data-target="#letterModal"><span style="display: inline-flex; align-items: center;">&#8203;<svg class="Zi Zi--Comments Button-zi" fill="currentColor" viewBox="0 0 24 24" width="1.2em" height="1.2em"><path d="M11 2c5.571 0 9 4.335 9 8 0 6-6.475 9.764-11.481 8.022-.315-.07-.379-.124-.78.078-1.455.54-2.413.921-3.525 1.122-.483.087-.916-.25-.588-.581 0 0 .677-.417.842-1.904.064-.351-.14-.879-.454-1.171A8.833 8.833 0 0 1 2 10c0-3.87 3.394-8 9-8zm10.14 9.628c.758.988.86 2.009.86 3.15 0 1.195-.619 3.11-1.368 3.938-.209.23-.354.467-.308.722.12 1.073.614 1.501.614 1.501.237.239-.188.562-.537.5-.803-.146-1.495-.42-2.546-.811-.29-.146-.336-.106-.563-.057-2.043.711-4.398.475-6.083-.927 5.965-.524 8.727-3.03 9.93-8.016z" fill-rule="evenodd"></path></svg></span>发私信</button>
</div>
<div class="Profile-infos">
<div class="Profile-infosDes Profile-infosDesEllipsis">
<span style="display:inline-flex;align-items:center">&#8203;<svg class="Zi Zi--Education" fill="#999" viewBox="0 0 24 24" width="1.2em" height="1.2em"><path d="M12 4L1 7.94v.588l4.153 2.73v5.166C5.158 16.758 8.028 20 12 20c3.972 0 6.808-3.116 6.85-3.576l.006-5.163 4.129-2.733.015-.586L12 4z" fill-rule="evenodd"></path></svg></span>
<span id="residence"></span>
<div class="ProfileHeader-infosDivider"></div>
<span id="job"></span>
</div>
<button class="Profile-infosOia">详细资料 <span style="display:inline-flex;align-items:center">&#8203;<svg class="Zi Zi--ArrowRight" fill="#8590a6" viewBox="0 0 24 24" width="1.2em" height="1.2em"><path d="M9.218 16.78a.737.737 0 0 0 1.052 0l4.512-4.249a.758.758 0 0 0 0-1.063L10.27 7.22a.737.737 0 0 0-1.052 0 .759.759 0 0 0-.001 1.063L13 12l-3.782 3.716a.758.758 0 0 0 0 1.063z" fill-rule="evenodd"></path></svg></span></button>
</div>
<div class="Profile-badges">
<div class="Profile-badgeItem">
<span style="display:inline-flex;align-items:center">&#8203;<svg class="Zi Zi--Like" fill="#0f88eb" viewBox="0 0 24 24" width="1.2em" height="1.2em"><path d="M2.718 10.024c-.718 0-.718.63-.718.63l.996 9.693c0 .703.718.649.718.649h1.45c.916 0 .847-.649.847-.649v-9.554c-.09-.879-.854-.791-.847-.791l-2.446.022zm11.727-.05s.756-1.577 1.156-4.083c.163-2.861-2.052-3.491-3.037-2.362-1.014 1.233 0 2.057-4.45 5.83C7.336 9.966 7 11.011 7 11.998v6.998c-.016 1.104.491 2 1.99 2h7.586c2.097 0 2.86-1.416 2.86-1.416s2.178-5.402 2.346-5.911c1.047-3.515-1.95-3.703-1.95-3.703l-5.387.007z" fill-rule="evenodd"></path></svg></span>0 赞同 · 0 感谢</div>
</div>
<div class="Profile-follows"><span class="NextPage" data-next-page-type="followers"><span id="followers"></span> 关注<span class="who"></span>的人</span><div class="ProfileHeader-infosDivider"></div><span class="NextPage" data-next-page-type="followtos"><span id="followtos"></span> <span class="who"></span>关注的人</span></div>
</div>
</div>
<ul role="tablist" class="Tabs ProfileBar">
<!-------------ul_list---------------->
</ul>
</ul>
<div>
<div>
<div class="Sticky"></div>
</div>
</div>
<div class="Profile-data">
<div class="Card Profile-datalist" id="Profile-datalist">
<div id="appendArea" class="List">
<!---------<div class="List-item">--->
</div>
</div>
</div>
</div>
</main>
</div>
</div>
<script>
function appendFollowElementSub(subcmd,ret)
{
    if(("followtos"==subcmd)||("followers"==subcmd))
    {
        var people_id=ret[0];
        var people_name=ret[1];
        var people_anwser_nums=ret[2];
        var people_avatar=ret[3];
        var people_mood=ret[4];
        var people_follower_nums=ret[5];
        var people_followed=ret[6];
        var people_followed_each=ret[7];
        if("1"==people_followed)
            var followed_html='<button class="Button FollowButton Button--primary Button--grey" type="button">已关注</button>';
        else
            var followed_html='<button class="Button FollowButton Button--primary Button--green" type="button">关注</button>';
        if("1"==people_followed_each)
            var followed_each_html='<span class="FollowStatus">相互关注</span>';
        else
            var followed_each_html='';
        var data='<div class="List-item"><div class="ContentItem"><div class="ContentItem-main"><div class="ContentItem-image"><span class="UserLink UserItem-avatar"><div class="Popover"><div id="Popover-28784-64463-toggle" aria-haspopup="true" aria-expanded="false" aria-owns="Popover-28784-64463-content"><a class="UserLink-link" target="_blank" href="/er/'+people_id+'">\
                <img class="Avatar Avatar--large UserLink-avatar" width="60" height="60" src="'+people_avatar+'" srcset="'+people_avatar+'" alt="'+people_name+'"></a></div></div></span></div><div class="ContentItem-head"><h2 class="ContentItem-title"><div class="UserItem-title"><span class="UserLink UserItem-name"><div class="Popover"><div id="Popover-28784-44728-toggle" aria-haspopup="true" aria-expanded="false" aria-owns="Popover-28784-44728-content"><a class="UserLink-link" data-za-detail-view-element_name="User" target="_blank" href="/er/'+people_id+'">'+people_name+'</a></div></div></span>'+followed_each_html+'</div></h2><div class="ContentItem-meta"><div><div class="RichText">'+people_mood+'</div>\
                <div class="ContentItem-status"><span class="ContentItem-statusItem">'+people_anwser_nums+' 回答</span><span class="ContentItem-statusItem">0 文章</span><span class="ContentItem-statusItem">'+people_follower_nums+' 关注者</span></div></div></div></div><div class="ContentItem-extra">'+followed_html+'</div></div></div></div>';
        $("#feedArea").append(data);
    }
    else if("topics"==subcmd)
    {
        var topic_id=ret[0];
        var topic_name=ret[1];
        var topic_avatar=ret[2];
        var topic_detail=ret[3];
        
        var data='<div class="List-item"><div class="ContentItem"><div class="ContentItem-main"><div class="ContentItem-image"><img class="Avatar Avatar--large" width="60" height="60" src="'+topic_avatar+'" srcset="'+topic_avatar+' 2x"></div><div class="ContentItem-head"><h2 class="ContentItem-title"><a class="TopicLink" href="/topic/'+topic_id+'" target="_blank"><div class="Popover"><div id="Popover-92518-2569-toggle" aria-haspopup="true" aria-expanded="false" aria-owns="Popover-92518-2569-content">'+topic_name+'</div></div></a></h2><div class="ContentItem-meta"><div class="ContentItem-status">'+topic_detail+'</div></div></div></div></div></div>';
        $("#feedArea").append(data);
    }
    else if("questions"==subcmd)
    {
        var question_id=ret[0];
        var question_title=ret[1];
        var question_pubdate=ret[2];
        var question_answer_nums=ret[3];
        var question_follower_nums=ret[4];
        var data='\
                <div class="List-item">\
                <div class="ContentItem" ><h2 class="ContentItem-title"><div class="QuestionItem-title">\
                <a href="/question/'+question_id+'" target="_blank">'+question_title+'</a></div></h2>\
                <div class="ContentItem-status"><span class="ContentItem-statusItem">'+question_pubdate+'</span><span class="ContentItem-statusItem">'+question_answer_nums+' 个回答</span><span class="ContentItem-statusItem">'+question_follower_nums+' 个关注</span></div></div></div>\
                ';
        $("#feedArea").append(data);
    }
}
function checkNextPage()
{
    $(".NextPage").off("click");
    $(".NextPage").on("click",function(){
        console.log(this);
        var subcmd=$(this).attr("data-next-page-type");
        $.get("/ajax/er/"+g_er_id+"/following/"+subcmd+"/",function(ret){
            if("fail"!=ret)
            {
                g_cache_page=$("main").html();
                var head='<div class="Card Profile-datalist" id="Profile-datalist"><div id="feedArea" class=""><div class="ProfileHeader-expandActions ProfileEdit-expandActions"><button class="Button--blue ReturnHomePage" style="margin:3px" type="button">返回我的主页</button></div></div></div>';
                $("main").empty().append(head);
                for(i in ret)
                {
                    appendFollowElementSub(subcmd,ret[i]);
                }               
                checkReturnHomePage();
            }
        });
    });
}
function showNextPage()
{
    console.log(this);
    var subcmd=$(this).attr("data-next-page-type");
    $.get("/ajax/er/"+g_er_id+"/following/"+subcmd+"/",function(ret){
        if("fail"!=ret)
        {
            g_cache_page=$("main").html();
            var head='<div class="Card Profile-datalist" id="Profile-datalist"><div id="feedArea" class=""><div class="ProfileHeader-expandActions ProfileEdit-expandActions"><button class="Button--blue ReturnHomePage" style="margin:3px" type="button">返回我的主页</button></div></div></div>';
            $("main").empty().append(head);
            for(i in ret)
            {
                appendFollowElementSub(subcmd,ret[i]);
            }               
            checkReturnHomePage();
        }
    });
}
function appendFollowElement()
{       
    var data='<div class="List-item NextPage" data-next-page-type="questions"><div class="ContentItem"><div class="ContentItem-main"><div class="1ContentItem-head"><h2 class="1ContentItem-title">关注的问题</h2></div><div class="ContentItem-extra">'+g_followquestions_num+'</div></div></div></div>\
                    <div class="List-item NextPage" data-next-page-type="topics"><div class="ContentItem"><div class="ContentItem-main"><div class="1ContentItem-head"><h2 class="1ContentItem-title">关注的话题</h2></div><div class="ContentItem-extra">'+g_followtopics_num+'</div></div></div></div>';
    $("#feedArea").append(data);
    checkNextPage();
}
function appendQuestionElementSub(ret)
{
    var question_id=ret[0];
    var question_title=ret[1];
    var question_pubdate=ret[2].split(" ")[0];
    var question_answer_nums=ret[3];
    var question_follower_nums=ret[4];
    
    var data='<div class="List-item"><div class="ContentItem"><h2 class="ContentItem-title"><div class="QuestionItem-title"><a href="/question/'+question_id+'" target="_blank">'+question_title+'</a></div></h2><div class="ContentItem-status"><span class="ContentItem-statusItem">'+question_pubdate+'</span><span class="ContentItem-statusItem">'+question_answer_nums+' 个回答</span><span class="ContentItem-statusItem">'+question_follower_nums+' 个关注</span></div></div></div>';
    $("#feedArea").append(data);
}
function appendQuestionElement()
{
    $.get("/ajax/er/"+g_er_id+"/asks/",function(ret){
        if("fail"!=ret)
        {
            for(i in ret)
                appendQuestionElementSub(ret[i]);
            checkSets();
        }
    });
}

function appendAnswerElement()
{
    $.get("/ajax/er/"+g_er_id+"/answers/",function(ret){
        if("fail"!=ret)
        {
            appendAnswerElementList(ret,"homepage");
            checkSets();
        }
    });
}
/*
function checkProfileSave()
{
	$(".save").off("click");
	$(".save").click(function(){
        var _this=$(this);
		var field_type=$(this).parents(".Field-content").attr("data-field-type")
		console.log(field_type);
        if("nickname"==field_type)
		{
            var value=$("input[name='nickname']").val();
			$.post("/ajax/profile_edit/nickname/",{content:value},function(ret){
                if("fail"!=ret)
                {
                    g_er_name=ret;                 
                }
                var data='<div><span class="Field-text"><span class="RichText">'+g_er_name+'</span></span><button class="Button ModifyButton Button--link" type="button"><svg viewBox="0 0 12 12" class="Icon ModifyButton-icon Icon--modify" width="12" height="16" aria-hidden="true" style="height: 16px; width: 12px;"><title></title><g><path d="M.423 10.32L0 12l1.667-.474 1.55-.44-2.4-2.33-.394 1.564zM10.153.233c-.327-.318-.85-.31-1.17.018l-.793.817 2.49 2.414.792-.814c.318-.328.312-.852-.017-1.17l-1.3-1.263zM3.84 10.536L1.35 8.122l6.265-6.46 2.49 2.414-6.265 6.46z" fill-rule="evenodd"></path></g></svg>修改</button></div>';
                _this.parents(".Field-content").empty().append(data);
                checkProfileModify();
            });

		}
		if("sexual"==field_type)
		{	
			var value=$("input[name='sexual']:checked").val();
			$.post("/ajax/profile_edit/sexual/",{content:value},function(ret){
                if("fail"!=ret)
                {
                    console.log(ret);
                    if("f"==ret)
                    {
                        g_er_sexual="she";
                        g_er_sexual_han="女";
                    }
                    else if("m"==ret)
                    {
                        g_er_sexual="he";
                        g_er_sexual_han="男";
                    }                    
                }
                var data='<div><span class="Field-text">'+g_er_sexual_han+'</span><button class="Button ModifyButton Button--link" type="button"><svg viewBox="0 0 12 12" class="Icon ModifyButton-icon Icon--modify" width="12" height="16" aria-hidden="true" style="height: 16px; width: 12px;"><title></title><g><path d="M.423 10.32L0 12l1.667-.474 1.55-.44-2.4-2.33-.394 1.564zM10.153.233c-.327-.318-.85-.31-1.17.018l-.793.817 2.49 2.414.792-.814c.318-.328.312-.852-.017-1.17l-1.3-1.263zM3.84 10.536L1.35 8.122l6.265-6.46 2.49 2.414-6.265 6.46z" fill-rule="evenodd"></path></g></svg>修改</button></div>';
                _this.parents(".Field-content").empty().append(data);
                checkProfileModify();
			});
		}
		else if("mood"==field_type)
		{
            var value=$("input[name='mood']").val();
			$.post("/ajax/profile_edit/mood/",{content:value},function(ret){
                if("fail"!=ret)
                {
                    g_er_mood=ret;                 
                }
                var data='<div><span class="Field-text"><span class="RichText">'+g_er_mood+'</span></span><button class="Button ModifyButton Button--link" type="button"><svg viewBox="0 0 12 12" class="Icon ModifyButton-icon Icon--modify" width="12" height="16" aria-hidden="true" style="height: 16px; width: 12px;"><title></title><g><path d="M.423 10.32L0 12l1.667-.474 1.55-.44-2.4-2.33-.394 1.564zM10.153.233c-.327-.318-.85-.31-1.17.018l-.793.817 2.49 2.414.792-.814c.318-.328.312-.852-.017-1.17l-1.3-1.263zM3.84 10.536L1.35 8.122l6.265-6.46 2.49 2.414-6.265 6.46z" fill-rule="evenodd"></path></g></svg>修改</button></div>';
                _this.parents(".Field-content").empty().append(data);
                checkProfileModify();
            });

		}
		else if("residence"==field_type)
		{
            var value=$("input[name='residence']").val();
			$.post("/ajax/profile_edit/residence/",{content:value},function(ret){
                if("fail"!=ret)
                {
                    g_er_residence=ret;                     
                }
                var data='<div><span class="Field-text"><span class="RichText">'+g_er_residence+'</span></span><button class="Button ModifyButton Button--link" type="button"><svg viewBox="0 0 12 12" class="Icon ModifyButton-icon Icon--modify" width="12" height="16" aria-hidden="true" style="height: 16px; width: 12px;"><title></title><g><path d="M.423 10.32L0 12l1.667-.474 1.55-.44-2.4-2.33-.394 1.564zM10.153.233c-.327-.318-.85-.31-1.17.018l-.793.817 2.49 2.414.792-.814c.318-.328.312-.852-.017-1.17l-1.3-1.263zM3.84 10.536L1.35 8.122l6.265-6.46 2.49 2.414-6.265 6.46z" fill-rule="evenodd"></path></g></svg>修改</button></div>';
                _this.parents(".Field-content").empty().append(data);
                checkProfileModify();
            });
		}
		else if("job"==field_type)
		{
            var value=$("input[name='job']").val();
			$.post("/ajax/profile_edit/job/",{content:value},function(ret){
                if("fail"!=ret)
                {
                    g_er_job=ret;
                }
                var data='<div><span class="Field-text">'+g_er_job+'</span><button class="Button ModifyButton Button--link" type="button"><svg viewBox="0 0 12 12" class="Icon ModifyButton-icon Icon--modify" width="12" height="16" aria-hidden="true" style="height: 16px; width: 12px;"><title></title><g><path d="M.423 10.32L0 12l1.667-.474 1.55-.44-2.4-2.33-.394 1.564zM10.153.233c-.327-.318-.85-.31-1.17.018l-.793.817 2.49 2.414.792-.814c.318-.328.312-.852-.017-1.17l-1.3-1.263zM3.84 10.536L1.35 8.122l6.265-6.46 2.49 2.414-6.265 6.46z" fill-rule="evenodd"></path></g></svg>修改</button></div>';
                _this.parents(".Field-content").empty().append(data);
                checkProfileModify();
            });
		}
		else if("intro"==field_type)
		{
            var value=$("textarea[name='intro']").val();
			$.post("/ajax/profile_edit/intro/",{content:value},function(ret){
                if("fail"!=ret)
                {
                    g_er_intro=ret;
                }
                var data='<div class="DescriptionField-content"><span class="Field-text"><span class="RichText">'+g_er_intro+'</span></span><button class="Button ModifyButton Button--link" type="button"><svg viewBox="0 0 12 12" class="Icon ModifyButton-icon Icon--modify" width="12" height="16" aria-hidden="true" style="height: 16px; width: 12px;"><title></title><g><path d="M.423 10.32L0 12l1.667-.474 1.55-.44-2.4-2.33-.394 1.564zM10.153.233c-.327-.318-.85-.31-1.17.018l-.793.817 2.49 2.414.792-.814c.318-.328.312-.852-.017-1.17l-1.3-1.263zM3.84 10.536L1.35 8.122l6.265-6.46 2.49 2.414-6.265 6.46z" fill-rule="evenodd"></path></g></svg>修改</button></div>';
                _this.parents(".Field-content").empty().append(data);
                checkProfileModify();
            });
		}
		checkProfileModify();
	});
	$(".cancle").off("click");
	//$(".cancle").each(function(){
	$(".cancle").click(function(){
		var field_type=$(this).parents(".Field-content").attr("data-field-type")
		console.log(field_type);
        if("nickname"==field_type)
		{
			var data='<div><span class="Field-text"><span class="RichText">'+g_er_name+'</span></span><button class="Button ModifyButton Button--link" type="button"><svg viewBox="0 0 12 12" class="Icon ModifyButton-icon Icon--modify" width="12" height="16" aria-hidden="true" style="height: 16px; width: 12px;"><title></title><g><path d="M.423 10.32L0 12l1.667-.474 1.55-.44-2.4-2.33-.394 1.564zM10.153.233c-.327-.318-.85-.31-1.17.018l-.793.817 2.49 2.414.792-.814c.318-.328.312-.852-.017-1.17l-1.3-1.263zM3.84 10.536L1.35 8.122l6.265-6.46 2.49 2.414-6.265 6.46z" fill-rule="evenodd"></path></g></svg>修改</button></div>';
		}
		else if("sexual"==field_type)
		{			
			var data='<div><span class="Field-text">'+g_er_sexual_han+'</span><button class="Button ModifyButton Button--link" type="button"><svg viewBox="0 0 12 12" class="Icon ModifyButton-icon Icon--modify" width="12" height="16" aria-hidden="true" style="height: 16px; width: 12px;"><title></title><g><path d="M.423 10.32L0 12l1.667-.474 1.55-.44-2.4-2.33-.394 1.564zM10.153.233c-.327-.318-.85-.31-1.17.018l-.793.817 2.49 2.414.792-.814c.318-.328.312-.852-.017-1.17l-1.3-1.263zM3.84 10.536L1.35 8.122l6.265-6.46 2.49 2.414-6.265 6.46z" fill-rule="evenodd"></path></g></svg>修改</button></div>';
		}
		else if("mood"==field_type)
		{
			var data='<div><span class="Field-text"><span class="RichText">'+g_er_mood+'</span></span><button class="Button ModifyButton Button--link" type="button"><svg viewBox="0 0 12 12" class="Icon ModifyButton-icon Icon--modify" width="12" height="16" aria-hidden="true" style="height: 16px; width: 12px;"><title></title><g><path d="M.423 10.32L0 12l1.667-.474 1.55-.44-2.4-2.33-.394 1.564zM10.153.233c-.327-.318-.85-.31-1.17.018l-.793.817 2.49 2.414.792-.814c.318-.328.312-.852-.017-1.17l-1.3-1.263zM3.84 10.536L1.35 8.122l6.265-6.46 2.49 2.414-6.265 6.46z" fill-rule="evenodd"></path></g></svg>修改</button></div>';
		}
		else if("residence"==field_type)
		{
			var data='<div><span class="Field-text"><span class="RichText">'+g_er_residence+'</span></span><button class="Button ModifyButton Button--link" type="button"><svg viewBox="0 0 12 12" class="Icon ModifyButton-icon Icon--modify" width="12" height="16" aria-hidden="true" style="height: 16px; width: 12px;"><title></title><g><path d="M.423 10.32L0 12l1.667-.474 1.55-.44-2.4-2.33-.394 1.564zM10.153.233c-.327-.318-.85-.31-1.17.018l-.793.817 2.49 2.414.792-.814c.318-.328.312-.852-.017-1.17l-1.3-1.263zM3.84 10.536L1.35 8.122l6.265-6.46 2.49 2.414-6.265 6.46z" fill-rule="evenodd"></path></g></svg>修改</button></div>';
		}
		else if("job"==field_type)
		{
			var data='<div><span class="Field-text">'+g_er_job+'</span><button class="Button ModifyButton Button--link" type="button"><svg viewBox="0 0 12 12" class="Icon ModifyButton-icon Icon--modify" width="12" height="16" aria-hidden="true" style="height: 16px; width: 12px;"><title></title><g><path d="M.423 10.32L0 12l1.667-.474 1.55-.44-2.4-2.33-.394 1.564zM10.153.233c-.327-.318-.85-.31-1.17.018l-.793.817 2.49 2.414.792-.814c.318-.328.312-.852-.017-1.17l-1.3-1.263zM3.84 10.536L1.35 8.122l6.265-6.46 2.49 2.414-6.265 6.46z" fill-rule="evenodd"></path></g></svg>修改</button></div>';
		}
		else if("intro"==field_type)
		{
			var data='<div class="DescriptionField-content"><span class="Field-text"><span class="RichText">'+g_er_intro+'</span></span><button class="Button ModifyButton Button--link" type="button"><svg viewBox="0 0 12 12" class="Icon ModifyButton-icon Icon--modify" width="12" height="16" aria-hidden="true" style="height: 16px; width: 12px;"><title></title><g><path d="M.423 10.32L0 12l1.667-.474 1.55-.44-2.4-2.33-.394 1.564zM10.153.233c-.327-.318-.85-.31-1.17.018l-.793.817 2.49 2.414.792-.814c.318-.328.312-.852-.017-1.17l-1.3-1.263zM3.84 10.536L1.35 8.122l6.265-6.46 2.49 2.414-6.265 6.46z" fill-rule="evenodd"></path></g></svg>修改</button></div>';
		}
		$(this).parents(".Field-content").empty().append(data);
		checkProfileModify();
	});
	//});
}
function checkProfileModify()
{
	$(".Field").find(".ModifyButton").off("click");
	$(".Field").find(".ModifyButton").click(function(){
		var field_type=$(this).parents(".Field-content").attr("data-field-type");
		console.log(field_type);
        if("nickname"==field_type)
		{
			var data='<div><div class="HeadlineField-input Input-wrapper"><input name="nickname" class="Input" value="'+g_er_name+'"></div><div class="HeadlineField-actions"><div class="ButtonGroup HeadlineField-buttonGroup"><button class="Button Button--primary Button--blue save" type="button">保存</button><button class="Button Button--grey cancle" type="button">取消</button></div><span class="MaxLength"></span></div></div>';
		}
		else if("sexual"==field_type)
		{
			if("f"==g_er_sexual)
				var data='<div><input type="radio" name="sexual" value="m"> 男<input type="radio" name="sexual" value="f" checked style="margin-left: 30px;"> 女<div class="ButtonGroup"><button class="Button Button--primary Button--blue save" type="button">保存</button><button class="Button Button--grey cancle" type="button">取消</button></div></div>';
			else
				var data='<div><input type="radio" name="sexual" value="m" checked> 男<input type="radio" name="sexual" value="f" style="margin-left: 30px;"> 女<div class="ButtonGroup"><button class="Button Button--primary Button--blue save" type="button">保存</button><button class="Button Button--grey cancle" type="button">取消</button></div></div>';
		}
		else if("mood"==field_type)
		{
			var data='<div><div class="HeadlineField-input Input-wrapper"><input name="mood" class="Input" value="'+g_er_mood+'"></div><div class="HeadlineField-actions"><div class="ButtonGroup HeadlineField-buttonGroup"><button class="Button Button--primary Button--blue save" type="button">保存</button><button class="Button Button--grey cancle" type="button">取消</button></div><span class="MaxLength"></span></div></div>';
		}
		else if("residence"==field_type)
		{
		    var data='<div><div class="HeadlineField-input Input-wrapper"><input name="residence" class="Input" value="'+g_er_residence+'"></div><div class="HeadlineField-actions"><div class="ButtonGroup HeadlineField-buttonGroup"><button class="Button Button--primary Button--blue save" type="button">保存</button><button class="Button Button--grey cancle" type="button">取消</button></div><span class="MaxLength"></span></div></div>';
			$(this).parents(".Field-content").empty().append(data);
		}
		else if("job"==field_type)
		{
			var data='<div><div class="HeadlineField-input Input-wrapper"><input name="job" class="Input" value="'+g_er_job+'"></div><div class="HeadlineField-actions"><div class="ButtonGroup HeadlineField-buttonGroup"><button class="Button Button--primary Button--blue save" type="button">保存</button><button class="Button Button--grey cancle" type="button">取消</button></div><span class="MaxLength"></span></div></div>';
		}
		else if("intro"==field_type)
		{
			var data='<div><textarea name="intro" rows="3" class="DescriptionField-input TextArea">'+g_er_intro+'</textarea><div class="DescriptionField-actions"><div class="ButtonGroup DescriptionField-buttonGroup"><button class="Button Button--primary Button--blue save" type="button">保存</button><button class="Button Button--grey cancle" type="button">取消</button></div><span class="MaxLength"></span></div></div>';
		}
		$(this).parents(".Field-content").empty().append(data);
		checkProfileSave();
	});
		//ata-field-type="sexual"
}
function checkAvatarModify()
{
    $(".Profile-avatar.Modify-avatar").click(function(){
        $("#id_avatar_input").click();
        $("#id_avatar_input").on("change",function(){
            //fileUpload();
            var file = $('#id_avatar_input')[0].files[0];
            scaleAndUploadImage("forAvatar",file,200);
        });
    });
}
/*
function profileDetailShow()
{
    g_cache_page=$("main").html();
	var data='\
			<div class="Card">\
            <div class="ProfileHeader-expandActions ProfileEdit-expandActions">\
			<button class="1Button 1Button--primary Button--blue ReturnHomePage" style="margin:3px" type="button">返回我的主页</button>\
			</div>\
            <div class="Profile-intro">\
            <img id="id_avatar" class="Profile-avatar Modify-avatar" src="'+g_er_avatar+'"alt="">\
            </div>\
            <div class="Profile-data">\
            <div class="Profile-datalist">\
			<div class="Field List-item"><h6>昵称</h6><div class="Field-content"><div><span class="Field-text"><span class="RichText">'+g_er_name+'</span></span></div></div></div>\
			<div class="Field List-item"><h6>性别</h6><div class="Field-content"><div><span class="Field-text">'+g_er_sexual_han+'</span></div></div></div>\
			<div class="Field List-item"><h6>一句话介绍</h6><div class="Field-content"><div><span class="Field-text"><span class="RichText">'+g_er_mood+'</span></span></div></div></div>\
			<div class="Field List-item"><h6>居住地</h6><div class="Field-content"><div><span class="Field-text"><span class="RichText">'+g_er_residence+'</span></span></div></div></div>\
			<div class="Field List-item"><h6>所在行业</h6><div class="Field-content"><div><span class="Field-text">'+g_er_job+'</span></div></div></div>\
			<div class="Field List-item"><h6>个人简介</h6><div class="Field-content"><div class="DescriptionField-content"><span class="Field-text"><span class="RichText">'+g_er_intro+'</span></span></div></div></div>\
            </div></div>\
			</div>';
    $("main").empty().append(data);
    checkReturnHomePage();
}
function profileEdit()
{
    g_cache_page=$("main").html();
	var data='\
			<div class="Card">\
            <div class="ProfileHeader-expandActions ProfileEdit-expandActions">\
			<button class="1Button 1Button--primary Button--blue ReturnHomePage" style="margin:3px" type="button">返回我的主页</button>\
			</div>\
            <div class="Profile-intro">\
            <img id="id_avatar" class="Profile-avatar Modify-avatar" src="'+g_er_avatar+'"alt="">\
            <input id="id_avatar_input" name="file" type="file" accept="image/png,image/jpeg" style="display: none;"/>\
            </div>\
            <div class="Profile-data">\
            <div class="Profile-datalist">\
			<div class="Field List-item"><h6>昵称</h6><div class="Field-content" data-field-type="nickname"><div><span class="Field-text"><span class="RichText">'+g_er_name+'</span></span><button class="Button ModifyButton Button--link" type="button"><svg viewBox="0 0 12 12" class="Icon ModifyButton-icon Icon--modify" width="12" height="16" aria-hidden="true" style="height: 16px; width: 12px;"><title></title><g><path d="M.423 10.32L0 12l1.667-.474 1.55-.44-2.4-2.33-.394 1.564zM10.153.233c-.327-.318-.85-.31-1.17.018l-.793.817 2.49 2.414.792-.814c.318-.328.312-.852-.017-1.17l-1.3-1.263zM3.84 10.536L1.35 8.122l6.265-6.46 2.49 2.414-6.265 6.46z" fill-rule="evenodd"></path></g></svg>修改</button></div></div></div>\
			<div class="Field List-item"><h6>性别</h6><div class="Field-content" data-field-type="sexual"><div><span class="Field-text">'+g_er_sexual_han+'</span><button class="Button ModifyButton Button--link" type="button"><svg viewBox="0 0 12 12" class="Icon ModifyButton-icon Icon--modify" width="12" height="16" aria-hidden="true" style="height: 16px; width: 12px;"><title></title><g><path d="M.423 10.32L0 12l1.667-.474 1.55-.44-2.4-2.33-.394 1.564zM10.153.233c-.327-.318-.85-.31-1.17.018l-.793.817 2.49 2.414.792-.814c.318-.328.312-.852-.017-1.17l-1.3-1.263zM3.84 10.536L1.35 8.122l6.265-6.46 2.49 2.414-6.265 6.46z" fill-rule="evenodd"></path></g></svg>修改</button></div></div></div>\
			<div class="Field List-item"><h6>一句话介绍</h6><div class="Field-content" data-field-type="mood"><div><span class="Field-text"><span class="RichText">'+g_er_mood+'</span></span><button class="Button ModifyButton Button--link" type="button"><svg viewBox="0 0 12 12" class="Icon ModifyButton-icon Icon--modify" width="12" height="16" aria-hidden="true" style="height: 16px; width: 12px;"><title></title><g><path d="M.423 10.32L0 12l1.667-.474 1.55-.44-2.4-2.33-.394 1.564zM10.153.233c-.327-.318-.85-.31-1.17.018l-.793.817 2.49 2.414.792-.814c.318-.328.312-.852-.017-1.17l-1.3-1.263zM3.84 10.536L1.35 8.122l6.265-6.46 2.49 2.414-6.265 6.46z" fill-rule="evenodd"></path></g></svg>修改</button></div></div></div>\
			<div class="Field List-item"><h6>居住地</h6><div class="Field-content" data-field-type="residence"><div><span class="Field-text"><span class="RichText">'+g_er_residence+'</span></span><button class="Button ModifyButton Button--link" type="button"><svg viewBox="0 0 12 12" class="Icon ModifyButton-icon Icon--modify" width="12" height="16" aria-hidden="true" style="height: 16px; width: 12px;"><title></title><g><path d="M.423 10.32L0 12l1.667-.474 1.55-.44-2.4-2.33-.394 1.564zM10.153.233c-.327-.318-.85-.31-1.17.018l-.793.817 2.49 2.414.792-.814c.318-.328.312-.852-.017-1.17l-1.3-1.263zM3.84 10.536L1.35 8.122l6.265-6.46 2.49 2.414-6.265 6.46z" fill-rule="evenodd"></path></g></svg>修改</button></div></div></div>\
			<div class="Field List-item"><h6>所在行业</h6><div class="Field-content" data-field-type="job"><div><span class="Field-text">'+g_er_job+'</span><button class="Button ModifyButton Button--link" type="button"><svg viewBox="0 0 12 12" class="Icon ModifyButton-icon Icon--modify" width="12" height="16" aria-hidden="true" style="height: 16px; width: 12px;"><title></title><g><path d="M.423 10.32L0 12l1.667-.474 1.55-.44-2.4-2.33-.394 1.564zM10.153.233c-.327-.318-.85-.31-1.17.018l-.793.817 2.49 2.414.792-.814c.318-.328.312-.852-.017-1.17l-1.3-1.263zM3.84 10.536L1.35 8.122l6.265-6.46 2.49 2.414-6.265 6.46z" fill-rule="evenodd"></path></g></svg>修改</button></div></div></div>\
			<div class="Field List-item"><h6>个人简介</h6><div class="Field-content" data-field-type="intro"><div class="DescriptionField-content"><span class="Field-text"><span class="RichText">'+g_er_intro+'</span></span><button class="Button ModifyButton Button--link" type="button"><svg viewBox="0 0 12 12" class="Icon ModifyButton-icon Icon--modify" width="12" height="16" aria-hidden="true" style="height: 16px; width: 12px;"><title></title><g><path d="M.423 10.32L0 12l1.667-.474 1.55-.44-2.4-2.33-.394 1.564zM10.153.233c-.327-.318-.85-.31-1.17.018l-.793.817 2.49 2.414.792-.814c.318-.328.312-.852-.017-1.17l-1.3-1.263zM3.84 10.536L1.35 8.122l6.265-6.46 2.49 2.414-6.265 6.46z" fill-rule="evenodd"></path></g></svg>修改</button></div></div></div>\
            </div></div>\
			</div>';
    $("main").empty().append(data);
    checkReturnHomePage();
    checkAvatarModify();
	checkProfileModify();
}
function checkReturnHomePage()
{
    $(".ReturnHomePage").off("click");
    $(".ReturnHomePage").click(function(){
        $("main").empty().append(g_cache_page);
        checkNextPage();
    });
}

function initElement()
{
    $(".Profile-avatar").attr("src",g_er_avatar);
    $(".Profile-name").text(g_er_name);
    $(".Profile-headline").text(g_er_mood);
    $("#residence").text(g_er_residence);
    $("#job").text(g_er_job);
    $("#followers").text(g_followers_num);
    $("#followtos").text(g_followtos_num);
    if("f"==g_er_sexual)
    {
        var who="she";
        var who_han="她";
        g_er_sexual_han="女";
    }
    else
    {
        var who="he";
        var who_han="他";
        g_er_sexual_han="男";
    }
    if(g_user_id==g_er_id)
    {
        var who="me";
        var who_han="我";
        $(".ProfileEditButton").removeClass("is-hide");
        $(".ProfileLetterButton").addClass("is-hide");
        $(".ProfileFollowButton").addClass("is-hide");
    }
    else
    {
        $(".ProfileEditButton").addClass("is-hide");
        $(".ProfileLetterButton").removeClass("is-hide");
        if("true"==g_followed)
            $(".ProfileFollowButton").removeClass("is-hide Button--blue").addClass("Button--grey").text("已关注").attr("data-followed","true").attr("data-er-id",g_er_id).attr("data-who",who);
        else
            $(".ProfileFollowButton").removeClass("is-hide Button--grey").addClass("Button--blue").text("关注"+who_han).attr("data-followed","false").attr("data-er-id",g_er_id).attr("data-who",who);
    }
    $(".who").text(who_han);
       
    var answers_active="";
	var asks_active="";
	var posts_active="";
	var following_active="";	
	if ("answers"==g_command)
	{
	    answers_active="is-active";
        appendAnswerElement();
	}
    else if("asks"==g_command)
	{
		asks_active="is-active";
        appendQuestionElement();
	}
	else if("posts"==g_command)
	{
		posts_active="is-active";
        //appendQuestionElement();
	}
    else if("following"==g_command)
	{
		following_active="is-active";
        appendFollowElement();
	}
    else 
        console.log("false");
    
    var ul_list='<li role="tab" class="Tabs-item Tabs-item--noMeta" aria-controls="Profile-activities"><a class="Tabs-link '+answers_active+'" href="/er/'+g_er_id+'/answers/">回答</a></li><li role="tab" class="Tabs-item Tabs-item--noMeta" aria-controls="Profile-answers"><a class="Tabs-link '+asks_active+'" href="/er/'+g_er_id+'/asks/">提问</a></li><li role="tab" class="Tabs-item Tabs-item--noMeta" aria-controls="Profile-articals"><a class="Tabs-link '+posts_active+'" href="/er/'+g_er_id+'/posts/">文章</a></li><li role="tab" class="Tabs-item Tabs-item--noMeta" aria-controls="Profile-questions"><a class="Tabs-link '+following_active+'" href="/er/'+g_er_id+'/following/">关注</a></li>'
    $(".Tabs.ProfileBar").append(ul_list);
}
function initData()
{
    show_detailed="false";
    
	var str_main_data=$("main").attr("data-dfs-main");
	console.log(str_main_data);
	var main_data=JSON.parse(str_main_data);//str_main_data.parseJSON();
	var str_ext_data=$("main").attr("data-dfs-ext");
	console.log(str_ext_data);
	var ext_data=JSON.parse(str_ext_data);
	
	g_user_id=main_data.user_id;
	g_user_name=main_data.user_name;
	g_user_avatar=main_data.user_avatar;
	
	g_er_id=main_data.er_id;
    g_er_name=main_data.er_name;
    g_er_avatar=main_data.er_avatar;
    g_er_mood=main_data.er_mood;
	g_er_sexual=main_data.er_sexual;
	g_er_residence=main_data.er_residence;
	g_er_job=main_data.er_job;
	g_er_intro=main_data.er_intro;
	
	g_followed=main_data.followed;
	g_command=main_data.command;
    g_subcmd=main_data.subcmd;
	
	g_questions_num=ext_data.questions_num;
	g_answers_num=ext_data.answers_num;
	g_followtos_num=ext_data.followtos_num;
	g_followers_num=ext_data.followers_num;
	g_followtopics_num=ext_data.followtopics_num;
	g_followquestions_num=ext_data.followquestions_num;
}
function init()
{
    initData();
	initElement();
    appendLetterModal();
    setLetterReceiver(g_er_id,g_er_name);     
	checkSets();
    checkNextPage();
}
*/
</script>
</body>
</html>