<!DOCTYPE html>
<html lang="zh" data-hairline="true" data-android="true" data-theme="light">
<head>
<meta charset="utf-8">
<title></title>
{% include 'question/head_mobile.html' %}
</head>
<body class="Mobile-body">
<div id="root">
<div class="App">
<div class="LoadingBar"></div>
<div class="Mobile-header is-hide">
{% include 'question/header_mobile.html' %}
</div>

<main role="main" class="App-main" data-module="home" data-dfs-main='{"logged":"{{logged}}","user_id":"{{user.id}}","user_name":"{{user.first_name}}","er_id":"{{er.id}}","er_name":"{{er.first_name}}"
,"er_avatar":"{{er.userprofile__avatar}}","er_mood":"{{er.userprofile__mood}}","er_intro":"{{er.userprofile__intro}}","er_sexual":"{{er.userprofile__sexual}}","er_residence":"{{er.userprofile__residence}}"
,"er_job":"{{er.userprofile__job}}","command":"{{command}}","subcmd":"{{subcmd}}"}'   data-dfs-ext='{"question_nums":"{{er.userprofile__question_nums}}","article_nums":"{{er.userprofile__article_nums}}","answer_nums":"{{er.userprofile__answer_nums}}","business_nums":"{{er.userprofile__business_nums}}"
,"followto_nums":"{{er.userprofile__followto_nums}}","follower_nums":"{{er.userprofile__follower_nums}}","followtopic_nums":"{{er.userprofile__followtopic_nums}}","followquestion_nums":"{{er.userprofile__followquestion_nums}}","contribution":"{{er.userprofile__contribution}}"}'>
<div class="Profile">
<div class="Card">
<div class="Profile-intro">
<img class="Profile-avatar" src="" alt="">
<div class="Profile-name"></div>
<div class="RichText Profile-headline"></div>
<div class="RichText Profile-contribution" style="color:#daa520">贡献值: 100  |  股份: 0.00001%</div>
<div class="MobileQuestionButtonGroup" style="margin:12px auto;">
<button class="Button ProfileEditButton Button--primary Button--green">编辑个人资料</button>
<button class="Button FollowButton ProfileFollowButton Button--primary Button--green" type="button" data-follow-type="people"></button>
<button class="Button ProfileLetterButton Button--grey Button--withIcon Button--withLabel" type="button" data-toggle="modal" data-target="#letterModal"><span style="display: inline-flex; align-items: center;">&#8203;<svg class="Zi Zi--Comments Button-zi" fill="currentColor" viewBox="0 0 24 24" width="1.2em" height="1.2em"><path d="M11 2c5.571 0 9 4.335 9 8 0 6-6.475 9.764-11.481 8.022-.315-.07-.379-.124-.78.078-1.455.54-2.413.921-3.525 1.122-.483.087-.916-.25-.588-.581 0 0 .677-.417.842-1.904.064-.351-.14-.879-.454-1.171A8.833 8.833 0 0 1 2 10c0-3.87 3.394-8 9-8zm10.14 9.628c.758.988.86 2.009.86 3.15 0 1.195-.619 3.11-1.368 3.938-.209.23-.354.467-.308.722.12 1.073.614 1.501.614 1.501.237.239-.188.562-.537.5-.803-.146-1.495-.42-2.546-.811-.29-.146-.336-.106-.563-.057-2.043.711-4.398.475-6.083-.927 5.965-.524 8.727-3.03 9.93-8.016z" fill-rule="evenodd"></path></svg></span>发私信</button>
</div>
<div class="Profile-infos">
<div class="Profile-infosDes Profile-infosDesEllipsis">
<span style="display:inline-flex;align-items:center">&#8203;<svg class="Zi Zi--Education" fill="#999" viewBox="0 0 24 24" width="1.2em" height="1.2em"><path d="M12 4L1 7.94v.588l4.153 2.73v5.166C5.158 16.758 8.028 20 12 20c3.972 0 6.808-3.116 6.85-3.576l.006-5.163 4.129-2.733.015-.586L12 4z" fill-rule="evenodd"></path></svg></span>
<span id="residence"></span>
<div class="ProfileHeader-infosDivider"></div>
<span id="job"></span>
</div>
<button class="Profile-infosOia">详细资料 <span style="display:inline-flex;align-items:center">&#8203;<svg class="Zi Zi--ArrowRight" fill="#8590a6" viewBox="0 0 24 24" width="1.2em" height="1.2em"><path d="M9.218 16.78a.737.737 0 0 0 1.052 0l4.512-4.249a.758.758 0 0 0 0-1.063L10.27 7.22a.737.737 0 0 0-1.052 0 .759.759 0 0 0-.001 1.063L13 12l-3.782 3.716a.758.758 0 0 0 0 1.063z" fill-rule="evenodd"></path></svg></span></button>
</div>
<div class="Profile-follows"><span class="NextPage" data-next-page-type="followers"><span id="followers"></span> 关注<span class="who"></span>的人</span><div class="ProfileHeader-infosDivider"></div><span class="NextPage" data-next-page-type="followtos"><span id="followtos"></span> <span class="who"></span>关注的人</span></div>
</div>
</div>
<ul role="tablist" class="Tabs ProfileBar">
<!-------------ul_list---------------->
</ul>
</ul>
<div>
<div>
<div class="Sticky"></div>
</div>
</div>
<div class="Profile-data">
<div class="Card Profile-datalist" id="Profile-datalist">
<div id="appendArea" class="List">
<!---------<div class="List-item">--->
</div>
</div>
</div>
</div>
</main>
</div>
</div>
{% include 'question/ask_modal_mobile.html' %}
</body>
</html>