<!DOCTYPE html>
<html lang="zh" data-hairline="true" data-android="true" data-theme="light">
{% include 'question/head_mobile.html' %}
<body class="Mobile-body">
<div id="root">
<div class="App">
<div class="LoadingBar"></div>
<div>
{% include 'question/header_mobile.html' %}
</div>

<main role="main" class="App-main" data-module="index" data-dfs-main='{"logged":"{{logged}}","user_id":"{{user.id}}","user_name":"{{user.first_name}}","user_avatar":"{{user.userprofile.avatar}}"}'>
<div id="topstory">
<div class="TopstoryMain">
<div id="appendArea" class="">
<!--appendArea-->
<div>
</div>
</div>
<!--<button class="OpenInAppButton OpenInApp is-shown">App 内打开</button>-->
</div>
</div>
</main>
</div>
</div>

</body>
</html>