<!DOCTYPE html>
<html lang="zh" data-hairline="true" data-theme="light" data-focus-method="pointer" style="">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=11">
<meta charset="utf-8">
<title></title>
{% include 'question/head.html' %}
</head>
<body class="Entry-body">
{% include 'question/header.html' %}

<main role="main" class="App-main" data-module="mytopic" data-dfs-main='{"logged":"{{logged}}","user_id":"{{user.id}}","user_name":"{{user.first_name}}"}'>
<div class="ContentLayout">
<div class="ContentLayout-mainColumn">       
<div class="Card">
<div class="Card-header">
<div class="Card-headerText">
<a target="_blank" href="/er/{{user.id}}/following/topics/">已关注的栏目</a> 
</div>
</div>
<div class="Card-section">
{% if mytopic_list %}
{% for topic in mytopic_list %}
<div class="Tag FollowedTopic" data-topic-id="{{ topic.id }}" data-topic-name="{{ topic.name }}" data-topic-avatar="{{ topic.avatar }}" data-topic-detail="{{ topic.detail }}">
<span class="Tag-content">
<a class="1TopicLink" href="#{{ topic.id }}">{{ topic.name }}</a>
</span>
</div>
{% endfor %}
{% endif %} 
</div> 
</div>

<div class="Card">

<div class="Card-section  Topic--current">
<div class="ContentItem">
<div class="ContentItem-main">
<div class="ContentItem-image"><span class="TopicLink TopicItem-avatar"><a class="TopicLink-link" target="_blank" href=""><img class="Avatar Avatar--large TopicLink-avatar" width="60" height="60" src="" alt=""></a></span></div>
<div class="ContentItem-head"><h2 class="ContentItem-title"><div class="TopicItem-title"><span class="TopicLink TopicItem-name"><a class="TopicLink-link" target="_blank" href=""><span class="RichText"></span></a></span></div></h2><div class="ContentItem-meta"><div><div class="ContentItem-status"><div class="ContentItem-statusItem"></div></div></div></div></div>
</div>
</div>
</div>

<div id="appendArea" class="List"></div>
</div>

</div>

<div class="ContentLayout-sideColumn">
    <div class="Card"><div class="topics-plaza"><a target="_blank" href="/topics/" class="Button Button--primary Button--green">进入栏目广场</a><a target="_blank" href="/topics/" class="text">来这里发现更多有趣栏目</a></div></div>
    <!--<div class="Card Banner" data-za-module="ExternalAdItem" data-za-detail-view-path-is_ad="true"><a class="Button Banner-link Button--plain" target="_blank" href="" type="button"><img class="Banner-image" src="" srcset="" alt="广告"></a><button class="Button Banner-close Button--plain" data-tooltip="不再显示" data-tooltip-position="bottom" type="button"><svg width="14" height="16" viewBox="0 0 12 12" class="Icon Icon--boldRemove" aria-hidden="true" style="height: 16px; width: 14px;"><title></title><g><path fill-rule="evenodd" d="M3 2L2 3l3 3-3 3 1 1 3-3 3 3 1-1-3-3 3-3-1-1-3 3"></path></g></svg></button></div>-->
    <div class="Card">
        {% include 'question/sidebar_navlist.html' %}
    </div>
    {% include 'question/footer.html' %}
</div>

</div>
</div>
</div>
</main>

<!-- ask（Modal） -->
{% include 'question/ask_modal.html' %}
<!-- ask（Modal） -->

<!-- letter（Modal） -->
<!-- append by js -->
<!-- letter（Modal） -->

</body>

</html>