<!DOCTYPE html>
<html lang="zh" data-hairline="true" data-android="true" data-theme="light">
<head>
<meta charset="utf-8">
<title></title>
{% include 'question/head_mobile.html' %}
</head>
<body class="Mobile-body">
<div id="root">
<div class="App">
<div class="LoadingBar"></div>
<div class="Mobile-header is-hide">
{% include 'question/header_mobile.html' %}
</div>

<main role="main" class="App-main" data-module="mytopic" data-dfs-main='{"logged":"{{logged}}","user_id":"{{user.id}}","user_name":"{{user.first_name}}"}'>

<div id="mytopic">

{% ifequal logged 'true' %}
<div class="Card">
<div class="Card-header">
<div class="Card-headerText">
<a id="myfollow" target="_blank" href="">已关注的栏目</a> 
</div>
</div>
<div class="Card-section">
{% if mytopic_list %}
{% for topic in mytopic_list %}
<div class="Tag FollowedTopic 1QuestionTopic" data-topic-id="{{ topic.id }}">
<span class="Tag-content">
<a class="1TopicLink" href="/topic/{{ topic.id }}">{{ topic.name }}</a>
</span>
</div>
{% endfor %}
{% endif %} 
</div>  
</div>
{% endifequal %}

<div class="Card">
<div class="Card-header">
<div class="Card-headerText">
全部的栏目
</div>
</div>
<div class="List">
<div id="appendArea" class="">
<!--<div class="List-item SearchItem">-->
</div>
</div>
</div>

<!--<button class="OpenInAppButton OpenInApp is-shown">App 内打开</button>-->

</div>
</main>

</div>
</div>

<!-- ask（Modal） -->
{% include 'question/ask_modal_mobile.html' %}

</body>
</html>