<!DOCTYPE html>
<html lang="zh" data-hairline="true" data-theme="light" data-focus-method="pointer" style="">
{% include 'question/head.html' %}
<body class="Entry-body">
{% include 'question/header.html' %}

<div class="Sticky--holder" style="position: relative; top: 0px; right: 0px; bottom: 0px; left: 0px; display: block; float: none; margin: 0px; height: 3px;">
</div>


<!--------------------main---------------------->
<main role="main" class="App-main">
<h1>功能实现中，敬请期待</h1>         
</main>
<!--------------------main end-------------------->

<!-- ask（Modal） -->
{% include 'question/ask_modal.html' %}
<!-- ask（Modal） -->

<!-- letter（Modal） -->
<!-- append by js -->
<!-- letter（Modal） -->
<script>
function init()
{   
    $('#summernote_answer').summernote({
    height:200,
    lang:'zh-CN',
    placeholder:'写回答...',
    callbacks: {
        onImageUpload: function(files){
            img=sendFileAnswer(files[0]);
            console.log(img);
        }
    }
    });
    
    $('#summernote_question').summernote({
    height:120,
    lang:'zh-CN',
    placeholder:'问题背景、条件等详细信息',
    callbacks: {
        onImageUpload: function(files){
            img=sendFileQuestion(files[0]);
            console.log(img);
        }
    }
    });
    
    appendLetterModal();
    checkSets();
}
</script>
</body>
</html>