<!DOCTYPE html>
<html lang="zh" data-hairline="true" data-android="true" data-theme="light">
{% include 'question/head_mobile.html' %}
<body class="Mobile-body">
<div id="root">
<div class="App">
<div class="LoadingBar">
</div>
<div>
{% include 'question/header_mobile.html' %}
</div>
<main role="main" class="App-main"  data-module="question" data-question-detail="{{context_question.detail}}" data-answer-content="{{push_answer.content}}" data-dfs-main='{"logged":"{{logged}}","user_id":"{{user.id}}","user_name":"{{user.first_name}}","user_avatar":"{{user.userprofile.avatar}}","question_id":"{{context_question.id}}","question_title":"{{context_question.title}}","question_answer_nums":"{{context_question.answer_nums}}","question_followed":"{{followed}}","answer_id":"{{push_answer.id}}","answer_like_nums":"{{push_answer.like_nums}}","author_id":"{{push_answer.author.id}}","author_name":"{{push_answer.author.first_name}}","author_avatar":"{{push_answer.author.userprofile.avatar}}","author_mood":"{{push_answer.author.userprofile.mood}}"}'>
<div>


<div class="QuestionHeader">
<div class="QuestionStatus"></div>
<div class="Card QuestionHeader-content">
<div class="QuestionHeader-tags">

<div class="TopicList">
{% for topic in context_question.topics.all %}
<div class="Tag Topic">
<span class="Tag-content">
<a class="TopicLink TopicPopover" href="/topic/{{topic.id}}/" data-topic-id="{{topic.id}}" data-toggle="popover" data-placement="bottom" data-trigger="manual" data-content="null" data-html="true">{{topic.name}}</a>
</span>
</div>
{% endfor %}
</div>

</div>
<div class="QuestionHeader-title"></div>
<div class="RichContent RichContent--unescapable RichContent--withMask">
<div class="RichContent-inner"><span class="RichText CopyrightRichText-richText"></span></div>
<div class="ContentItem-actions">
<div class="MobileQuestionButtonGroup">
<button class="Button FollowButton Button--primary Button--blue is-hide" type="button" data-follow-type="question"></button>
<button class="Button Button--blue" type="button" onclick="showAnswerToolbar()">写回答</button>
<button class="Button Button--blue" type="button" onclick="showInvite()">邀请回答</button>
</div>
</div>
</div>

</div>
</div>

<div id="answertoolbar">
<div class="Card QuestionAnswers-answerAdd AnswerToolbar is-hide">
<div class="AnswerAdd">
<div class="AnswerAdd-header" style="padding:5px 1px;">
<div class="AuthorInfo AnswerAdd-info">
<span class="UserLink AuthorInfo-avatarWrapper">
<img class="Avatar AuthorInfo-avatar" width="38" height="38" src="" alt="">
</span>
<div class="AuthorInfo-content">
<div class="AuthorInfo-head">
<span class="UserLink AuthorInfo-name"></span>
</div>   
</div>       
<div>
<button  class="Button Button--plain" type="button" onclick="hideAnswerToolbar()">
<svg class="Zi Zi--Close " fill="currentColor" viewBox="0 0 24 24" width="24" height="24"><path d="M13.486 12l5.208-5.207a1.048 1.048 0 0 0-.006-1.483 1.046 1.046 0 0 0-1.482-.005L12 10.514 6.793 5.305a1.048 1.048 0 0 0-1.483.005 1.046 1.046 0 0 0-.005 1.483L10.514 12l-5.208 5.207a1.048 1.048 0 0 0 .006 1.483 1.046 1.046 0 0 0 1.482.005L12 13.486l5.207 5.208a1.048 1.048 0 0 0 1.483-.006 1.046 1.046 0 0 0 .005-1.482L13.486 12z" fill-rule="evenodd"></path></svg></button>
</div>       
</div>       
</div>       
<div>
<textarea id="summernote_answer" name="content" 1rows="5" 1cols="70" 1maxlength="160" 1placeholder="写回答..."></textarea>
<div>
<div class="Sticky AnswerForm-footer is-bottom">
<div class="AnswerForm-footerContent AnswerForm-container">
<div class="AnswerForm-status"></div>
<div class="AnswerForm-footerRight">
<button class="AnswerForm-submit  btn btn-success" type="button" onclick="submitAnswer()">提交回答</button>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>


<div class="Question-main">
{% if push_answer %}
<div class="Card AnswerCard">
<div class="QuestionAnswer-content">

<div class="ScrollIntoMark">
<div class="ContentItem AnswerItem" data-answer-id="{{push_answer.id}}" data-comment-nums="{{push_answer.comment_nums}}">
<div class="ContentItem-meta">
<div class="AuthorInfo AnswerItem-authorInfo AnswerItem-authorInfo--related">
<span class="UserLink AuthorInfo-avatarWrapper">
<a class="UserLink-link" target="_blank" href="/er/{{push_answer.author.id}}">
<img class="Avatar AuthorInfo-avatar" width="38" height="38" src="{{push_answer.author.userprofile.avatar}}" alt="{{push_answer.author.first_name}}">
</a>
</span>
<div class="AuthorInfo-content">
<div class="AuthorInfo-head">
<span class="UserLink AuthorInfo-name">
<a class="UserLink-link" target="_blank" href="/er/{{push_answer.author.id}}">{{push_answer.author.first_name}}</a></span></div>
<div class="AuthorInfo-detail"><div class="AuthorInfo-badge">
<div class="RichText AuthorInfo-badgeText">{{push_answer.author.userprofile.mood}}</div></div></div></div></div>
</div>
<div class="RichContent RichContent--unescapable RichContent--withMask">
<div class="RichContent-expand">
<div class="RichContent-inner 1RichContent-inner--collapsed">
<span class="RichText CopyrightRichText-richText"></span></div>
<button class="Button ContentItem-more ContentItem-rightButton Button--plain is-hide" type="button">展开阅读全文<svg viewBox="0 0 10 6" class="Icon ContentItem-arrowIcon Icon--arrow" style="height:16px;width:10px;" width="10" height="16" aria-hidden="true"><title></title><g><path d="M8.716.217L5.002 4 1.285.218C.99-.072.514-.072.22.218c-.294.29-.294.76 0 1.052l4.25 4.512c.292.29.77.29 1.063 0L9.78 1.27c.293-.29.293-.76 0-1.052-.295-.29-.77-.29-1.063 0z"></path></g></svg></button>
</div>
<div class="ContentItem-actions">
<span><button class="AnswerLike Button LikeButton ContentItem-action" type="button" data-answer-id="{{push_answer}}"><svg viewBox="0 0 20 18" xmlns="http://www.w3.org/2000/svg" class="Icon 1Icon--like" style="height:16px;width:13px;" width="13" height="16" aria-hidden="true"><title></title><g><path d="M.718 7.024c-.718 0-.718.63-.718.63l.996 9.693c0 .703.718.65.718.65h1.45c.916 0 .847-.65.847-.65V7.793c-.09-.88-.853-.79-.846-.79l-2.446.02zm11.727-.05S13.2 5.396 13.6 2.89C13.765.03 11.55-.6 10.565.53c-1.014 1.232 0 2.056-4.45 5.83C5.336 6.965 5 8.01 5 8.997v6.998c-.016 1.104.49 2 1.99 2h7.586c2.097 0 2.86-1.416 2.86-1.416s2.178-5.402 2.346-5.91c1.047-3.516-1.95-3.704-1.95-3.704l-5.387.007z"></path></g></svg>{{push_answer.like_nums}}</button></span>
<button class="Button ContentItem-action Button--plain Button--withIcon Button--withLabel" type="button" data-answer-id="'+answer_id+'"><span style="display: inline-flex; align-items: center;">&#8203;<svg class="Zi Zi--Comment Button-zi" fill="currentColor" viewBox="0 0 24 24" width="1.2em" height="1.2em"><path d="M10.241 19.313a.97.97 0 0 0-.77.2 7.908 7.908 0 0 1-3.772 1.482.409.409 0 0 1-.38-.637 5.825 5.825 0 0 0 1.11-2.237.605.605 0 0 0-.227-.59A7.935 7.935 0 0 1 3 11.25C3 6.7 7.03 3 12 3s9 3.7 9 8.25-4.373 9.108-10.759 8.063z" fill-rule="evenodd"></path></svg></span>{{push_answer.comment_nums}} 条评论</button>
<div class="Popover ShareMenu ContentItem-action"><div class="" aria-haspopup="true" aria-expanded="false"><img class="ShareMenu-fakeQRCode" src="" alt="微信二维码"><button class="Button Button--plain Button--withIcon Button--withLabel" type="button"><span style="display: inline-flex; align-items: center;">&#8203;<svg class="Zi Zi--Share Button-zi" fill="currentColor" viewBox="0 0 24 24" width="1.2em" height="1.2em"><path d="M2.931 7.89c-1.067.24-1.275 1.669-.318 2.207l5.277 2.908 8.168-4.776c.25-.127.477.198.273.39L9.05 14.66l.927 5.953c.18 1.084 1.593 1.376 2.182.456l9.644-15.242c.584-.892-.212-2.029-1.234-1.796L2.93 7.89z" fill-rule="evenodd"></path></svg></span>分享</button></div></div>
<button class="Button ContentItem-action ContentItem-less ContentItem-rightButton Button--plain" type="button"><span class="RichContent-collapsedText">收起</span><svg viewBox="0 0 10 6" class="Icon ContentItem-arrowIcon is-active Icon--arrow" width="10" height="16" aria-hidden="true" style="height: 16px; width: 10px;"><title></title><g><path d="M8.716.217L5.002 4 1.285.218C.99-.072.514-.072.22.218c-.294.29-.294.76 0 1.052l4.25 4.512c.292.29.77.29 1.063 0L9.78 1.27c.293-.29.293-.76 0-1.052-.295-.29-.77-.29-1.063 0z"></path></g></svg></button>
</div>
                                
</div>
</div>
</div>

</div>
</div>
<div style="margin-bottom: 10px;"></div>
<div class="Card">
<div class="Card-header">
<div class="Card-headerText">更多回答</div>
</div>
<div id="appendArea" class="List" data-list-type="more"></div>
</div>
<div class="Card ViewAllInappCard"><a class="QuestionMainAction" href="/question/{{ context_question.id }}">查看全部 {{context_question.answer_nums}} 个回答</a></div>
{% else %}
<div class="Card">
<div class="Card-header">
<div class="Card-headerText">
<h4 class="List-headerText"><span>{{context_question.answer_nums}} 个回答</span></h4>
</div>
</div>
<div id="appendArea" class="List" data-list-type="all"></div>
</div>
{% endif %}
<!--
<div class="Card ViewAllInappCard">
<button class="Button ViewAllInappButton Button--primary Button--blue" type="button">打开 App，查看全部 439 个回答</button>
</div>
-->
</div>
<!--<button class="OpenInAppButton OpenInApp is-shown">App 内打开</button>-->
</div>
</main>
</div>
</div>

<!--- div other for invite--->
<!-- 模态框（Modal） -->
<div class="modal fade" id="inviteModal" tabindex="-1" role="dialog" aria-labelledby="inviteModalLabel" aria-hidden="true">
<div class="modal-dialog inviteModal">
<div class="Modal-inner">
<div class="Modal-content Modal-content--spread">
<div class="QuestionInvitation">
<div class="Topbar">
<div class="Topbar-title">
<h2 class="QuestionInvitation-title">你可以邀请下面用户，快速获得回答</h2>
</div>
<div class="Topbar-options">
<div class="QuestionInvitation-input Input-wrapper">
<input data-tooltip="也可以搜索职业、公司等资料" data-tooltip-position="bottom" class="Input" placeholder="搜索你想邀请的人">
<div class="Input-after">
<svg viewBox="0 0 16 16" class="Icon Icon--search" width="14" height="16" aria-hidden="true" style="height: 16px; width: 14px;"><title></title><g><path d="M12.054 10.864c.887-1.14 1.42-2.57 1.42-4.127C13.474 3.017 10.457 0 6.737 0S0 3.016 0 6.737c0 3.72 3.016 6.737 6.737 6.737 1.556 0 2.985-.533 4.127-1.42l3.103 3.104c.765.46 1.705-.37 1.19-1.19l-3.103-3.104zm-5.317.925c-2.786 0-5.053-2.267-5.053-5.053S3.95 1.684 6.737 1.684 11.79 3.95 11.79 6.737 9.522 11.79 6.736 11.79z"></path></g></svg>
</div>
</div>
</div>
</div>
<div class="QuestionInvitation-content List">
</div>
</div>
</div>
<button data-dismiss="modal" aria-hidden="true" class="Button Modal-closeButton Button--plain 1close" aria-label="关闭" type="button"><svg class="Zi Zi--Close Modal-closeIcon" fill="currentColor" viewBox="0 0 24 24" width="24" height="24"><path d="M13.486 12l5.208-5.207a1.048 1.048 0 0 0-.006-1.483 1.046 1.046 0 0 0-1.482-.005L12 10.514 6.793 5.305a1.048 1.048 0 0 0-1.483.005 1.046 1.046 0 0 0-.005 1.483L10.514 12l-5.208 5.207a1.048 1.048 0 0 0 .006 1.483 1.046 1.046 0 0 0 1.482.005L12 13.486l5.207 5.208a1.048 1.048 0 0 0 1.483-.006 1.046 1.046 0 0 0 .005-1.482L13.486 12z" fill-rule="evenodd"></path></svg></button>
</div>
</div>
</div>
<!--- div other for invite--->

</body>


</html>