<!DOCTYPE html>
<html lang="zh" data-hairline="true" data-theme="light" data-focus-method="pointer" style="">
{% include 'question/head.html' %}
<body class="Entry-body">
{% include 'question/header.html' %}

<div class="Sticky--holder" style="position: relative; top: 0px; right: 0px; bottom: 0px; left: 0px; display: block; float: none; margin: 0px; height: 3px;">
</div>


<!--------------------main---------------------->
<main role="main" class="App-main"  data-module="question" data-answer-content="{{push_answer.content}}" data-dfs-main='{"logged":"{{logged}}","user_id":"{{user.id}}","user_name":"{{user.first_name}}","user_avatar":"{{user.userprofile.avatar}}","question_id":"{{context_question.id}}","question_title":"{{context_question.title}}","question_answer_nums":"{{context_question.answer_nums}}","question_followed":"{{followed}}","answer_id":"{{push_answer.id}}","answer_like_nums":"{{push_answer.like_nums}}","author_id":"{{push_answer.author.id}}","author_name":"{{push_answer.author.first_name}}","author_avatar":"{{push_answer.author.userprofile.avatar}}","author_mood":"{{push_answer.author.userprofile.mood}}"}'>
        
<div class="QuestionPage" data-question-id="{{ context_question.id }}" data-question-answer-nums="{{ context_question.answer_nums }}">
    <div>
        <div class="QuestionStatus">
        </div>
        
        <div class="QuestionHeader">
        <div class="QuestionHeader-content">
        <div class="QuestionHeader-main">
        
        <div class="QuestionHeader-tags">
        <div class="QuestionHeader-topics">
        
        {% for topic in context_question.topics.all %}
        <div class="Tag QuestionTopic">
        <span class="Tag-content">
        <a class="TopicLink TopicPopover" href="/topic/{{topic.id}}/" data-topic-id="{{topic.id}}" data-toggle="popover" data-placement="bottom" data-trigger="manual" data-content="null" data-html="true">{{topic.name}}</a>
        </span>
        </div>
        {% endfor %}
               
        </div>
        </div>
        
        <h1 class="QuestionHeader-title">{{ context_question.title }}</h1>
        <div>
        <div class="QuestionHeader-detail">
        <div class="QuestionRichText QuestionRichText--collapsed">
        <div>
        <span class="RichText">
        </span>
        </div>
        </div>
        </div>
        </div>
        </div>
        
        <div class="QuestionHeader-side">
        <div class="QuestionHeader-follow-status">
        <div class="QuestionFollowStatus">
        <div class="NumberBoard QuestionFollowStatus-counts">
        <button class="Button NumberBoard-item Button--plain" type="button">
        <div class="NumberBoard-name">关注者</div>
        <div class="NumberBoard-value" data-update-value-type="question-followed">{{context_question.follower_nums}}</div>
        </button>
        <div class="NumberBoard-divider">
        </div>
        <div class="NumberBoard-item">
        <div class="NumberBoard-name">被浏览</div>
        <div class="NumberBoard-value">{{context_question.hot}}</div>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        
        <div class="QuestionHeader-footer">
        <div class="QuestionHeader-footer-inner">
        <div class="QuestionHeader-main QuestionHeader-footer-main">
        
        <div class="QuestionButtonGroup">
        {% ifequal followed "true" %}
        <button class="Button FollowButton Button--primary Button--default" data-follow-type="question" data-followed="true" data-question-id="{{ context_question.id }}" type="button">已关注</button>
        {% else %}
        <button class="Button FollowButton Button--primary Button--blue" data-follow-type="question" data-followed="false" data-question-id="{{ context_question.id }}" type="button">关注</button>
        {% endifequal %}
        <button class="Button Button--blue" type="button" onclick="showAnswerToolbar()">
        <svg viewBox="0 0 12 12" class="Icon Button-icon Icon--modify" style="height:16px;width:14px;" width="14" height="16" aria-hidden="true" data-reactid="123"><title data-reactid="124"></title><g data-reactid="125"><path d="M.423 10.32L0 12l1.667-.474 1.55-.44-2.4-2.33-.394 1.564zM10.153.233c-.327-.318-.85-.31-1.17.018l-.793.817 2.49 2.414.792-.814c.318-.328.312-.852-.017-1.17l-1.3-1.263zM3.84 10.536L1.35 8.122l6.265-6.46 2.49 2.414-6.265 6.46z" fill-rule="evenodd"></path></g>
        </svg>写回答</button>
        </div>
        
        <div class="QuestionHeaderActions">
        <div class="QuestionHeader-Comment">
        <button class="Button Button--plain Button--withIcon Button--withLabel" type="button">
        <span style="display:inline-flex;align-items:center;">
                                &#8203;
        <svg class="Zi Zi--Comment Button-zi" fill="currentColor" viewBox="0 0 24 24" width="1.2em" height="1.2em" data-reactid="132"><path d="M10.241 19.313a.97.97 0 0 0-.77.2 7.908 7.908 0 0 1-3.772 1.482.409.409 0 0 1-.38-.637 5.825 5.825 0 0 0 1.11-2.237.605.605 0 0 0-.227-.59A7.935 7.935 0 0 1 3 11.25C3 6.7 7.03 3 12 3s9 3.7 9 8.25-4.373 9.108-10.759 8.063z" fill-rule="evenodd" data-reactid="133"></path></svg>
        </span>47 条评论
        </button>
        </div>
        
        <div class="Popover ShareMenu">
        <div class="" id="Popover-18753-20337-toggle" aria-haspopup="true" aria-expanded="false" aria-owns="Popover-18753-20337-content">
        <button class="Button Button--plain Button--withIcon Button--withLabel" type="button">
        <span style="display:inline-flex;align-items:center;">
        &#8203;
        <svg class="Zi Zi--Share Button-zi" fill="currentColor" viewBox="0 0 24 24" width="1.2em" height="1.2em" data-reactid="141"><path d="M2.931 7.89c-1.067.24-1.275 1.669-.318 2.207l5.277 2.908 8.168-4.776c.25-.127.477.198.273.39L9.05 14.66l.927 5.953c.18 1.084 1.593 1.376 2.182.456l9.644-15.242c.584-.892-.212-2.029-1.234-1.796L2.93 7.89z" fill-rule="evenodd" data-reactid="142"></path></svg>
        </span>分享</button>
        </div>
        </div>
        
        <button class="Button Button--plain Button--withIcon Button--withLabel" type="button" onclick="showInvite()">
        <span style="display:inline-flex;align-items:center;">
        &#8203;
        <svg class="Zi Zi--Star Button-zi" fill="currentColor" viewBox="0 0 24 24" width="1.2em" height="1.2em" data-reactid="148"><path d="M5.515 19.64l.918-5.355-3.89-3.792c-.926-.902-.639-1.784.64-1.97L8.56 7.74l2.404-4.871c.572-1.16 1.5-1.16 2.072 0L15.44 7.74l5.377.782c1.28.186 1.566 1.068.64 1.97l-3.89 3.793.918 5.354c.219 1.274-.532 1.82-1.676 1.218L12 18.33l-4.808 2.528c-1.145.602-1.896.056-1.677-1.218z" fill-rule="evenodd" data-reactid="149"></path></svg>
        </span>邀请回答</button>
        
        
        </div>
        <div class="QuestionHeader-actions">
        </div>
        </div>
        </div>
        </div>
        </div>

        <div class="Sticky" style="">
        </div>

    </div>

    <div class="Question-main">
        <div class="Question-mainColumn">
        <div class="Card QuestionAnswers-answerAdd AnswerToolbar is-hide" data-question-answer-url="/ajax/question_answer/{{ context_question.id }}/">
        <div class="AnswerAdd">
        <div class="AnswerAdd-header">
        <div class="AuthorInfo AnswerAdd-info">
        <span class="UserLink AuthorInfo-avatarWrapper">
        <img class="Avatar AuthorInfo-avatar" width="38" height="38" src="{{user.userprofile.avatar}}" srcset="{{user.userprofile.avatar}}" alt="{{user.username}}">
        </span>
        <div class="AuthorInfo-content">
        <div class="AuthorInfo-head">
        <span class="UserLink AuthorInfo-name">{{user.first_name}}</span>
        </div>
        <div class="AuthorInfo-detail">
        <div class="AuthorInfo-badge">
        <button class="Button ModifyButton AnswerAdd-topicBiosButton Button--link" type="button">
        <svg viewBox="0 0 12 12" class="Icon ModifyButton-icon Icon--modify" width="12" height="16" aria-hidden="true" style="height: 16px; width: 12px;"><title></title><g><path d="M.423 10.32L0 12l1.667-.474 1.55-.44-2.4-2.33-.394 1.564zM10.153.233c-.327-.318-.85-.31-1.17.018l-.793.817 2.49 2.414.792-.814c.318-.328.312-.852-.017-1.17l-1.3-1.263zM3.84 10.536L1.35 8.122l6.265-6.46 2.49 2.414-6.265 6.46z" fill-rule="evenodd"></path></g></svg>编辑话题经验</button>
        </div>
        </div>       
        </div>
        
        <div>
        <button  class="Button Button--plain" type="button" onclick="hideAnswerToolbar()">
        <svg class="Zi Zi--Close " fill="currentColor" viewBox="0 0 24 24" width="24" height="24"><path d="M13.486 12l5.208-5.207a1.048 1.048 0 0 0-.006-1.483 1.046 1.046 0 0 0-1.482-.005L12 10.514 6.793 5.305a1.048 1.048 0 0 0-1.483.005 1.046 1.046 0 0 0-.005 1.483L10.514 12l-5.208 5.207a1.048 1.048 0 0 0 .006 1.483 1.046 1.046 0 0 0 1.482.005L12 13.486l5.207 5.208a1.048 1.048 0 0 0 1.483-.006 1.046 1.046 0 0 0 .005-1.482L13.486 12z" fill-rule="evenodd"></path></svg></button>
        </div>
        
        </div>
        
        
        </div>
        
        <div>
        <!--<form action="/question/{{ context_question.id }}/" method="post">-->
        <!--{% csrf_token %}-->
            <textarea id="summernote_answer" name="content" 1rows="5" 1cols="70" 1maxlength="160" 1placeholder="写回答..."></textarea>
            <div>
            <div class="Sticky AnswerForm-footer is-bottom">
            <div class="AnswerForm-footerContent AnswerForm-container">
            <div class="AnswerForm-status"></div>
            <div class="AnswerForm-footerRight">
            <button class="AnswerForm-submit  btn btn-success" type="button" onclick="submitAnswer()">提交回答</button>
            </div>
            </div>
            </div>
            </div>
        	<!--<button type="button"  class="btn btn-success btn-lg" onclick="submitAnswer()">
				提交回答
			</button>-->
        <!--</form>-->
        </div>
        </div>
        </div>
        
        <div id="listArea">
        {% if push_answer %}
        <div class="Card">
        <a class="QuestionMainAction" data-za-detail-view-element_name="ViewAll" href="/question/{{ context_question.id }}">查看全部 {{context_question.answer_nums}} 个回答</a>
        </div>

        <div class="Card AnswerCard" data-author-id="{{push_answer.author.id}}">
        <div class="QuestionAnswer-content">
        <div class="ContentItem AnswerItem">
        <div class="ContentItem-meta">
        <div class="AnswerItem-meta AnswerItem-meta--related">
        <div class="AuthorInfo">
        <span class="UserLink AuthorInfo-avatarWrapper">
        <a class="UserLink-link PeoplePopover" href="/er/{{push_answer.author.id}}" data-author-id="{{push_answer.author.id}}" data-toggle="popover" data-placement="right" data-trigger="manual" data-content="null" data-html="true">
        <img class="Avatar AuthorInfo-avatar" width="40" height="40" src="{{push_answer.author.userprofile.avatar}}" srcset="{{push_answer.author.userprofile.avatar}}" alt="{{push_answer.author.first_name}}">
        </a>
        </span>
        <div class="AuthorInfo-content">
        <div class="AuthorInfo-head">
        <span class="UserLink AuthorInfo-name">
        <a class="UserLink-link" href="/er/{{push_answer.author.id}}">{{push_answer.author.first_name}}</a>
        </span>
        </div>
        <div class="AuthorInfo-detail">
        <div class="AuthorInfo-badge">
        </div>
        </div>
        </div>
        </div>
        <div class="AnswerItem-extraInfo">
        <span class="Voters">
        <button class="Button Button--plain" type="button">
        {{push_answer.like_nums}} 人赞同了该回答</button>
        </span>
        </div>
        </div>
        </div>
        
        <div class="RichContent RichContent--unescapable">
         <div class="RichContent-expand">
            <div class="RichContent-inner">
                <span class="RichText CopyrightRichText-richText" data-content="{{push_answer.content}}">{{push_answer.content|safe}}</span>
            </div>
            <button class="Button ContentItem-more ContentItem-rightButton Button--plain is-hide" type="button">展开阅读全文<svg viewBox="0 0 10 6" class="Icon ContentItem-arrowIcon Icon--arrow" width="10" height="16" aria-hidden="true" style="height: 16px; width: 10px;"><title></title><g><path d="M8.716.217L5.002 4 1.285.218C.99-.072.514-.072.22.218c-.294.29-.294.76 0 1.052l4.25 4.512c.292.29.77.29 1.063 0L9.78 1.27c.293-.29.293-.76 0-1.052-.295-.29-.77-.29-1.063 0z"></path></g></svg></button>
          </div>
            <div class="ContentItem-actions">
                <span>
                    <button class="AnswerLike Button LikeButton ContentItem-action" type="button" data-answer-id="{{push_answer.id}}">
                        <svg viewBox="0 0 20 18" xmlns="http://www.w3.org/2000/svg" class="Icon 1Icon--like" style="height:16px;width:13px;" width="13" height="16" aria-hidden="true" data-reactid="433"><title data-reactid="434"></title><g data-reactid="435"><path d="M.718 7.024c-.718 0-.718.63-.718.63l.996 9.693c0 .703.718.65.718.65h1.45c.916 0 .847-.65.847-.65V7.793c-.09-.88-.853-.79-.846-.79l-2.446.02zm11.727-.05S13.2 5.396 13.6 2.89C13.765.03 11.55-.6 10.565.53c-1.014 1.232 0 2.056-4.45 5.83C5.336 6.965 5 8.01 5 8.997v6.998c-.016 1.104.49 2 1.99 2h7.586c2.097 0 2.86-1.416 2.86-1.416s2.178-5.402 2.346-5.91c1.047-3.516-1.95-3.704-1.95-3.704l-5.387.007z"></path></g></svg>{{push_answer.like_nums}}
                    </button>
                </span>
                <button class="Button ContentItem-action Button--plain Button--withIcon Button--withLabel" type="button"><span style="display: inline-flex; align-items: center;">&#8203;<svg class="Zi Zi--Comment Button-zi" fill="currentColor" viewBox="0 0 24 24" width="1.2em" height="1.2em"><path d="M10.241 19.313a.97.97 0 0 0-.77.2 7.908 7.908 0 0 1-3.772 1.482.409.409 0 0 1-.38-.637 5.825 5.825 0 0 0 1.11-2.237.605.605 0 0 0-.227-.59A7.935 7.935 0 0 1 3 11.25C3 6.7 7.03 3 12 3s9 3.7 9 8.25-4.373 9.108-10.759 8.063z" fill-rule="evenodd"></path></svg></span>0 条评论</button>
                <div class="Popover ShareMenu ContentItem-action"><div class="" aria-haspopup="true" aria-expanded="false"><img class="ShareMenu-fakeQRCode" src="" alt="微信二维码"><button class="Button Button--plain Button--withIcon Button--withLabel" type="button"><span style="display: inline-flex; align-items: center;">&#8203;<svg class="Zi Zi--Share Button-zi" fill="currentColor" viewBox="0 0 24 24" width="1.2em" height="1.2em"><path d="M2.931 7.89c-1.067.24-1.275 1.669-.318 2.207l5.277 2.908 8.168-4.776c.25-.127.477.198.273.39L9.05 14.66l.927 5.953c.18 1.084 1.593 1.376 2.182.456l9.644-15.242c.584-.892-.212-2.029-1.234-1.796L2.93 7.89z" fill-rule="evenodd"></path></svg></span>分享</button></div></div>
                <button class="Button ContentItem-less ContentItem-rightButton Button--plain" type="button">
                    <span class="RichContent-collapsedText">收起</span>
                    <svg viewBox="0 0 10 6" class="Icon ContentItem-arrowIcon is-active Icon--arrow" width="10" height="16" aria-hidden="true" style="height: 16px; width: 10px;"><title></title><g><path d="M8.716.217L5.002 4 1.285.218C.99-.072.514-.072.22.218c-.294.29-.294.76 0 1.052l4.25 4.512c.292.29.77.29 1.063 0L9.78 1.27c.293-.29.293-.76 0-1.052-.295-.29-.77-.29-1.063 0z"></path></g></svg>
                </button>
            </div>
        </div>
                
        </div>
        </div>
        </div>

        
        <div class="Card MoreAnswers">
        <div class="List">
        <div class="List-header">
        <h4 class="List-headerText">更多回答</h4>
        <div class="List-headerOptions">
        </div>
        </div>
        <div id="appendArea"></div>
        </div>
        </div>
                
        <div class="Card">
        <a class="QuestionMainAction" href="/question/{{ context_question.id }}">查看全部 {{context_question.answer_nums}} 个回答</a>
        </div>
        {% else %}
        <div class="Card AllAnswers">
        <div class="List">
        <div class="List-header">
        <h4 class="List-headerText">全部 {{context_question.answer_nums}} 个回答</h4>
        <div class="List-headerOptions">
        </div>
        </div>
        <div id="appendArea"></div>
        </div>
        </div>
        {% endif %}
        </div>
                
        </div>
    

        
        <div class="Question-sideColumn Question-sideColumn--sticky">
        {% if push_answer %}
        <div class="Card AnswerAuthor">
        </div>
        {% endif %}
        
        <div class="Card" data-za-module="RelatedQuestions" data-za-module-info="{&quot;card&quot;:{&quot;content&quot;:null}}"><div class="Card-header SimilarQuestions-title"><div class="Card-headerText">相关问题</div></div>
        <div class="Card-section SimilarQuestions-list"><div class="SimilarQuestions-item" itemprop="zhihu:similarQuestion" itemtype="http://schema.org/Question" itemscope="" data-za-module="QuestionItem" data-za-module-info="{&quot;card&quot;:{&quot;content&quot;:{&quot;type&quot;:&quot;Question&quot;,&quot;token&quot;:&quot;22360160&quot;,&quot;author_member_hash_id&quot;:&quot;aa12047f1223c7092e3a2ab10bbdb1f6&quot;}}}"><meta itemprop="name" content="如何评价电影《等风来》？"><meta itemprop="url" content="https://www.zhihu.com/question/22360160"><meta itemprop="answerCount" content="194"><meta itemprop="zhihu:followerCount" content="992">
        <a class="Button Button--plain" target="_blank" type="button" href="/question/22360160">如何评价电影《等风来》？</a> 194 个回答</div><div class="SimilarQuestions-item" itemprop="zhihu:similarQuestion" itemtype="http://schema.org/Question" itemscope="" data-za-module="QuestionItem" data-za-module-info="{&quot;card&quot;:{&quot;content&quot;:{&quot;type&quot;:&quot;Question&quot;,&quot;token&quot;:&quot;20688873&quot;,&quot;author_member_hash_id&quot;:&quot;3abd7c80c7329104dd38639c36c9d828&quot;}}}"><meta itemprop="name" content="有哪些关于王家卫的趣事？"><meta itemprop="url" content="https://www.zhihu.com/question/20688873"><meta itemprop="answerCount" content="111"><meta itemprop="zhihu:followerCount" content="10860">
        <a class="Button Button--plain" target="_blank" type="button" href="/question/20688873">有哪些关于王家卫的趣事？</a> 111 个回答</div><div class="SimilarQuestions-item" itemprop="zhihu:similarQuestion" itemtype="http://schema.org/Question" itemscope="" data-za-module="QuestionItem" data-za-module-info="{&quot;card&quot;:{&quot;content&quot;:{&quot;type&quot;:&quot;Question&quot;,&quot;token&quot;:&quot;21536276&quot;,&quot;author_member_hash_id&quot;:&quot;028c1a112074b9faefbcfa3d8cbbf6b3&quot;}}}"><meta itemprop="name" content="怎样把电影票在影院里卖得更贵？"><meta itemprop="url" content="https://www.zhihu.com/question/21536276"><meta itemprop="answerCount" content="32"><meta itemprop="zhihu:followerCount" content="377">
        <a class="Button Button--plain" target="_blank" type="button" href="/question/21536276">怎样把电影票在影院里卖得更贵？</a> 32 个回答</div>
        <div class="SimilarQuestions-item" itemprop="zhihu:similarQuestion" itemtype="http://schema.org/Question" itemscope="" data-za-module="QuestionItem" data-za-module-info="{&quot;card&quot;:{&quot;content&quot;:{&quot;type&quot;:&quot;Question&quot;,&quot;token&quot;:&quot;21494802&quot;,&quot;author_member_hash_id&quot;:&quot;89e621346acf976a36e15486faf76b73&quot;}}}"><meta itemprop="name" content="如何评价《喜剧之王》这部电影？"><meta itemprop="url" content="https://www.zhihu.com/question/21494802"><meta itemprop="answerCount" content="327"><meta itemprop="zhihu:followerCount" content="5952"><a class="Button Button--plain" target="_blank" type="button" href="/question/21494802">如何评价《喜剧之王》这部电影？</a> 327 个回答</div>
        <div class="SimilarQuestions-item" itemprop="zhihu:similarQuestion" itemtype="http://schema.org/Question" itemscope="" data-za-module="QuestionItem" data-za-module-info="{&quot;card&quot;:{&quot;content&quot;:{&quot;type&quot;:&quot;Question&quot;,&quot;token&quot;:&quot;21437495&quot;,&quot;author_member_hash_id&quot;:&quot;f063857548e1ea1de94d74ead8746f26&quot;}}}"><meta itemprop="name" content="《被嫌弃的松子的一生》中的松子要怎么做才能改变命运？"><meta itemprop="url" content="https://www.zhihu.com/question/21437495"><meta itemprop="answerCount" content="810"><meta itemprop="zhihu:followerCount" content="13584"><a class="Button Button--plain" target="_blank" type="button" href="/question/21437495">《被嫌弃的松子的一生》中的松子要怎么做才能改变命运？</a> 810 个回答</div></div>
        </div>

        
            <footer class="Footer">
            </span><a class="Footer-item" target="_blank" href="http://www.12377.cn">网上有害信息举报专区</a><br><span class="Footer-item">违法和不良信息举报：010-82716601</span><br><!--<a class="Footer-item" target="_blank" href="/jubao">儿童色情信息举报专区</a><br>--><a class="Footer-item" target="_blank" href="/">联系我们</a><span> © 2018 大大大</span>
            </footer>

        
        
        </div>
    </div>
</div>    
</main>
<!--------------------main end-------------------->


<!-- ask（Modal） -->
{% include 'question/ask_modal.html' %}
<!-- ask（Modal） -->

<!-- letter（Modal） -->
<!-- append by js -->
<!-- letter（Modal） -->

<!--- div other for invite--->
<!-- invite（Modal） -->
<div class="modal fade" id="inviteModal" tabindex="-1" role="dialog" aria-labelledby="inviteModalLabel" aria-hidden="true">
<div class="modal-dialog inviteModal">
<div class="Modal-inner">
<div class="Modal-content Modal-content--spread">
<div class="QuestionInvitation">
<div class="Topbar">
<div class="Topbar-title">
<h2 class="QuestionInvitation-title">你可以邀请下面用户，快速获得回答</h2>
</div>
<div class="Topbar-options">
<div class="QuestionInvitation-input Input-wrapper">
<input data-tooltip="也可以搜索职业、公司等资料" data-tooltip-position="bottom" class="Input" placeholder="搜索你想邀请的人">
<div class="Input-after">
<svg viewBox="0 0 16 16" class="Icon Icon--search" width="14" height="16" aria-hidden="true" style="height: 16px; width: 14px;"><title></title><g><path d="M12.054 10.864c.887-1.14 1.42-2.57 1.42-4.127C13.474 3.017 10.457 0 6.737 0S0 3.016 0 6.737c0 3.72 3.016 6.737 6.737 6.737 1.556 0 2.985-.533 4.127-1.42l3.103 3.104c.765.46 1.705-.37 1.19-1.19l-3.103-3.104zm-5.317.925c-2.786 0-5.053-2.267-5.053-5.053S3.95 1.684 6.737 1.684 11.79 3.95 11.79 6.737 9.522 11.79 6.736 11.79z"></path></g></svg>
</div>
</div>
</div>
</div>
<div class="QuestionInvitation-content List">
</div>
</div>
</div>
<button data-dismiss="modal" aria-hidden="true" class="Button Modal-closeButton Button--plain 1close" aria-label="关闭" type="button"><svg class="Zi Zi--Close Modal-closeIcon" fill="currentColor" viewBox="0 0 24 24" width="24" height="24"><path d="M13.486 12l5.208-5.207a1.048 1.048 0 0 0-.006-1.483 1.046 1.046 0 0 0-1.482-.005L12 10.514 6.793 5.305a1.048 1.048 0 0 0-1.483.005 1.046 1.046 0 0 0-.005 1.483L10.514 12l-5.208 5.207a1.048 1.048 0 0 0 .006 1.483 1.046 1.046 0 0 0 1.482.005L12 13.486l5.207 5.208a1.048 1.048 0 0 0 1.483-.006 1.046 1.046 0 0 0 .005-1.482L13.486 12z" fill-rule="evenodd"></path></svg></button>
</div>
</div>
</div>
<!--- div other for invite--->

</body>
</html>