<!DOCTYPE html>
<html lang="zh" data-hairline="true" data-theme="light" data-focus-method="pointer" style="">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=11">
<meta charset="utf-8">
<title></title>
{% include 'question/head.html' %}
</head>
<body class="Entry-body" style="background-color:#ffffff">
{% include 'question/header.html' %}
<!--------------------main---------------------->
<main role="main" class="App-main" data-module="revise" data-article-content="{{article.content}}" data-dfs-main='{"logged":"{{logged}}","user_id":"{{user.id}}","user_name":"{{user.first_name}}","article_id":"{{article.id}}","article_title":"{{article.title}}","author_id":"{{article.author__id}}"}'>
<div class="Layout av-cardBackground">
<div class="Layout-main av-card">
<form method="post">
{% csrf_token %}
<div class="WriteCover-wrapper is-hide">
<div class="WriteCover-previewWrapper WriteCover-previewWrapper--empty">
<i class="WriteCover-uploadIcon icon-ic_phot_camera_alt"></i>
<input type="file" class="WriteCover-uploadInput" name="upload_file" accept=".jpeg, .jpg, .png">
</div>
</div>

<div class="WriteHeaderTitle">
<h3 class="Write-title">修改文章</h3>
</div>

<div class="WriteIndex-titleInput Input-wrapper Input-wrapper--multiline">
<!--<textarea rows="1" class="Input" placeholder="请输入标题" style="height: 44px;"></textarea>-->
<input type="text" name="writeTitle" class="Input" placeholder="修改标题" style="height: 44px;"></input>
</div>

<div class="Wirte-content">
<textarea id="summernote_write" name="tmpWriteContent"></textarea>
<input type="hidden" name="writeContent" value="">              
</div>

<div style="display:flex;justify-content:center;">
<button class="WritePost Button Button--primary Button--green" type="button">修改</button>
</div>

</form>
</div>
</div>    
</main>
<!--------------------main end-------------------->

<!-- ask（Modal） -->
{% include 'question/ask_modal.html' %}
<!-- ask（Modal） -->

<!-- letter（Modal） -->
<!-- append by js -->
<!-- letter（Modal） -->
</body>
</html>