<!DOCTYPE html>
<html lang="zh" data-hairline="true" data-theme="light" data-focus-method="pointer" style="">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=11">
<meta charset="utf-8">
<title></title>
{% include 'question/head.html' %}
</head>
<body class="Entry-body" style="background-color:#fff">
{% include 'question/header.html' %}

<div class="Sticky--holder" style="position: relative; top: 0px; right: 0px; bottom: 0px; left: 0px; display: block; float: none; margin: 0px; height: 3px;"></div>

<!--------------------main---------------------->
<main role="main" class="App-main" data-module="setting" data-dfs-main='{"logged":"{{logged}}","user_id":"{{user.id}}","user_name":"{{user.first_name}}","type":"{{type}}","conversation_id":"{{conversation_id}}"}'>
<div class="ContentLayout">
<div class="ContentLayout-mainColumn">
<div class="1Card">

<div class="1zu-main-content">
<div class="1zu-main-content-inner">

<div id="settings">

<div class="Card">
<div>
<div>
<div class="Sticky" style=""></div>
</div>
</div>
<div class="Topic-bar">
<ul role="tablist" class="Tabs Topic-tabs">
<li role="tab" class="Tabs-item Tabs-item--noMeta"><a class="Tabs-link is-active" href="/notifications">通知</a></li>
<li role="tab" class="Tabs-item Tabs-item--noMeta"><a class="Tabs-link" href="/conversations">私信</a></li>
<li role="tab" class="Tabs-item Tabs-item--noMeta"><a class="Tabs-link" href="/settings">设置</a></li>
</ul>
</div>
</div>

<div class="Card">
<div class="List">
<div id="appendArea" class="">
</div>
</div>
</div>
</div>


</div>
</div>


</div>
</div>
</div>
</main>
<!--------------------main end-------------------->
<!-- ask（Modal） -->
{% include 'question/ask_modal.html' %}
<!-- ask（Modal） -->

<!-- letter（Modal） -->
<!-- append by js -->
<!-- letter（Modal） -->


</body>

</html>