<!DOCTYPE html>
<html lang="zh" data-hairline="true" data-theme="light" data-focus-method="pointer" style="">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=11">
<meta charset="utf-8">
<title></title>
{% include 'question/head.html' %}
</head>
<body class="Entry-body">
{% include 'question/header.html' %}

        <!--------------------main---------------------->
<main role="main" class="App-main" data-module="search" data-dfs-main='{"logged":"{{logged}}","user_id":"{{user.id}}","user_name":"{{user.first_name}}","search_keyword":"{{keyword}}","search_type":"{{type}}"}'>

<div class="SearchTabs SearchTab-bottomShadow"  data-za-detail-view-path-module="SearchSwitchTabBar">
<div class="SearchTabs-inner">
<div class="SearchTabs-actions">
<ul role="tablist" class="Tabs">
<li role="tab" class="Tabs-item Tabs-item--noMeta"><a class="Tabs-link" data-search-type="content" href="javascript:;">内容</a ></li>
<li role="tab" class="Tabs-item Tabs-item--noMeta"><a class="Tabs-link" data-search-type="people" href="javascript:;">用户</a></li>
<li role="tab" class="Tabs-item Tabs-item--noMeta"><a class="Tabs-link" data-search-type="topic" href="javascript:;">栏目</a></li>
</ul>

<!--<div class="Popover"><button class="Button Select-button Select-plainButton Button--plain" role="combobox" aria-expanded="false" type="button" aria-haspopup="true">时间不限<span style="display: inline-flex; align-items: center;">&#8203;<svg class="Zi Zi--Select Select-arrow" fill="currentColor" viewBox="0 0 24 24" width="24" height="24"><path d="M12 16.183l2.716-2.966a.757.757 0 0 1 1.064.001.738.738 0 0 1 0 1.052l-3.247 3.512a.758.758 0 0 1-1.064 0L8.22 14.27a.738.738 0 0 1 0-1.052.758.758 0 0 1 1.063 0L12 16.183zm0-9.365L9.284 9.782a.758.758 0 0 1-1.064 0 .738.738 0 0 1 0-1.052l3.248-3.512a.758.758 0 0 1 1.065 0L15.78 8.73a.738.738 0 0 1 0 1.052.757.757 0 0 1-1.063.001L12 6.818z" fill-rule="evenodd"></path></svg></span></button></div>-->
</div>
</div>
</div>

<div class="Search-container">
<div><div><div class="Sticky" style=""></div></div></div>
<div class="SearchMain" id="SearchMain">

<div class="Card">
<div id="appendArea" class="List" data-search-type="{{type}}" data-search-keyword="{{keyword}}">
</div>
</div>
</div>

<div class="SearchSideBar">
<div class="">
<div>
<div class="Sticky">
<div class="Card TopSearch">
<div class="Card-header">
<div class="Card-headerText">热搜</div>
</div>
<div class="TopSearch-items">
</div>
</div>
{% include 'question/footer.html' %}
</div>
</div>
</div>
</div>
</div>
</main>
        <!--------------------main end-------------------->

<!-- ask（Modal） -->
{% include 'question/ask_modal.html' %}
<!-- ask（Modal） -->

<!-- letter（Modal） -->
<!-- append by js -->
<!-- letter（Modal） -->

</body>
</html>