<!DOCTYPE html>
<html lang="zh" data-hairline="true" data-android="true" data-theme="light">
{% include 'question/head_mobile.html' %}
<body class="Mobile-body">
<div id="root">
<div class="App">
<div class="LoadingBar"></div>
<div>

{% include 'question/header_mobile.html' %}

</div>
<!--
<div class="PageHeader">
<div class="Topic-mobilePageHeader">
<div class="Topic-bar">
<ul role="tablist" class="Tabs Topic-tabs">
</ul>
</div>
</div>
</div>
-->

<main role="main" class="App-main" data-module="topic" data-dfs-main='{"logged":"{{logged}}","type":"{{type}}","user_id":"{{user.id}}","topic_id":"{{context_topic.id}}","topic_name":"{{context_topic.name}}","topic_avatar":"{{context_topic.avatar}}","topic_detail":"{{context_topic.detail}}","topic_follower_nums":"{{context_topic.follower_nums}}","topic_followed":"{{followed}}"}'>
<div class="Topic">
<div class="Card">
<div class="TopicCard">
<div class="ContentItem TopicCard-content">
<div class="ContentItem-main">
<div class="ContentItem-image">
<div class="ImageWrapper TopicCard-image"><img alt="" src=""></div>
</div>
<div class="ContentItem-head">
<div class="ContentItem-meta">
<div class="TopicCard-meta">
<h1 class="TopicCard-title"></h1>
<span class="RichText TopicCard-description"></span>
<div class="TopicCard-followerCount"><span class="NumberBoard-value" data-update-value-type="topic-followed"></span> 关注</div>
</div>
</div>
</div>
</div>
<button class="Button FollowButton TopicCard-followButton Button--primary" type="button" data-follow-type="topic"></button>
</div>
</div>
</div>
<div class="Topic-main" id="TopicMain"><div>
<div class="Card">

<div class="Topic-bar">
<ul role="tablist" class="Tabs Topic-tabs">
<!--append-->
</ul>
</div>
<div class="Sticky" style="margin:10px 0px;border-top: 1px solid #e7eaf1;"></div>
<!--
<div class="List-item TopicFeedList-header is-hide">
<div class="TopicFeedList-sort">热门排序</div>
<a class="TopicFeedList-sortSwitch" href="/topic/{{context_topic.id}}/newest">切换为时间排序</a>
</div>
<div class="List-item TopicFeedList-header">
<div class="TopicFeedList-sort">时间排序</div>
<a class="TopicFeedList-sortSwitch" href="/topic/{{context_topic.id}}/hot">切换为热门排序</a>
</div>
-->

<div id="appendArea" class="List">

<!--<div class="List-item TopicFeedItem">-->

</div>

</div>
</div>
</div>
<!--<button class="OpenInAppButton OpenInApp is-shown">App 内打开</button>-->
</div>
</main>
</div>
</div>

</body>
</html>