<!DOCTYPE html>
<html lang="zh" data-hairline="true" data-android="true" data-theme="light">
{% include 'question/head_mobile.html' %}
<body class="Mobile-body">
<div id="root">
<div class="App">
<div class="LoadingBar"></div>
<div>

{% include 'question/header_mobile.html' %}

</div>
<!--
<div class="PageHeader">
<div class="Topic-mobilePageHeader">
<div class="Topic-bar">
<ul role="tablist" class="Tabs Topic-tabs">
</ul>
</div>
</div>
</div>
-->

<main role="main" class="App-main" data-module="topic" data-dfs-main='{"logged":"{{logged}}","user_id":"{{user.id}}","topic_id":"{{context_topic.id}}","topic_name":"{{context_topic.name}}","topic_avatar":"{{context_topic.avatar}}","topic_detail":"{{context_topic.detail}}","topic_follower_nums":"{{context_topic.follower_nums}}","topic_followed":"{{followed}}"}'>
<div class="Topic">
<div class="Card">
<div class="TopicCard">
<div class="ContentItem TopicCard-content">
<div class="ContentItem-main">
<div class="ContentItem-image">
<div class="ImageWrapper TopicCard-image"><img alt="" src=""></div>
</div>
<div class="ContentItem-head">
<div class="ContentItem-meta">
<div class="TopicCard-meta">
<h1 class="TopicCard-title"></h1>
<span class="RichText TopicCard-description"></span>
<div class="TopicCard-followerCount"><span class="NumberBoard-value" data-update-value-type="topic-followed"></span> 关注</div>
</div>
</div>
</div>
</div>
<button class="Button FollowButton TopicCard-followButton Button--primary" type="button" data-follow-type="topic"></button>
</div>
</div>
<div>
<div>
<div class="Sticky" style=""></div>
</div>
</div>
<div class="Topic-bar">
<ul role="tablist" class="Tabs Topic-tabs">
<!--append-->
</ul>
</div>
</div>
<div class="Topic-main" id="TopicMain"><div>
<div class="Card">

<!--
<div class="List-item TopicFeedList-header is-hide">
<div class="TopicFeedList-sort">热门排序</div>
<a class="TopicFeedList-sortSwitch" href="/topic/{{context_topic.id}}/newest">切换为时间排序</a>
</div>
<div class="List-item TopicFeedList-header">
<div class="TopicFeedList-sort">时间排序</div>
<a class="TopicFeedList-sortSwitch" href="/topic/{{context_topic.id}}/hot">切换为热门排序</a>
</div>
-->

<div id="appendArea" class="List">

<!--<div class="List-item TopicFeedItem">-->

</div>

</div>
</div>
</div>
<button class="OpenInAppButton OpenInApp is-shown">App 内打开</button></div>
</main>
</div>
</div>
<script>
function appendTopicElement(ret)
{
    for(i in ret)
    {
    var question_id=ret[i][0];
    var question_title=ret[i][1];
    var topic_id=ret[i][2];
    var topic_name=ret[i][3];
    var answer_id=ret[i][4];
    var author_id=ret[i][5];
    var author_name=ret[i][6];
    var author_avatar=ret[i][7];
    var author_mood=ret[i][8];
    var answer_content=ret[i][9];
    var answer_like_nums=ret[i][10];
    var index_img_url=getIndexImg(answer_content);
    
    
    var data='<div class="ScrollIntoMark"><div class="List-item TopicFeedItem">\
                <div class="ContentItem AnswerItem">\
                <h2 class="ContentItem-title"><div><a target="_blank" href="/question/'+question_id+'/?ans='+answer_id+'">'+question_title+'</a></div></h2>\
                <div class="ContentItem-meta">\
                <div class="AuthorInfo AnswerItem-authorInfo AuthorInfo--plain">\
                <span class="UserLink AuthorInfo-avatarWrapper"><a class="UserLink-link" target="_blank" href="/er/'+author_id+'/"><img class="Avatar AuthorInfo-avatar" width="24" height="24" src="'+author_avatar+'" srcset="'+author_avatar+'" alt="'+author_name+'"></a></span>\
                <div class="AuthorInfo-content">\
                <div class="AuthorInfo-head"><span class="UserLink AuthorInfo-name"><a class="UserLink-link" target="_blank" href="/er/'+author_id+'/">'+author_name+'</a></span></div>\
                <div class="AuthorInfo-detail"><div class="AuthorInfo-badge"><div class="RichText AuthorInfo-badgeText">'+author_mood+'</div></div></div>\
                </div>\
                </div>\
                </div>\
                <div class="RichContent is-collapsed RichContent--withMask">\
                <div class="RichContent-content" data-content-url="/question/'+question_id+'/?ans='+answer_id+'">\
                <div class="RichContent-cover RichContent-cover--mobile"><div class="RichContent-cover-inner" data-index-img-url="'+index_img_url+'"></div></div>\
                <div class="RichContent-inner RichContent-inner--collapsed">\
                <span class="RichText CopyrightRichText-richText">'+removeImg(answer_content)+'</span>\
                </div>\
                </div>\
                <div class="ContentItem-actions">\
                <span>\
                <button class="Button VoteButton VoteButton--up" aria-label="赞同" type="button"><svg viewBox="0 0 20 18" class="Icon VoteButton-upIcon Icon--triangle" width="9" height="16" aria-hidden="true" style="height: 16px; width: 9px;"><title></title><g><path d="M0 15.243c0-.326.088-.533.236-.896l7.98-13.204C8.57.57 9.086 0 10 0s1.43.57 1.784 1.143l7.98 13.204c.15.363.236.57.236.896 0 1.386-.875 1.9-1.955 1.9H1.955c-1.08 0-1.955-.517-1.955-1.9z"></path></g></svg>48</button>\
                <button class="Button VoteButton VoteButton--down VoteButton--mobileDown" aria-label="反对" type="button"><svg viewBox="0 0 20 18" class="Icon VoteButton-downIcon Icon--triangle" width="9" height="16" aria-hidden="true" style="height: 16px; width: 9px;"><title></title><g><path d="M0 15.243c0-.326.088-.533.236-.896l7.98-13.204C8.57.57 9.086 0 10 0s1.43.57 1.784 1.143l7.98 13.204c.15.363.236.57.236.896 0 1.386-.875 1.9-1.955 1.9H1.955c-1.08 0-1.955-.517-1.955-1.9z"></path></g></svg></button>\
                </span>\
                <button class="Button ContentItem-action Button--plain Button--withIcon Button--withLabel" type="button"><span style="display: inline-flex; align-items: center;">&#8203;<svg class="Zi Zi--Comment Button-zi" fill="currentColor" viewBox="0 0 24 24" width="1.2em" height="1.2em"><path d="M10.241 19.313a.97.97 0 0 0-.77.2 7.908 7.908 0 0 1-3.772 1.482.409.409 0 0 1-.38-.637 5.825 5.825 0 0 0 1.11-2.237.605.605 0 0 0-.227-.59A7.935 7.935 0 0 1 3 11.25C3 6.7 7.03 3 12 3s9 3.7 9 8.25-4.373 9.108-10.759 8.063z" fill-rule="evenodd"></path></svg></span>评论 9</button>\
                <button class="Button ContentItem-action Button--plain Button--withIcon Button--iconOnly" type="button"><span style="display: inline-flex; align-items: center;">&#8203;<svg class="Zi Zi--Star Button-zi" fill="currentColor" viewBox="0 0 24 24" width="1.2em" height="1.2em"><path d="M5.515 19.64l.918-5.355-3.89-3.792c-.926-.902-.639-1.784.64-1.97L8.56 7.74l2.404-4.871c.572-1.16 1.5-1.16 2.072 0L15.44 7.74l5.377.782c1.28.186 1.566 1.068.64 1.97l-3.89 3.793.918 5.354c.219 1.274-.532 1.82-1.676 1.218L12 18.33l-4.808 2.528c-1.145.602-1.896.056-1.677-1.218z" fill-rule="evenodd"></path></svg></span></button>\
                </div>\
                </div>\
                </div>\
                </div>\
                </div>';
    
    $("#feedArea").append(data);
    }
}

function getMoreData()
{
    var nums=g_last_getmoredata_index;//$('.List-item.TopicFeedItem').length;
    var order=1;
    var start=nums;
    var end=start+STEP;
    $.get("/ajax/topic/"+g_topic_id+"/"+order+"/"+start+"/"+end+"/",function(ret){
        if("fail"!=ret)
        {
            appendAnswerElementList(ret,"topic");
            checkSets();
            g_last_getmoredata_index+=STEP;
        }
        setLockScrollMoreData("false");
    });
}
function initElement()
{
    $(".Tabs.Topic-tabs").append('<li role="tab" class="Tabs-item Tabs-item--noMeta" aria-controls="Topic-hot"><a class="Tabs-link is-active" href="/topic/'+g_topic_id+'/hot">讨论</a></li><li role="tab" class="Tabs-item Tabs-item--noMeta" aria-controls="Topic-top"><a class="Tabs-link" href="/topic/'+g_topic_id+'/top-answers">精华</a></li><li role="tab" class="Tabs-item Tabs-item--noMeta" aria-controls="Topic-wait"><a class="Tabs-link" href="/topic/'+g_topic_id+'/unanswered">等待回答</a></li>');
    $(".TopicCard-image").empty().append('<img alt="'+g_topic_name+'" src="'+g_topic_avatar+'">');
    $(".TopicCard-title").append(g_topic_name);
    $(".TopicCard-description").append(g_topic_detail);
    $(".NumberBoard-value").append(g_topic_follower_nums);
    if("true"==g_topic_followed)
        $(".FollowButton.TopicCard-followButton").removeClass("Button--blue").addClass("Button--grey").attr("data-topic-id",g_topic_id).attr("data-followed","true").text("已关注");
    else
        $(".FollowButton.TopicCard-followButton").removeClass("Button--grey").addClass("Button--blue").attr("data-topic-id",g_topic_id).attr("data-followed","false").text("关注话题");
        
}
function initData()
{
    g_last_getmoredata_index=0;
    var str_main_data=$("main").attr("data-dfs-main");
	var main_data=JSON.parse(str_main_data);
    g_logged=main_data.g_logged;
    g_user_id=main_data.user_id;
    g_topic_id=main_data.topic_id;
    g_topic_name=main_data.topic_name;
    g_topic_avatar=main_data.topic_avatar;
    g_topic_detail=main_data.topic_detail;
    g_topic_follower_nums=main_data.topic_follower_nums;
    g_topic_followed=main_data.topic_followed;
}
function init()
{
    initData();
    initElement();
    getMoreData();
    checkSets();
}
</script>
</body>
</html>