<!DOCTYPE html>
<html lang="zh" data-hairline="true" data-android="true" data-theme="light">
{% include 'question/head_mobile.html' %}
<body class="Mobile-body">
<div id="root">
<div class="1App">
<div class="LoadingBar">
</div>
<div class="Mobile-header is-hide">
{% include 'question/header_mobile.html' %}
</div>

<!--------------------main---------------------->
<main role="main" class="App-main" data-module="write" data-dfs-main='{"logged":"{{logged}}","user_id":"{{user.id}}","user_name":"{{user.first_name}}"}'>
<div class="Layout av-cardBackground">
<div class="Layout-main av-card">
<form method="post" action="/write/">
{% csrf_token %}
<div class="WriteCover-wrapper is-hide">
<div class="WriteCover-previewWrapper WriteCover-previewWrapper--empty">
<i class="WriteCover-uploadIcon icon-ic_phot_camera_alt"></i>
<input type="file" class="WriteCover-uploadInput" name="upload_file" accept=".jpeg, .jpg, .png">
</div>
</div>

<div class="WriteHeaderTitle">
<h3 class="Write-title">写文章</h3>
<div class="Write-subtitle">原创或装载文章与新闻</div>
</div>

<div class="WriteIndex-titleInput Input-wrapper Input-wrapper--multiline">
<!--<textarea rows="1" class="Input" placeholder="请输入标题" style="height: 44px;"></textarea>-->
<input type="text" name="writeTitle" class="Input" placeholder="请输入文章标题"></input>
</div>

<div class="Wirte-select">
    <select id="1topics_select" name="topics_selected" class="selectpicker form-control" multiple data-live-search="true" data-live-search-placeholder="搜索并添加栏目" data-max-options="5" data-style="Input-wrapper Input-wrapper--spread Input-wrapper--large" title="添加栏目">
    </select>
</div>

<div class="Wirte-content">
<textarea id="summernote_write" name="tmpWriteContent"></textarea> 
<input type="hidden" name="writeContent" value="">              
</div>

<div style="display:flex;justify-content:center;">
<button class="WritePost Button Button--primary Button--green" disabled type="button">发表</button>
</div>

</form>
</div>
</div>     
</main>
<!--------------------main end-------------------->

<!-- ask（Modal） -->
{% include 'question/ask_modal_mobile.html' %}
<!-- ask（Modal） -->

<!-- letter（Modal） -->
<!-- append by js -->
<!-- letter（Modal） -->
</body>
</html>