
.Card.BusinessHead .Card-header {
    padding:0;
}

#selection {
    border: solid 1px #ddd;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    clear: both;
    color: gray;
    position: relative;
    z-index: 3;
    padding-top: 15px;
    font-size:12px;
}
.secitem {
    display: block;
    line-height: 28px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    clear:both;
}

.secitem dt {
    float: left;
    display: inline;
    white-space:nowrap;
}
.secitem dd {
    /*float: left;*/
    display: inline;
    white-space:nowrap;
}

.secitem a {
    float: left;
    display: inline;
    margin-right: 10px;
}

.secitem a:link{
    color: #25d;
}

.secitem a.select {
    color: #333;
    font-weight: 700;
    text-decoration: none;
}

.sale_search {
    height: 40px;
    margin: 15px 25px 10px 23px;
    position: relative;
    border-bottom: 1px dotted #dcdee1;
    z-index: 10;
}

#SearchForm:after, #searchtree dl:after, #selected:after, .bar:after, .barct:after, .secitem:after {
    display: block;
    content: ".";
    clear: both;
    font-size: 0;
    height: 0;
    overflow: hidden;
}

.search_input input {
    border: 1px solid #bfbfbf;
    border-right: 0;
    background: transparent;
    line-height: 18px;
    height: 18px;
    padding: 5px 10px 3px;
    width: 300px;
    color: #b3b3b3;
    font-size: 12px;
}

