
/**************reset.css************************/
/*
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*/
/**************reset.css************************/
/*
ol, ul {
	list-style: none;
} 
*/
/*
body {
  background-color:#f3f3f3;
  background-repeat:no-repeat;
  color: black;
}
.flat-form-nouse {
  background: #6a6a6a;
  margin: 25px auto;
  width: 100%;
  height: 100%;
  position: relative;
}
.flat-form {
  padding: 3% 1% 3% 3%;
}
.banner{
  line-height:64px;
  height: 80px;
  color: green;
  font-size:64px;
  text-align:center;
}
.tabs-nouse {
  height: 40px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 100%;
  position: relative;
  display: block;
  margin-bottom: 10px;
}
.tabs {
  height: 20px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 100%;
  position: relative;
  display: block;
  margin-bottom: 1%;
}
.tabs-nouse li {
  display: block;
  float: left;
  margin: 0;
  padding: 0px 0px 0px 22px;
}

.tabs li {
  display: block;
  float: left;
  margin: 0;
  width: 100%;
  text-align: center;
}
.tabs-nouse a {
  display: block;
  float: left;
  text-decoration: none;
  color: white;
  text-align: center;
  font-size: 16px;
  padding: 12px 22px 12px 22px;
}
.tabs a {
  color: grey;
  text-align: center;
  font-size: 24px;

}
.tabs-nouse li:last-child a {
  border-right: none;
  text-align: center;
}
.tabs li:last-child  a {
  border-right: none;
  text-align: left;
}
.tabs-nouse a.active {
  background: #5cb85c;
  border-right: none;
  -webkit-transition: all 0.5s linear;
	-moz-transition: all 0.5s linear;
	transition: all 0.5s linear;
}
.tabs a.active {
  width:100%;
  color: green;
  border-right: none;
  -webkit-transition: all 0.5s linear;
	-moz-transition: all 0.5s linear;
	transition: all 0.5s linear;
}
.tabs a:hover {
  width:100%;
  color: black;
  border-right: none;
  -webkit-transition: all 0.5s linear;
	-moz-transition: all 0.5s linear;
	transition: all 0.5s linear;
}

.form-action {
  padding: 0 20px;
  position: relative;
}

.form-action h1 {
  font-size: 42px;
  padding-bottom: 10px;
}
.form-action p {
  font-size: 12px;
  padding-bottom: 10px;
  line-height: 25px;
}
form {
  padding-right: 20px !important;
}
form input[type=text],
form input[type=password],
form input[type=submit] {
}
.dark-box {
  background: #5e0400;
  box-shadow: 1px 3px 3px #3d0100 inset;
  height: 40px;
  width: 50px;
}
.form-action .dark-box.bottom {
  position: absolute;
  right: 0;
  bottom: -24px;
}
.tabs + .dark-box.top {
  position: absolute;
  right: 0;
  top: 0px;
}
.show {
  display: block;
}
.hide {
  display: none;
}

.button {
    border: none;
    display: block;
    background: #136899;
    height: 40px;
    width: 80px;
    color: #ffffff;
    text-align: center;
    border-radius: 5px;
  	-webkit-transition: all 0.15s linear;
	  -moz-transition: all 0.15s linear;
	  transition: all 0.15s linear;
}

.button:hover {
  background: #1e75aa;
}

.button:active {
  background: #136899;
}

::-webkit-input-placeholder {
  color: #e74c3c;
}
:-moz-placeholder {
  color: #e74c3c;
}
::-moz-placeholder {
  color: #e74c3c;
}
:-ms-input-placeholder {
  color: #e74c3c;
}

.font-black{
    color:black;
}
.font-center{
    text-align:center;
}

.askmodal{
}
.askmodal .font-black{
    color:black;
} 
.askmodal .font-center{
    text-align:center;
}
.QuestionFrame{
    padding:2%;
    word-wrap:break-word;
    background-color:#ffffff;
}

.AnswerFrame{
    word-wrap:break-word;
    background-color:#ffffff;
}
.Banner{
    height:60px;
    position: absolute;
    left: 0;
    right:0;
    background-color:#ffffff;
}

.popover{
    max-width: 100%;
}
*/
.ProfileHeader{width:1032px} /* or width=1000px;box-sizing=content-box*/
.Profile-main{width:1032px}  /* or width=1000px;box-sizing=content-box*/
.ProfileHeader-main {
    position: relative;
    margin: 0 20px 4px;
}
.ProfileHeader-content{padding-bottom:16px;}

.keep-topic-feed-title{font-size:14px;font-weight:700;color:#666;border-bottom:1px solid #ccc;padding-bottom:8px}
.keep-topic-feed-title a{margin-top:3px}
.keep-zg-link-gray{color:#999;font-weight:400;font-size:12px}
.keep-zg-right{float:right}
.keep-zg-left{float:left}
.Tag.current{position:relative;display:inline-block;height:30px;padding:0 12px;font-size:14px;line-height:30px;vertical-align:top;border-radius:100px;background:#259;border-color:#259;color:#fff}
.current a{color:#fff}

/*
.Topic{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center
}
*/

.Topic-avatar{
    vertical-align:top
}
.Topic-content{
    -webkit-box-flex:1;
    -ms-flex:1;
    flex:1;
    margin-left:14px;
}

.Topic-head{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    font-size:15px;
    line-height:1.1;
    -ms-flex-negative:0;
    flex-shrink:0
}
.Topic-name{
    font-weight:600
}
.Topic-badge{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    margin-top:12px;
    font-size:14px
}
.Topic-badgeText{
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap
}
.Topic--plain .Topic-content{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    margin-left:10px
}
.Topic--plain .Topic-badge>:first-child{
    margin-top:0
}
.Topic--plain .Topic-badge>:first-child:before{
    content:"\FF0C"
}
.Topic-detail{
    overflow:hidden
}

.zm-pm-item {
    padding: 12px 0;
    min-height: 74px;
}
.zm-item-link-avatar50 {
    float: left;
    height: 50px;
    width: 50px;
    margin: 0 10px 0 0;
}
.zm-item-img-avatar50 {
    height: 50px;
    width: 50px;
    overflow: hidden;
    border: 0;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0,0,0,.2);
}
.zm-pm-item-main {
    position: relative;
    margin: 0 0 5px 62px;
}
.zm-pm-item .zm-item-meta, .zm-pm-item .zu-pm-item-meta {
    margin: 0 0 0 63px;
}
.zu-pm-item-meta {
    text-align: right;
}
.zg-gray {
    color: #999;
    font-size: 12px;
    font-weight: 400;
}
.zg-left {
    float: left;
}

.zg-link-litblue {
    font-size: 12px;
}

.zg-link-litblue, .zg-link-litblue-normal {
    color: #698ebf;
    font-weight: 400;
}

.zg-bull {
    padding: 0 3px;
    color: #BBB;
    font-family: Arial;
}


.zm-pm-item+.zm-pm-item{border-top:1px solid #eee}




.zg-section {
    margin: 0 0 10px;
    display: block;
}
.zg-editor-simple-wrap {
    border: 1px solid #999;
    padding: 4px 4px 0;
}
.zg-form-text-input, .zg-form-select {
    padding: 8px 10px;
    font-size: 13px;
    line-height: 15px;
    box-shadow: 0 1px 1px rgba(0,0,0,.1) inset;
    border-radius: 3px;
    background: #fff;
    border: 1px solid #ccc;
    color: #222;
}
textarea.zg-form-text-input, .zg-form-text-input>textarea {
    color: #222;
    overflow: hidden;
    min-height: 66px;
    line-height: 22px;
    font-size: 13px;
    padding: 0!important;
    margin: 0!important;
    border: 0 none;
}

.zg-editor-input {
    width: 100%;
    font-weight: 400;
    min-height: 66px;
    padding: 0;
    margin: 0;
    border: 0;
}
.zu-seamless-input-origin-element {
    overflow: hidden;
}
textarea {
    border: 0;
    border: 0;
    -moz-outline: 0;
    outline: 0;
    overflow: auto;
    resize: none;
    -webkit-appearance: none;
}
.zm-command {
    padding: 10px 0;
    text-align: right;
}
.is-hide{
    display:none;
}
.PushNotifications-tab-active{color:#262626}

.topics-plaza {
    margin-bottom: 20px;
    padding: 34px 0;
    border: 1px solid #cce1ef;
    border-radius: 4px;
    background: #eff6fA;
    text-align: center;
}
.topics-plaza a.text {
    display: block;
    margin-top: 20px;
    font-size: 13px;
    color: #5488b4;
}

a.zg-unfollow {
    color: #999;
}

.zm-topic-cat-sub .item {
    position: relative;
    float: left;
    width: 50%;
    list-style: none;
    border-bottom: 1px dotted #eee;
}
.zm-topic-cat-sub .blk {
    padding-left: 62px;
    margin: 18px 15px 18px 0;
}
.zm-topic-cat-sub .item.even .blk {
    margin-left: 15px;
    margin-right: 0;
}

.zm-topic-cat-sub  a.zg-follow {
    color: #259;
}

.zm-topic-cat-sub{
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 13px;
    line-height: 1.7;
    word-wrap: break-word;
}


.zm-topic-cat-sub .item{position:relative;float:left;width:50%;list-style:none;border-bottom:1px dotted #eee}
.zm-topic-cat-sub .item.no-border{border-color:transparent}
.zm-topic-cat-sub .item:nth-child(even) .blk{margin-left:15px;margin-right:0}
.zm-topic-cat-sub .item:nth-child(even) .follow{right:0}
.zm-topic-cat-sub .item:nth-child(even) img{left:15px}
.zm-topic-cat-sub .item.even .blk{margin-left:15px;margin-right:0}
.zm-topic-cat-sub .item.even .follow{right:0}
.zm-topic-cat-sub .item.even img{left:15px}
.zm-topic-cat-sub strong{max-width:12em}
.zm-topic-cat-sub img{top:23px}
.zm-topic-cat-sub p{height:40px;overflow:hidden}
.zm-topic-cat-sub .blk{padding-left:62px;margin:18px 15px 18px 0}
.zm-topic-cat-sub .follow{position:absolute;top:18px;right:15px}
.zm-topic-cat-hot .section{margin-bottom:12px;padding:10px;border:1px solid #d5d5d5;border-radius:3px;box-shadow:0 1px 0 #f2f2f2}
.zm-topic-cat-hot .head{position:relative;padding-left:62px;height:60px}
.zm-topic-cat-hot .head strong{max-width:14em}
.zm-topic-cat-hot li{padding:8px 0;list-style:none;border-top:1px dotted #eee}
.zm-topic-cat-sub strong,.zm-topic-cat-hot strong{display:inline-block;height:1.5em;word-wrap:normal;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
html.no-touchevents .zm-topic-cat-sub a:hover strong,html.no-touchevents .zm-topic-cat-hot a:hover strong{text-decoration:underline}
.zm-topic-cat-sub img,.zm-topic-cat-hot img{position:absolute;left:0;width:50px;height:50px;border-radius:3px}

.zh-general-list.topstory .feed-source .time{margin-left:0;float:none}
.zh-general-list.topstory .feed-meta .ignore{top:11px}

.clearfix{*zoom:1}
.clearfix:before,.clearfix:after{display:table;content:""}
.clearfix:after{clear:both}


.nav-tabs a {
    display: block;
    padding: 5px 15px;
    min-width: 45px;
    color: #259;
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: 2px 2px 0 0;
}

.zu-main.no-sidebar .zu-main-content {
    float: none;
}

.zu-main-content {
    float: left;
    width: 100%;
    height: 100%;
    min-height:340px;
}


.settings-section {
    margin-top: 10px;
    border-bottom: 1px solid #eee;
}
.settings-item {
    padding: 12px 0;
    width: 100%;
}
.settings-item-title {
    width: 65px;
    text-align: left;
    float: left;
}

label {
    cursor: default;
}

.settings-item-title+.settings-item-content {
    margin-left: 90px;
}

.zu-edit-button {
    color: #999;
    display: inline-block;
    font-size: 11px;
    -webkit-text-size-adjust: none;
    font-weight: 400;
    padding: 0 5px 0 2px;
    margin: 0 0 0 2px;
}

.settings-save {
    margin-top: 25px;
}

.zm-noti-header {
    font-weight: 700;
    font-size: 14px;
    padding-bottom: 10px;
    border-bottom: 1px solid #CCC;
    position: relative;
}
.zm-noti7-wrap .zm-item-more-wrap{border:0}

.zu-noti7-all .day{margin-top:10px}
.zu-noti7-all .day h3{font-size:13px}
.zu-noti7-all .items{border-top:1px solid #eee}
.zu-noti7-all .category .zg-icon{float:left;width:13px;height:13px;margin-top:13px}
.zu-noti7-all .category.vote .zg-icon{background-position:-180px -46px}
.zu-noti7-all .category.follow .zg-icon{background-position:-152px -46px}
.zu-noti7-all .category.answer .zg-icon{background-position:-166px -45px;margin-top:11px}
.zu-noti7-all .category.invite .zg-icon{background-position:-194px -46px}
.zu-noti7-all .category.edit .zg-icon{background-position:-221px -46px;margin-top:12px}
.zu-noti7-all .category.comment .zg-icon{background-position:-208px -46px}
.zu-noti7-all .category.mention .zg-icon{background-position:-235px -46px}
.zu-noti7-all .category+.category{border-top:1px dashed #eee}
.zu-noti7-all .zm-noti7-content-item{padding:8px 0;margin-left:20px;position:relative}
.zu-noti7-all .zm-noti7-content-item .OrgIcon{display:none}
.zu-noti7-all .zm-noti7-content-item+.zm-noti7-content-item{border-top:1px dashed #eee}
.zu-noti7-all .time{font-size:12px;color:#999;margin-left:8px}
.zu-noti7-all .unfold a,.zu-noti7-all .weak-link{color:#698ebf}
.zu-noti7-all .spinner{height:22px;display:block;background:url(/static/revved/img/spinner2.a45a3423.gif);background-repeat:no-repeat;background-position:0 3px;width:22px;text-indent:999px;overflow:hidden;margin-bottom:-8px}
.zu-noti7-all .zm-noti7-expandable .zm-noti7-content-item,.zu-noti7-all .unfold{border-top:1px dashed #eee}
.zu-noti7-all .loading,.zu-noti7-all .empty{padding:60px;text-align:center}
.zu-noti7-all .day a{color:#259}


.pull-left,.note-placeholder{
    color:#8590a6;
}

.QuestionAsk-section {
    margin-bottom: 2px;
}

.ModalButtonGroup--vertical {
    margin-top: 1px;
    margin-bottom: 1px;
}

.Step-inner {
    width: 320px;
    margin: 0 auto;
}
.PasswordReset {
    margin-top: 90px;
    position: relative;
}
.StepHeader-title {
    font-size: 24px;
    font-weight: 600;
    color: #1a1a1a;
}
.StepHeader-subtitle {
    margin: 4px 0 40px;
    font-size: 15px;
    font-weight: 400;
    color: #8590a6;
}
.PasswordReset-nextStep {
    display: block;
    width: 100%;
    margin-top: 32px;
    margin-bottom: 10px;
}




