
/**************reset.css************************/
/*
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*/
/**************reset.css************************/
/*
ol, ul {
	list-style: none;
} 
*/
/*
body {
  background-color:#f3f3f3;
  background-repeat:no-repeat;
  color: black;
}
.flat-form-nouse {
  background: #6a6a6a;
  margin: 25px auto;
  width: 100%;
  height: 100%;
  position: relative;
}
.flat-form {
  padding: 3% 1% 3% 3%;
}
.banner{
  line-height:64px;
  height: 80px;
  color: green;
  font-size:64px;
  text-align:center;
}
.tabs-nouse {
  height: 40px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 100%;
  position: relative;
  display: block;
  margin-bottom: 10px;
}
.tabs {
  height: 20px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 100%;
  position: relative;
  display: block;
  margin-bottom: 1%;
}
.tabs-nouse li {
  display: block;
  float: left;
  margin: 0;
  padding: 0px 0px 0px 22px;
}

.tabs li {
  display: block;
  float: left;
  margin: 0;
  width: 100%;
  text-align: center;
}
.tabs-nouse a {
  display: block;
  float: left;
  text-decoration: none;
  color: white;
  text-align: center;
  font-size: 16px;
  padding: 12px 22px 12px 22px;
}
.tabs a {
  color: grey;
  text-align: center;
  font-size: 24px;

}
.tabs-nouse li:last-child a {
  border-right: none;
  text-align: center;
}
.tabs li:last-child  a {
  border-right: none;
  text-align: left;
}
.tabs-nouse a.active {
  background: #5cb85c;
  border-right: none;
  -webkit-transition: all 0.5s linear;
	-moz-transition: all 0.5s linear;
	transition: all 0.5s linear;
}
.tabs a.active {
  width:100%;
  color: green;
  border-right: none;
  -webkit-transition: all 0.5s linear;
	-moz-transition: all 0.5s linear;
	transition: all 0.5s linear;
}
.tabs a:hover {
  width:100%;
  color: black;
  border-right: none;
  -webkit-transition: all 0.5s linear;
	-moz-transition: all 0.5s linear;
	transition: all 0.5s linear;
}

.form-action {
  padding: 0 20px;
  position: relative;
}

.form-action h1 {
  font-size: 42px;
  padding-bottom: 10px;
}
.form-action p {
  font-size: 12px;
  padding-bottom: 10px;
  line-height: 25px;
}
form {
  padding-right: 20px !important;
}
form input[type=text],
form input[type=password],
form input[type=submit] {
}
.dark-box {
  background: #5e0400;
  box-shadow: 1px 3px 3px #3d0100 inset;
  height: 40px;
  width: 50px;
}
.form-action .dark-box.bottom {
  position: absolute;
  right: 0;
  bottom: -24px;
}
.tabs + .dark-box.top {
  position: absolute;
  right: 0;
  top: 0px;
}
.show {
  display: block;
}
.hide {
  display: none;
}

.button {
    border: none;
    display: block;
    background: #136899;
    height: 40px;
    width: 80px;
    color: #ffffff;
    text-align: center;
    border-radius: 5px;
  	-webkit-transition: all 0.15s linear;
	  -moz-transition: all 0.15s linear;
	  transition: all 0.15s linear;
}

.button:hover {
  background: #1e75aa;
}

.button:active {
  background: #136899;
}

::-webkit-input-placeholder {
  color: #e74c3c;
}
:-moz-placeholder {
  color: #e74c3c;
}
::-moz-placeholder {
  color: #e74c3c;
}
:-ms-input-placeholder {
  color: #e74c3c;
}

.font-black{
    color:black;
}
.font-center{
    text-align:center;
}

.askmodal{
}
.askmodal .font-black{
    color:black;
} 
.askmodal .font-center{
    text-align:center;
}
.QuestionFrame{
    padding:2%;
    word-wrap:break-word;
    background-color:#ffffff;
}

.AnswerFrame{
    word-wrap:break-word;
    background-color:#ffffff;
}
.Banner{
    height:60px;
    position: absolute;
    left: 0;
    right:0;
    background-color:#ffffff;
}

.popover{
    max-width: 100%;
}
*/
.ProfileHeader{width:1032px} /* or width=1000px;box-sizing=content-box*/
.Profile-main{width:1032px}  /* or width=1000px;box-sizing=content-box*/
.ProfileHeader-main {
    position: relative;
    margin: 0 20px 4px;
}
.ProfileHeader-content{padding-bottom:16px;}

.keep-topic-feed-title{font-size:14px;font-weight:700;color:#666;border-bottom:1px solid #ccc;padding-bottom:8px}
.keep-topic-feed-title a{margin-top:3px}
.keep-zg-link-gray{color:#999;font-weight:400;font-size:12px}
.keep-zg-right{float:right}
.keep-zg-left{float:left}
.Tag.current{position:relative;display:inline-block;height:30px;padding:0 12px;font-size:14px;line-height:30px;vertical-align:top;border-radius:100px;background:#259;border-color:#259;color:#fff}
.current a{color:#fff}

/*
.Topic{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center
}
*/

.Topic-avatar{
    vertical-align:top
}
.Topic-content{
    -webkit-box-flex:1;
    -ms-flex:1;
    flex:1;
    margin-left:14px;
}

.Topic-head{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    font-size:15px;
    line-height:1.1;
    -ms-flex-negative:0;
    flex-shrink:0
}
.Topic-name{
    font-weight:600
}
.Topic-badge{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    margin-top:12px;
    font-size:14px
}
.Topic-badgeText{
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap
}
.Topic--plain .Topic-content{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    margin-left:10px
}
.Topic--plain .Topic-badge>:first-child{
    margin-top:0
}
.Topic--plain .Topic-badge>:first-child:before{
    content:"\FF0C"
}
.Topic-detail{
    overflow:hidden
}

.zm-pm-item {
    padding: 12px 0;
    min-height: 74px;
}
.zm-item-link-avatar50 {
    float: left;
    height: 50px;
    width: 50px;
    margin: 0 10px 0 0;
}
.zm-item-img-avatar50 {
    height: 50px;
    width: 50px;
    overflow: hidden;
    border: 0;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0,0,0,.2);
}
.zm-pm-item-main {
    position: relative;
    margin: 0 0 5px 62px;
}
.zm-pm-item .zm-item-meta, .zm-pm-item .zu-pm-item-meta {
    margin: 0 0 0 63px;
}
.zu-pm-item-meta {
    text-align: right;
}
.zg-gray {
    color: #999;
    font-size: 12px;
    font-weight: 400;
}
.zg-left {
    float: left;
}

.zg-link-litblue {
    font-size: 12px;
}

.zg-link-litblue, .zg-link-litblue-normal {
    color: #698ebf;
    font-weight: 400;
}

.zg-bull {
    padding: 0 3px;
    color: #BBB;
    font-family: Arial;
}


.zm-pm-item+.zm-pm-item{border-top:1px solid #eee}




.zg-section {
    margin: 0 0 10px;
    display: block;
}
.zg-editor-simple-wrap {
    border: 1px solid #999;
    padding: 4px 4px 0;
}
.zg-form-text-input, .zg-form-select {
    padding: 8px 10px;
    font-size: 13px;
    line-height: 15px;
    box-shadow: 0 1px 1px rgba(0,0,0,.1) inset;
    border-radius: 3px;
    background: #fff;
    border: 1px solid #ccc;
    color: #222;
}
textarea.zg-form-text-input, .zg-form-text-input>textarea {
    color: #222;
    overflow: hidden;
    min-height: 66px;
    line-height: 22px;
    font-size: 13px;
    padding: 0!important;
    margin: 0!important;
    border: 0 none;
}

.zg-editor-input {
    width: 100%;
    font-weight: 400;
    min-height: 66px;
    padding: 0;
    margin: 0;
    border: 0;
}
.zu-seamless-input-origin-element {
    overflow: hidden;
}
textarea {
    border: 0;
    border: 0;
    -moz-outline: 0;
    outline: 0;
    overflow: auto;
    resize: none;
    -webkit-appearance: none;
}
.zm-command {
    padding: 10px 0;
    text-align: right;
}
.is-hide{
    display:none;
}
.PushNotifications-tab-active{color:#262626}

.topics-plaza {
    margin-bottom: 20px;
    padding: 34px 0;
    border: 1px solid #cce1ef;
    border-radius: 4px;
    background: #eff6fA;
    text-align: center;
}
.topics-plaza a.text {
    display: block;
    margin-top: 20px;
    font-size: 13px;
    color: #5488b4;
}

a.zg-unfollow {
    color: #999;
}

.zm-topic-cat-sub .item {
    position: relative;
    float: left;
    width: 50%;
    list-style: none;
    border-bottom: 1px dotted #eee;
}
.zm-topic-cat-sub .blk {
    padding-left: 62px;
    margin: 18px 15px 18px 0;
}
.zm-topic-cat-sub .item.even .blk {
    margin-left: 15px;
    margin-right: 0;
}

.zm-topic-cat-sub  a.zg-follow {
    color: #259;
}

.zm-topic-cat-sub{
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 13px;
    line-height: 1.7;
    word-wrap: break-word;
}


.zm-topic-cat-sub .item{position:relative;float:left;width:50%;list-style:none;border-bottom:1px dotted #eee}
.zm-topic-cat-sub .item.no-border{border-color:transparent}
.zm-topic-cat-sub .item:nth-child(even) .blk{margin-left:15px;margin-right:0}
.zm-topic-cat-sub .item:nth-child(even) .follow{right:0}
.zm-topic-cat-sub .item:nth-child(even) img{left:15px}
.zm-topic-cat-sub .item.even .blk{margin-left:15px;margin-right:0}
.zm-topic-cat-sub .item.even .follow{right:0}
.zm-topic-cat-sub .item.even img{left:15px}
.zm-topic-cat-sub strong{max-width:12em}
.zm-topic-cat-sub img{top:23px}
.zm-topic-cat-sub p{height:40px;overflow:hidden}
.zm-topic-cat-sub .blk{padding-left:62px;margin:18px 15px 18px 0}
.zm-topic-cat-sub .follow{position:absolute;top:18px;right:15px}
.zm-topic-cat-hot .section{margin-bottom:12px;padding:10px;border:1px solid #d5d5d5;border-radius:3px;box-shadow:0 1px 0 #f2f2f2}
.zm-topic-cat-hot .head{position:relative;padding-left:62px;height:60px}
.zm-topic-cat-hot .head strong{max-width:14em}
.zm-topic-cat-hot li{padding:8px 0;list-style:none;border-top:1px dotted #eee}
.zm-topic-cat-sub strong,.zm-topic-cat-hot strong{display:inline-block;height:1.5em;word-wrap:normal;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
html.no-touchevents .zm-topic-cat-sub a:hover strong,html.no-touchevents .zm-topic-cat-hot a:hover strong{text-decoration:underline}
.zm-topic-cat-sub img,.zm-topic-cat-hot img{position:absolute;left:0;width:50px;height:50px;border-radius:3px}

.zh-general-list.topstory .feed-source .time{margin-left:0;float:none}
.zh-general-list.topstory .feed-meta .ignore{top:11px}

.clearfix{*zoom:1}
.clearfix:before,.clearfix:after{display:table;content:""}
.clearfix:after{clear:both}


.nav-tabs a {
    display: block;
    padding: 5px 15px;
    min-width: 45px;
    color: #259;
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: 2px 2px 0 0;
}

.zu-main.no-sidebar .zu-main-content {
    float: none;
}

.zu-main-content {
    float: left;
    width: 100%;
    height: 100%;
    min-height:340px;
}


.settings-section {
    margin-top: 10px;
    border-bottom: 1px solid #eee;
}
.settings-item {
    padding: 12px 0;
    width: 100%;
}
.settings-item-title {
    width: 65px;
    text-align: left;
    float: left;
}

label {
    cursor: default;
}

.settings-item-title+.settings-item-content {
    margin-left: 90px;
}

.zu-edit-button {
    color: #999;
    display: inline-block;
    font-size: 11px;
    -webkit-text-size-adjust: none;
    font-weight: 400;
    padding: 0 5px 0 2px;
    margin: 0 0 0 2px;
}

.settings-save {
    margin-top: 25px;
}

.zm-noti-header {
    font-weight: 700;
    font-size: 14px;
    padding-bottom: 10px;
    border-bottom: 1px solid #CCC;
    position: relative;
}
.zm-noti7-wrap .zm-item-more-wrap{border:0}

.zu-noti7-all .day{margin-top:10px}
.zu-noti7-all .day h3{font-size:13px}
.zu-noti7-all .items{border-top:1px solid #eee}
.zu-noti7-all .category .zg-icon{float:left;width:13px;height:13px;margin-top:13px}
.zu-noti7-all .category.vote .zg-icon{background-position:-180px -46px}
.zu-noti7-all .category.follow .zg-icon{background-position:-152px -46px}
.zu-noti7-all .category.answer .zg-icon{background-position:-166px -45px;margin-top:11px}
.zu-noti7-all .category.invite .zg-icon{background-position:-194px -46px}
.zu-noti7-all .category.edit .zg-icon{background-position:-221px -46px;margin-top:12px}
.zu-noti7-all .category.comment .zg-icon{background-position:-208px -46px}
.zu-noti7-all .category.mention .zg-icon{background-position:-235px -46px}
.zu-noti7-all .category+.category{border-top:1px dashed #eee}
.zu-noti7-all .zm-noti7-content-item{padding:8px 0;margin-left:20px;position:relative}
.zu-noti7-all .zm-noti7-content-item .OrgIcon{display:none}
.zu-noti7-all .zm-noti7-content-item+.zm-noti7-content-item{border-top:1px dashed #eee}
.zu-noti7-all .time{font-size:12px;color:#999;margin-left:8px}
.zu-noti7-all .unfold a,.zu-noti7-all .weak-link{color:#698ebf}
.zu-noti7-all .spinner{height:22px;display:block;background:url(/static/revved/img/spinner2.a45a3423.gif);background-repeat:no-repeat;background-position:0 3px;width:22px;text-indent:999px;overflow:hidden;margin-bottom:-8px}
.zu-noti7-all .zm-noti7-expandable .zm-noti7-content-item,.zu-noti7-all .unfold{border-top:1px dashed #eee}
.zu-noti7-all .loading,.zu-noti7-all .empty{padding:60px;text-align:center}
.zu-noti7-all .day a{color:#259}

.pull-left,.note-placeholder{
    color:#8590a6;
}

.QuestionAsk-section {
    margin-bottom: 2px;
}

.ModalButtonGroup--vertical {
    margin-top: 1px;
    margin-bottom: 1px;
}

.Step-inner {
    width: 320px;
    margin: 0 auto;
}
.PasswordReset {
    margin-top: 90px;
    position: relative;
}
.StepHeader-title {
    font-size: 24px;
    font-weight: 600;
    color: #1a1a1a;
}
.StepHeader-subtitle {
    margin: 4px 0 40px;
    font-size: 15px;
    font-weight: 400;
    color: #8590a6;
}
.PasswordReset-nextStep {
    display: block;
    width: 100%;
    margin-top: 32px;
    margin-bottom: 10px;
}

*{
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
/*----for write----------------*/
.Layout {
    background: #fff;
    min-height: 660px;
}
.Layout-main {
    margin: 47px auto 0;
    padding: 0;
    width: auto;
    z-index: 1;
}
.WriteIndex-titleInput {
    margin: 16px 0;
    border: 0;
    padding: 0;
    height: auto;
    width: 100%;
    position: relative;
}
.WriteIndex-titleInput .Input {
    height: 44px;
    min-height: 44px;
    display: block;
    width: 100%;
    border: 0;
    font-size: 32px;
    line-height: 1.4;
    font-weight: 600;
    font-synthesis: style;
    outline: none;
    box-shadow: none;
}
.note-editor.note-frame {
    border: 1px solid #e7eaf1;
    border-radius: 3px;
}
.note-btn.btn.btn-default.btn-sm {
    border-color: #fff;
}
.panel-default>.panel-heading {
    background-color:#fff;
    border-color: #fff;
}
.Wirte-content {
    font-size: 18px;
}
.Wirte-content  .panel-default>.panel-heading {
    border-color: #fff;
}

.Wirte-select {
    margin: 20px 0;
}
.Wirte-select .Input-wrapper {
    padding: 4px 5px;
    font-size: 24px;
    background: #fff;
    border-color: #fff;
}
.bootstrap-select .dropdown-toggle:focus {
    outline:None !important;
}
.btn-group.open .dropdown-toggle {
    -webkit-box-shadow: None !important;
    box-shadow: None !important;

}

.bs-searchbox .form-control {
    width: auto;
}
.form-control:focus{
    border-color: #aaa;
}
.btn-group:focus{
    border-color: #aaa !important;
}

/*----for article----------------*/

.App-main{padding-bottom:46px}
@media (max-width:690px){body{background:#fff}
html[data-theme=dark] body{background:#1a1a1a}
.App-main{padding:0}
}

.Post-Topics .Topic {
    padding-bottom: 0px !important;
}

.ContentItem-time{margin-top:10px;font-size:14px;color:#8590a6}
.ContentItem-time a:hover{border-bottom:1px solid rgba(133,144,166,.72)}
html[data-theme=dark] .ContentItem-time a:hover{border-bottom:1px solid rgba(96,106,128,.72)}
html[data-theme=dark] .ContentItem-time{color:#606a80}


.RichContent-actions{background:#fff;width:100%;bottom:0;left:0}
@media (min-width:690px){.RichContent-actions{margin-bottom:10px}
}
.RichContent-actions .ContentItem-actions{position:relative}
.RichContent-actions.is-fixed{border-bottom:0 solid transparent;border-bottom-width:constant(safe-area-inset-bottom);border-bottom-width:env(safe-area-inset-bottom);color:#646464;background:#fff}
@media (min-width:690px){.RichContent-actions.is-fixed{box-shadow:0 -1px 3px 0 rgba(26,26,26,.1);margin-bottom:0;width:100%!important;left:0!important}
.RichContent-actions.is-fixed .ContentItem-actions{margin-left:auto;margin-right:auto;margin-bottom:0;max-width:690px}
html[data-theme=dark] .RichContent-actions.is-fixed{box-shadow:0 -1px 3px 0 hsla(0,0%,60%,.1)}
}
@media (max-width:690px){.RichContent-actions.is-fixed .ContentItem-actions{margin-bottom:0;box-shadow:0 -1px 3px 0 rgba(26,26,26,.1)}
}
html[data-theme=dark] .RichContent-actions.is-fixed{color:#999;background:#1a1a1a}
@media (max-width:690px){.RichContent-actions{font-weight:600;font-synthesis:style;box-shadow:none}
html[data-ios] .RichContent-actions{font-weight:500}
html[data-android] .RichContent-actions{font-weight:700}
}
html[data-theme=dark] .RichContent-actions{background:#1a1a1a}



.TopicList{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row;-ms-flex-wrap:wrap;flex-wrap:wrap;-webkit-box-align:center;-ms-flex-align:center;align-items:center}
.TopicList .Topic:not(:last-child){margin-right:5px}
.TopicList .Topic+.Topic{vertical-align:middle}
.PostIndex-showReviewerButton{margin-left:2px}
.PostIndex-reviewers-userlink-wrapper{display:inline-block}
.TitleImage{display:block;margin:16px auto 0;width:690px}
@media (max-width:690px){.TitleImage{margin-top:0;width:100%}
}
.TitleImage--fullScreen{width:100%;padding-bottom:33.3%;background-size:cover;background-position:50%;margin-top:0}
@media (min-width:690px){.TitleImage--fullScreen{padding-top:52px}
}

.Post-Author{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center}
.Post-Author .AuthorInfo{-webkit-box-flex:1;-ms-flex:1;flex:1;white-space:nowrap;overflow:hidden}
.Post-Author .AuthorInfo-name{color:#444}
html[data-theme=dark] .Post-Author .AuthorInfo-name{color:gray}
.Post-Author .AuthorInfo-detail{color:#646464}
html[data-theme=dark] .Post-Author .AuthorInfo-detail{color:#999}
@media (max-width:690px){.Post-Author .AuthorInfo-name>.Popover>div{max-width:80px;vertical-align:top;overflow:hidden;text-overflow:ellipsis}
}
.Post-Author-Mobile{margin:0;padding:11.5px;border-bottom-color:#d3d3d3;border-bottom-style:solid;border-bottom-width:1px}
@media (-webkit-min-device-pixel-ratio:2),(min-resolution:192dpi){.Post-Author-Mobile{border-bottom-width:.5px}
}
@media (-webkit-min-device-pixel-ratio:3),(min-resolution:288dpi){.Post-Author-Mobile{border-bottom-width:.33333px}
}
@media (-webkit-min-device-pixel-ratio:4),(min-resolution:384dpi){.Post-Author-Mobile{border-bottom-width:.25px}
}
.Post-Author-Mobile .FollowButton{font-weight:600;font-synthesis:style;padding:0 12px;min-width:72px;line-height:30px}
html[data-ios] .Post-Author-Mobile .FollowButton{font-weight:500}
html[data-android] .Post-Author-Mobile .FollowButton{font-weight:700}
html[data-theme=dark] .Post-Author-Mobile{border-bottom-color:#2e2e2e}

.BlockTitle{font-weight:600;font-synthesis:style;line-height:1.375;font-size:16px;color:#1a1a1a;border-color:#ebebeb;border-bottom-style:solid;border-width:1px;padding-bottom:12px;margin-top:40px}
html[data-ios] .BlockTitle{font-weight:500}
html[data-android] .BlockTitle{font-weight:700}
@media (-webkit-min-device-pixel-ratio:2),(min-resolution:192dpi){.BlockTitle{border-width:.5px}
}
@media (-webkit-min-device-pixel-ratio:3),(min-resolution:288dpi){.BlockTitle{border-width:.33333px}
}
@media (-webkit-min-device-pixel-ratio:4),(min-resolution:384dpi){.BlockTitle{border-width:.25px}
}
html[data-theme=dark] .BlockTitle{color:#999;border-color:#444}
.Post-Button-ViewMore{display:block;width:100%;line-height:20px;padding:16px 0;font-size:14px;text-align:center;color:#8590a6}
html[data-theme=dark] .Post-Button-ViewMore{color:#606a80}
.MobilePostItem{display:-webkit-box;display:-ms-flexbox;display:flex;position:relative;border-color:#ebebeb;border-bottom-style:solid;border-width:1px}
@media (-webkit-min-device-pixel-ratio:2),(min-resolution:192dpi){.MobilePostItem{border-width:.5px}
}
@media (-webkit-min-device-pixel-ratio:3),(min-resolution:288dpi){.MobilePostItem{border-width:.33333px}
}
@media (-webkit-min-device-pixel-ratio:4),(min-resolution:384dpi){.MobilePostItem{border-width:.25px}
}
html[data-theme=dark] .MobilePostItem{border-color:#444}
.MobilePostItem-TitleImage{overflow:hidden;-o-object-fit:cover;object-fit:cover;border-radius:4px;vertical-align:top;width:113px;margin:16px auto 16px 10px;height:75px}
.MobilePostItem-Description{-webkit-box-flex:1;-ms-flex:1;flex:1;width:54%;margin:17.5px 10px 17.5px 0}
.MobilePostItem-Title{font-size:17px;line-height:1.5;font-weight:600;font-synthesis:style;color:#1a1a1a;display:-webkit-box;text-overflow:ellipsis;overflow:hidden;-webkit-line-clamp:2;-webkit-box-orient:vertical}
html[data-ios] .MobilePostItem-Title{font-weight:500}
html[data-android] .MobilePostItem-Title{font-weight:700}
html[data-theme=dark] .MobilePostItem-Title{color:#999}
.MobilePostItem-Summary{padding:4px 0;line-height:18.5px;font-size:14px;color:#444;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
html[data-theme=dark] .MobilePostItem-Summary{color:gray}
.MobilePostItem-Footer{padding-top:4px;font-size:13px;color:#999;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
html[data-theme=dark] .MobilePostItem-Footer{color:#646464}
.MobilePostItem-edited{border:1px solid #999;padding:1px 5px;font-size:10px;margin-right:7px;border-radius:4px}
html[data-theme=dark] .MobilePostItem-edited{border:1px solid #646464}
.PostItem{height:226px;width:245px;min-width:245px;border-radius:5px;box-shadow:0 6px 14px 0 rgba(26,26,26,.06);background:#fff;margin-right:14px;position:relative;overflow:hidden;transition:-webkit-transform .3s;transition:transform .3s;transition:transform .3s,-webkit-transform .3s}
.PostItem:hover{-webkit-transform:scale(1.04);transform:scale(1.04);z-index:9}
html[data-theme=dark] .PostItem{box-shadow:0 6px 14px 0 hsla(0,0%,60%,.06);background:#1a1a1a}
.PostItem-TitleImage{height:123px;width:245px;-o-object-fit:cover;object-fit:cover;border-top-left-radius:5px;border-top-right-radius:5px}
.PostItem-Title{font-weight:600;font-synthesis:style;font-size:16px;min-width:225px;color:#1a1a1a;line-height:22px;margin:12px;display:-webkit-box;text-overflow:ellipsis;overflow:hidden;-webkit-line-clamp:2;-webkit-box-orient:vertical}
html[data-ios] .PostItem-Title{font-weight:500}
html[data-android] .PostItem-Title{font-weight:700}
html[data-theme=dark] .PostItem-Title{color:#999}
.PostItem-Summary{font-size:14px;color:#1a1a1a;line-height:20px;margin:8px 12px;display:-webkit-box;-webkit-line-clamp:6;-webkit-box-orient:vertical;max-height:118px;overflow:hidden}
html[data-theme=dark] .PostItem-Summary{color:#999}
.PostItem-Footer{position:absolute;bottom:12px;left:12px;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;width:100%;font-size:14px;color:#8590a6;line-height:20px}
html[data-theme=dark] .PostItem-Footer{color:#606a80}
.PostItem-FooterTitle{margin-right:24px}
.PagingButton{width:48px;height:48px;border-radius:100px;background:#fff;box-shadow:0 6px 13px 0 rgba(26,26,26,.06);display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;cursor:pointer;margin-top:90px}
.PagingButton:hover{-webkit-transform:scale(1.04);transform:scale(1.04);z-index:9}
.PagingButton:disabled{visibility:hidden}
html[data-theme=dark] .PagingButton{background:#1a1a1a;box-shadow:0 6px 13px 0 hsla(0,0%,60%,.06)}
.PagingButton-Next{margin-left:40px}
.PagingButton-Previous{margin-right:40px}
.Recommendations-Main{background:#f6f6f6;position:relative;margin:24px auto!important}
html[data-theme=dark] .Recommendations-Main{background:#2e2e2e}
.Recommendations-List{display:-webkit-box;display:-ms-flexbox;display:flex;margin:32px auto;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}
@media (min-width:690px){.Recommendations-BlockTitle{width:690px;margin:24px auto 4px}
}

.Post-content{background:#fff}
@media (max-width:690px){.Post-content{padding-top:0}
}
@media (min-width:690px){.Post-content{min-width:1000px;overflow:hidden}
}
html[data-theme=dark] .Post-content{background:#1a1a1a}
.ContentItem-time{padding:16px 0}
@media (max-width:690px){.ContentItem-time{margin-top:10px}
}
.Post-NormalMain .Post-Header,.Post-NormalMain>div{overflow:hidden;width:690px;margin:0 auto}
.Post-NormalMain .Comments-container{border-top:52px solid transparent;margin:-52px auto 0!important}
.Post-NormalMain .Comments-pattern-loading{height:100vh}
.PostIndex-Contributes{margin-bottom:-8px!important;padding-top:30px}
.PostIndex-Contributes .BlockTitle{margin-top:0}
.Post-Main{box-sizing:border-box;overflow:hidden}
@media (max-width:690px){.Post-Main{width:100%;padding:0 16px 16px}
}
.Post-Main .Post-topicsAndReviewer{display:-webkit-box;display:-ms-flexbox;display:flex}
.Post-Main .ContentItem-actions.is-fixed{margin:0}
.Post-Main .Post-Title{font-weight:600;font-synthesis:style;font-size:24px;line-height:1.22;margin:24px 0}
html[data-ios] .Post-Main .Post-Title{font-weight:500}
html[data-android] .Post-Main .Post-Title{font-weight:700}
@media (max-width:690px){.Post-Main .Post-Title{margin:16px 0}
}
.Post-Main .Post-TimeExtra{font-weight:600;font-synthesis:style;font-size:16px;line-height:1.2;color:#8590a6}
html[data-ios] .Post-Main .Post-TimeExtra{font-weight:500}
html[data-android] .Post-Main .Post-TimeExtra{font-weight:700}
.Post-Main .Post-TimeExtra a{color:#0084ff}
html[data-theme=dark] .Post-Main .Post-TimeExtra a{color:#3a76d0}
html[data-theme=dark] .Post-Main .Post-TimeExtra{color:#606a80}
.Post-Main .PostIndex-warning{position:relative;margin-top:24px;padding:16px;box-shadow:0 2px 4px rgba(26,26,26,.06);border:1px solid #d3d3d3;border-radius:4px;line-height:1.5;padding-right:40px}
html[data-theme=dark] .Post-Main .PostIndex-warning{box-shadow:0 2px 4px hsla(0,0%,60%,.06);border:1px solid #2e2e2e}
.Post-Main .PostIndex-warningTitle{font-weight:600;font-synthesis:style;margin-bottom:8px}
html[data-ios] .Post-Main .PostIndex-warningTitle{font-weight:500}
html[data-android] .Post-Main .PostIndex-warningTitle{font-weight:700}
.Post-Main .PostIndex-warningContent,html[data-theme=dark] .Post-Main .PostIndex-warningContent{color:gray}
.Post-Main .PostIndex-warningHelp{color:#bfbfbf;position:absolute;right:16px;top:50%;margin-top:-12px}
html[data-theme=dark] .Post-Main .PostIndex-warningHelp{color:gray}
.Post-Main .Voters{display:block;margin:14px 0 16px;font-size:14px;color:#8590a6}
html[data-theme=dark] .Post-Main .Voters{color:#606a80}
.Post-Main .Annotation-mark{margin:16px auto 0}
.Post-Main .Post-RichText{margin:20px auto 0;font-size:16px;line-height:1.8;color:#1a1a1a}
.Post-Main .Post-RichText hr{border-top-color:#ebebeb;border-width:1px}
@media (-webkit-min-device-pixel-ratio:2),(min-resolution:192dpi){.Post-Main .Post-RichText hr{border-width:.5px}
}
@media (-webkit-min-device-pixel-ratio:3),(min-resolution:288dpi){.Post-Main .Post-RichText hr{border-width:.33333px}
}
@media (-webkit-min-device-pixel-ratio:4),(min-resolution:384dpi){.Post-Main .Post-RichText hr{border-width:.25px}
}
html[data-theme=dark] .Post-Main .Post-RichText hr{border-top-color:#444}
html[data-theme=dark] .Post-Main .Post-RichText{color:#999}
.Post-Main .Comments-withPagination{border:none;box-shadow:none;margin:0!important}
.Post-Main .Post-TopicsReviewer{-webkit-box-flex:0;-ms-flex:0 0 50%;flex:0 0 50%}
.Post-Main .Post-Topics{margin-bottom:-10px;padding:16px 0}
.Post-Main .Post-Topics .Topic{height:33px;font-size:13px;line-height:33px;overflow:hidden;margin-bottom:10px}
.Post-Main .PostIndex-reviewers{margin-top:16px;margin-bottom:16px;-webkit-box-flex:50%;-ms-flex:50%;flex:50%;-webkit-box-pack:end;-ms-flex-pack:end;justify-content:flex-end;text-align:right;color:#8590a6;font-size:14px}
html[data-theme=dark] .Post-Main .PostIndex-reviewers{color:#606a80}
.Post-Main .PostIndex-reviewers-left{text-align:right}
.Post-Main .OpenInAppButton.is-shown{-webkit-transform:translate(-50%,-75px);transform:translate(-50%,-75px)}
.Post-Main .OpenInAppButton{margin-bottom:constant(safe-area-inset-bottom);margin-bottom:env(safe-area-inset-bottom)}
/*----for article----------------*/

/************for comment****************/
.Mobile-body .CommentEditor--normal {
    position: relative;
}
.CommentItem.CommentItem--border{border: 1px solid #ddd;background-color:#f6f6f6;}
/************for question page****************/
.MobileQuestionButtonGroup .Button {
    margin-right: 10px;
}

.QuestionHeader .Topic {
    padding-bottom: 0px !important;
    margin-bottom: 10px;
}




